{# @let TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}
{# @let video \App\VideoBasedMarketing\Recordings\Domain\Entity\Video #}

{% trans_default_domain 'videobasedmarketing.lingo_sync' %}


{% if TwigHelperService.capabilitiesService.canTranslateVideos(app.user) %}

    <div class="flex flex-row justify-between mb-4">

        <div class="flex flex-row gap-2 items-center text-black">
            <span class="font-bold">{{ 'start_process_modal.headline'|trans }}</span>
        </div>

        <button
                class=""
                data-action="live#action"
                data-action-name="hideLingoSyncModal"
        >
            {# Heroicon: x-mark solid #}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd"
                      d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
                      clip-rule="evenodd"/>
            </svg>
        </button>
    </div>

    <div class="flex flex-row gap-2 justify-center items-start w-full">

        <form
                action="{{ path('videobasedmarketing.lingo_sync.presentation.process.start') }}"
                method="post"
        >
            <input
                    type="hidden"
                    name="_csrf_token"
                    value="{{ csrf_token(
                        'start-lingo-sync-process-'
                        ~ video.id
                    ) }}"
            >

            <input
                    type="hidden"
                    name="videoId"
                    value="{{ video.id }}"
            >

            <div class="mt-8 mb-2 font-semibold">
                {{ 'start_process_modal.choose_original_language'|trans }}
            </div>

            <div class="grid sm:grid-cols-2">
                {% for languageCode in TwigHelperService.lingoSyncDomainService.supportedOriginalLanguages %}
                    <div class="mb-0.5">
                        <input
                                class="radio-default"
                                type="radio"
                                name="originalLanguage"
                                value="{{ languageCode.value }}"
                                id="lingoSync-originalLanguage-{{ languageCode.value }}"
                                required
                        >
                        <label for="lingoSync-originalLanguage-{{ languageCode.value }}">
                            <span>
                                {{ (('start_process_modal.language.' ~ languageCode.value)|trans) | split('(', 2)[0] }}
                            </span>
                            <span class="text-xs font-extralight text-neutral-500">
                                {{ (('start_process_modal.language.' ~ languageCode.value)|trans) | split('(', 2)[1] | split(')', 2)[0] }}
                            </span>
                        </label>
                    </div>
                {% endfor %}
            </div>



            <div class="mt-8 mb-2 font-semibold">
                {{ 'start_process_modal.choose_original_gender'|trans }}
            </div>

            {% for gender in TwigHelperService.lingoSyncDomainService.supportedOriginalGenders %}
                <div class="mb-0.5">
                    <input
                            class="radio-default"
                            type="radio"
                            name="originalGender"
                            value="{{ gender.value }}"
                            id="lingoSync-originalGender-{{ gender.value }}"
                            required
                    >
                    <label for="lingoSync-originalGender-{{ gender.value }}">
                        {{ ('start_process_modal.gender.' ~ gender.value)|trans }}
                    </label>
                </div>
            {% endfor %}


            <div class="mt-8 mb-2 font-semibold">
                {{ 'start_process_modal.choose_target_language'|trans }}
            </div>

            <div class="grid sm:grid-cols-2">
                {% for languageCode in TwigHelperService.lingoSyncDomainService.supportedTargetLanguages %}
                    <div class="mb-0.5">
                        <input
                                class="radio-default"
                                type="radio"
                                name="targetLanguage"
                                value="{{ languageCode.value }}"
                                id="lingoSync-targetLanguage-{{ languageCode.value }}"
                                required
                        >
                        <label for="lingoSync-targetLanguage-{{ languageCode.value }}">
                            <span>
                                {{ (('start_process_modal.language.' ~ languageCode.value)|trans) | split('(', 2)[0] }}
                            </span>
                            <span class="text-xs font-extralight text-neutral-500">
                                {{ (('start_process_modal.language.' ~ languageCode.value)|trans) | split('(', 2)[1] | split(')', 2)[0] }}
                            </span>
                        </label>
                    </div>
                {% endfor %}
            </div>

            <div class="w-full mt-8 flex flex-row gap-2 justify-between items-center">
                <button
                        type="submit"
                        class="cta-with-icon-primary"
                >
                    {{ 'start_process_modal.cta_submit'|trans }}
                </button>

                <a
                        class="text-sm text-neutral-700 mr-4"
                        href="{{ path(
                            'videobasedmarketing.lingo_sync.presentation.processes.status',
                            { videoId: video.id }
                        ) }}"
                >
                    {{ 'start_process_modal.cta_show_status'|trans }}
                </a>
            </div>
        </form>
    </div>

{% else %}

    <div class="w-full text-center">

        <div class="text-lg font-semibold mb-16">
            {{ 'start_process_modal.not_yet_available.headline'|trans }}
        </div>

        <div class="mb-4">
            {{ 'start_process_modal.not_yet_available.text'|trans }}
        </div>

        <div class="w-full text-xl font-bold text-center mb-16">
            {{ TwigHelperService.LingoSyncDomainService.countdownToLaunch }}
        </div>

        <div class="w-full flex flex-row justify-center items-center">
            <button
                    class="cta-with-icon-primary"
                    data-action="live#action"
                    data-action-name="hideLingoSyncModal"
            >
                {{ 'start_process_modal.not_yet_available.cta_close'|trans }}
            </button>
        </div>

    </div>

{% endif %}
