{% extends 'base.html.twig' %}

{# @var RecordingsService \App\Service\Feature\Recordings\RecordingsService #}

{% block title %}{{ 'mainnav.recordings'|trans }}{% endblock %}
{% block contentTitle %}{{ 'mainnav.recordings'|trans }}{% endblock %}

{% block body %}

    {% embed 'embeds/default_content_box.html.twig' %}
        {% block contentBoxTitle %}
            {{ 'feature.recordings.recording_sessions_overview.title'|trans({ numberOfRecordingSessions: RecordingsService.recordingSessionsWithFullVideo(app.user)|length}) }}
        {% endblock %}

        {% block contentBoxSubtitle %}
            {{ 'feature.recordings.recording_sessions_overview.subtitle'|trans }}
        {% endblock %}

        {% block contentBoxContent %}

            {% import 'macros/form_elements.html.twig' as formElements %}

            {% if RecordingsService.recordingSessionsWithFullVideo(app.user)|length > 0 %}

                <div class="bg-white">

                    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-10 sm:px-6 lg:max-w-7xl lg:px-8">

                        <div class="grid grid-cols-1 gap-y-32 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">

                            {% for recordingSession in RecordingsService.recordingSessionsWithFullVideo(app.user) %}
                                <a href="#" class="group">
                                    <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
                                        <img
                                            class="w-full h-full object-center object-cover group-hover:opacity-75"
                                            src="{{ path('feature.recordings.recording_session.full_video_preview_image.get', { recordingSessionId: recordingSession.id }) }}"
                                        >
                                    </div>
                                    <h3 class="mt-4 text-sm text-gray-700">{{ recordingSession.createdAt|date('dateformat.datetime_normal'|trans) }}</h3>

                                    {{ formElements.primaryCtaButton('Präsentationsseite erstellen') }}

                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="p-10">
                <div class="border-4 border-dashed border-gray-300 rounded-lg {% if RecordingsService.recordingSessionsWithFullVideo(app.user)|length > 0 %} h-24 {% else %} h-96 {% endif %}">

                    <div class="flex justify-center items-center h-full w-full">
                        <!-- Heroicon name: solid/plus-circle -->
                        <a href="{{ path('feature.recordings.recording-studio') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-indigo-600 hover:text-indigo-700" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
                            </svg>
                        </a>
                        <a href="{{ path('feature.recordings.recording-studio') }}">
                            {{ 'feature.recordings.recording_sessions_overview.cta.add'|trans }}
                        </a>
                    </div>

                </div>
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}
