{% extends 'base.html.twig' %}

{# @var VideoService \App\Service\Feature\Recordings\VideoService #}

{% block title %}{{ 'mainnav.recordings'|trans }}{% endblock %}
{% block contentTitle %}{{ 'mainnav.recordings'|trans }}{% endblock %}

{% block body %}

    {% embed 'embeds/default_content_box.html.twig' %}
        {% block contentBoxTitle %}
            {{ 'feature.recordings.videos_overview.title'|trans({ numberOfRecordingSessions: VideoService.availableVideos(app.user)|length}) }}
        {% endblock %}

        {% block contentBoxSubtitle %}
            {{ 'feature.recordings.videos_overview.subtitle'|trans }}
        {% endblock %}

        {% block contentBoxContent %}

            {% import 'macros/form_elements.html.twig' as formElements %}

            <div class="p-10">
                <div class="border-4 border-dashed border-gray-300 rounded-lg {% if VideoService.availableVideos(app.user)|length > 0 %} h-24 {% else %} h-96 {% endif %}">

                    <div class="flex justify-center items-center h-full w-full">
                        <!-- Heroicon name: solid/plus-circle -->
                        <a href="{{ path('feature.recordings.recording_studio') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-indigo-600 hover:text-indigo-700" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
                            </svg>
                        </a>
                        <a href="{{ path('feature.recordings.recording_studio') }}">
                            {{ 'feature.recordings.videos_overview.cta.add'|trans }}
                        </a>
                    </div>

                </div>
            </div>

            {% if VideoService.availableVideos(app.user)|length > 0 %}

                <div class="flex flex-wrap gap-2 bg-white justify-start">

                    {% for video in VideoService.availableVideos(app.user) %}
                        {# @var video \App\Entity\Feature\Recordings\Video #}

                        <div class="flex flex-col gap-4 m-6 justify-between sm:max-w-md sm:w-72">

                            <div class="bg-gray-50 rounded-md shadow-md shadow-gray-200">

                                <div
                                        {{ stimulus_controller('feature/recordings/videoPreview') }}
                                        data-action="
                                                focus->feature--recordings--videoPreview#showAnimated
                                                click->feature--recordings--videoPreview#showAnimated
                                                mouseover->feature--recordings--videoPreview#showAnimated
                                                mouseout->feature--recordings--videoPreview#showStill
                                                blur->feature--recordings--videoPreview#showStill
                                            "
                                >
                                    <div {{ stimulus_target('feature/recordings/videoPreview', 'stillImage') }}>
                                        <img class="rounded-md" src="{{ VideoService.posterStillAssetUrl(video) }}" alt=""/>
                                    </div>
                                    <div class="hidden" {{ stimulus_target('feature/recordings/videoPreview', 'animatedImage') }}>
                                        <img class="rounded-md" src="{{ VideoService.posterAnimatedAssetUrl(video) }}" alt=""/>
                                    </div>
                                </div>

                            </div>

                            <div class="flex flex-col gap-4">

                                {% if video.presentationpages is empty %}
                                    <a
                                            href="{{ path('feature.presentationpages.create_from_video', { videoId: video.id }) }}"
                                            class="cta-link-success"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline align-bottom" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                        {{ 'feature.recordings.videos_overview.cta.create_presentationpage'|trans }}
                                    </a>
                                {% else %}
                                    <a
                                            href="{{ path('feature.presentationpages.editor', { presentationpageId: video.presentationpages.first.id }) }}"
                                            class="cta-link-primary"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline align-bottom" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                        </svg>
                                        {{ 'feature.recordings.videos_overview.cta.edit_presentationpage'|trans }}
                                    </a>
                                {% endif %}

                                <a href="#" class="cta-link-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                    {{ 'feature.recordings.videos_overview.cta.remove_video'|trans }}
                                </a>

                                <p>
                                    {{ 'dateformat.datetime_normal'|trans({ 'date': video.createdAt|format_datetime('long', 'short', locale=app.request.locale, timezone=client_timezone) }) }}
                                </p>

                                <p class="text-gray-500 font-medium">
                                    {{ component('feature_recordings_video_seconds', { video: video }) }}
                                </p>

                            </div>

                        </div>

                    {% endfor %}

                </div>

            {% endif %}
        {% endblock %}
    {% endembed %}

{% endblock %}
