{% extends 'base.html.twig' %}

{# @var VideoService \App\Service\Feature\Recordings\VideoService #}

{% block title %}{{ 'mainnav.recordings'|trans }}{% endblock %}
{% block contentTitle %}{{ 'mainnav.recordings'|trans }}{% endblock %}

{% block body %}

    {% embed 'embeds/default_content_box.html.twig' %}
        {% block contentBoxTitle %}
            {{ 'feature.recordings.videos_overview.title'|trans({ numberOfRecordingSessions: VideoService.availableVideos(app.user)|length}) }}
        {% endblock %}

        {% block contentBoxSubtitle %}
            {{ 'feature.recordings.videos_overview.subtitle'|trans }}
        {% endblock %}

        {% block contentBoxContent %}

            {% import 'macros/form_elements.html.twig' as formElements %}

            <div class="p-10">
                <div class="border-4 border-dashed border-gray-300 rounded-lg {% if VideoService.availableVideos(app.user)|length > 0 %} h-24 {% else %} h-96 {% endif %}">

                    <div class="flex justify-center items-center h-full w-full">
                        <!-- Heroicon name: solid/plus-circle -->
                        <a href="{{ path('feature.recordings.recording_studio') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-indigo-600 hover:text-indigo-700" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
                            </svg>
                        </a>
                        <a href="{{ path('feature.recordings.recording_studio') }}">
                            {{ 'feature.recordings.videos_overview.cta.add'|trans }}
                        </a>
                    </div>

                </div>
            </div>

            {% if VideoService.availableVideos(app.user)|length > 0 %}

                <div class="bg-white">

                    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-10 sm:px-6 lg:max-w-7xl lg:px-8">

                        <div class="group grid grid-cols-1 gap-y-32 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">

                            {% for video in VideoService.availableVideos(app.user) %}
                                {# @var video \App\Entity\Feature\Recordings\Video #}

                                <div>

                                    <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
                                        <img class="w-full" src="{{ VideoService.posterStillAssetUrl(video) }}"/>
                                    </div>

                                    <div class="mt-4 mb-2 text-sm text-gray-700">{{ video.createdAt|date('dateformat.datetime_normal'|trans) }}</div>

                                    {% if video.assetFullMp4Fps is not null %}
                                        <div class="mt-2 mb-2 text-sm text-gray-700">{{ video.assetFullMp4Fps }} {{ 'feature.recordings.frames_per_second'|trans }}</div>
                                    {% endif %}

                                    {% if video.assetFullMp4Seconds is not null %}
                                        <div class="mt-2 mb-2 text-sm text-gray-700">{{ 'feature.recordings.seconds'|trans({seconds: video.assetFullMp4Seconds|round(0)}) }}</div>
                                    {% endif %}

                                    <a
                                        href="
                                            {% if video.presentationpages is empty %}
                                                {{ path('feature.presentationpages.create_from_video', { videoId: video.id }) }}
                                            {% else %}
                                                {{ path('feature.presentationpages.editor', { presentationpageId: video.presentationpages.first.id }) }}
                                            {% endif %}
                                        "
                                    >
                                        {% if video.presentationpages is empty %}
                                            {{ formElements.primaryCtaButton('feature.recordings.videos_overview.cta.create_presentationpage'|trans) }}
                                        {% else %}
                                            {{ formElements.primaryCtaButton('feature.recordings.videos_overview.cta.edit_presentationpage'|trans) }}
                                        {% endif %}
                                    </a>

                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}

{% endblock %}
