{% extends 'base.html.twig' %}

{# @var VideoService \App\Service\Feature\Recordings\VideoService #}

{% block title %}{{ 'mainnav.recordings'|trans }}{% endblock %}
{% block contentTitle %}{{ 'mainnav.recordings'|trans }}{% endblock %}

{% block body %}

    {% embed 'embeds/default_content_box.html.twig' %}
        {% block contentBoxTitle %}
            {{ 'feature.recordings.videos_overview.title'|trans({ numberOfRecordingSessions: VideoService.availableVideos(app.user)|length}) }}
        {% endblock %}

        {% block contentBoxSubtitle %}
            {{ 'feature.recordings.videos_overview.subtitle'|trans }}
        {% endblock %}

        {% block contentBoxContent %}

            {% import 'macros/form_elements.html.twig' as formElements %}

            <div class="mb-4 border-1 border-dotted border-gray-400 rounded-md">

                <div class="flex justify-center items-center h-full w-full">
                    <!-- Heroicon name: solid/plus-circle -->
                    <a href="{{ path('feature.recordings.recording_studio') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-indigo-600 hover:text-indigo-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
                        </svg>
                    </a>
                    <a href="{{ path('feature.recordings.recording_studio') }}">
                        {{ 'feature.recordings.videos_overview.cta.add'|trans }}
                    </a>
                </div>

            </div>

            {% if VideoService.availableVideos(app.user)|length > 0 %}

                <div class="
                        border-1
                        border-gray-300
                        rounded-md
                        divide-y
                        divide-gray-300
                        bg-white
                ">

                    {% for video in VideoService.availableVideos(app.user) %}
                        {# @var video \App\Entity\Feature\Recordings\Video #}
                        <div class="
                                grid
                                flex
                                flex-col
                                md:grid-cols-3
                                p-4
                                items-start
                                gap-8
                        ">
                            <div
                                    class="
                                        bg-gray-900
                                        rounded-md
                                        shadow-md
                                        shadow-gray-100
                                    "

                                    {{ stimulus_controller('feature/recordings/videoPreview') }}
                                    data-action="
                                            focus->feature--recordings--videoPreview#showAnimated
                                            click->feature--recordings--videoPreview#showAnimated
                                            mouseover->feature--recordings--videoPreview#showAnimated
                                            mouseout->feature--recordings--videoPreview#showStill
                                            blur->feature--recordings--videoPreview#showStill
                                        "
                            >
                                <div {{ stimulus_target('feature/recordings/videoPreview', 'stillImage') }}>
                                    <img class="rounded-md object-cover w-full" src="{{ VideoService.posterStillAssetUrl(video) }}" alt=""/>
                                </div>
                                <div class="hidden" {{ stimulus_target('feature/recordings/videoPreview', 'animatedImage') }}>
                                    <img class="rounded-md object-cover w-full" src="{{ VideoService.posterAnimatedAssetUrl(video) }}" alt=""/>
                                </div>
                            </div>

                            <div class="flex flex-col">
                                <p>
                                    {{ 'dateformat.datetime_normal'|trans({ 'date': video.createdAt|format_datetime('long', 'short', locale=app.request.locale, timezone=client_timezone) }) }}
                                </p>

                                <p class="text-gray-500">
                                    {{ component('feature_recordings_video_seconds', { video: video }) }}
                                </p>
                            </div>

                            <div class="
                                    text-right
                                    items-end
                                    flex
                                    flex-col
                            ">
                            {% if video.presentationpages is empty %}
                                    <a
                                            href="{{ path('feature.presentationpages.create_page_from_video_form', { videoId: video.id }) }}"
                                            class="cta-link-success-small"
                                            type="submit"
                                    >
                                        {{ 'feature.recordings.videos_overview.cta.create_presentationpage'|trans }}
                                    </a>
                                {% else %}
                                    <form
                                            action="{{ path('feature.presentationpages.draft.create', { presentationpageId: video.presentationpages.first.id }) }}"
                                            method="post"
                                    >
                                        <button
                                                class="cta-link-primary-small"
                                        >
                                            {{ 'feature.recordings.videos_overview.cta.edit_presentationpage'|trans }}
                                        </button>
                                    </form>
                                {% endif %}

                            </div>

                        </div>
                    {% endfor %}

                </div>

            {% endif %}
        {% endblock %}
    {% endembed %}

{% endblock %}
