{# @var this \App\Components\Feature\Recordings\VideoEditFormLiveComponent #}
<div {{ attributes }}>

    {% embed 'embeds/two_column_content_box_content_row.html.twig' with { odd: false, colspanLeft: 7, colspanRight: 5 } %}

        {% block contentLeft %}

            {% form_theme form 'form_themes/form_theme_default.html.twig' %}

            {{ form_start(this.form) }}


            {{ form_row(this.form.title, {
                attr: {
                    'data-model': 'on(input)|debounce(250)|' ~ this.form.title.vars.full_name,
                    'data-action': 'live#action',
                    'data-action-name': "debounce(300)|save"
                }
            }) }}

            {{ form_row(this.form.videoOnlyPresentationpageTemplate, {
                attr: {
                    'data-action': 'live#action',
                    'data-action-name': "save"
                }
            }) }}

            <button class="cta-link-success">
                {{ 'feature.recordings.video_edit_form.cta_submit'|trans }}
            </button>

            {{ form_end(this.form) }}

        {% endblock %}



        {% block contentRight %}

        {% endblock %}

    {% endembed %}

</div>
