{% extends '@shared/base_extension_only_user.html.twig' %}

{% trans_default_domain 'videobasedmarketing.account' %}

{% block title %}{{ 'sign_up.title'|trans }}{% endblock %}
{% block contentTitle %}{{ 'sign_up.content_title'|trans }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="mt-16">
        <div class="min-h-full flex items-center justify-center py-0 px-4 sm:px-6 lg:px-8">
            <div class="max-w-md w-full space-y-8">
                {{ form_start(signUpForm) }}

                <div class="mt-8 space-y-6">

                    {% if form_errors(signUpForm.email) %}
                        {% for error in signUpForm.email.vars.errors.form.getErrors(true) %}
                            <p class="text-red-800">{{ error.message|trans }}</p>
                        {% endfor %}
                    {% endif %}

                    {% if form_errors(signUpForm.plainPassword) %}
                        {% for error in signUpForm.plainPassword.vars.errors.form.getErrors(true) %}
                            <p class="text-red-800">{{ error.message|trans }}</p>
                        {% endfor %}
                    {% endif %}

                    <input type="hidden" name="remember" value="true">
                    <div class="rounded-md -space-y-px">
                        <div>
                            <label for="{{ signUpForm.children.email.vars.id }}" class="sr-only">
                                {{ 'sign_up.placeholder.email'|trans }}
                            </label>
                            <input
                                    id="{{ signUpForm.children.email.vars.id }}"
                                    name="{{ signUpForm.children.email.vars.full_name }}"
                                    type="email"
                                    autocomplete="email"
                                    required
                                    class="appearance-none rounded-none relative block h-16 w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-mercurius-blue-500 focus:border-mercurius-blue-500 focus:z-10 sm:text-sm"
                                    placeholder="{{ 'sign_up.placeholder.email'|trans }}"
                            />
                        </div>
                        <div>
                            <label for="{{ signUpForm.children.plainPassword.vars.id }}" class="sr-only">
                                {{ 'sign_up.placeholder.password'|trans }}
                            </label>
                            <input
                                    id="{{ signUpForm.children.plainPassword.vars.id }}"
                                    name="{{ signUpForm.children.plainPassword.vars.full_name }}"
                                    type="password"
                                    autocomplete="current-password"
                                    required
                                    class="appearance-none rounded-none relative block h-16 w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-mercurius-blue-500 focus:border-mercurius-blue-500 focus:z-10 sm:text-sm"
                                    placeholder="{{ 'sign_up.placeholder.password'|trans }}"
                            />
                        </div>
                    </div>

                    <div class="flex items-center justify-between">
                        {% if form_errors(signUpForm.agreeTerms) %}
                            {% for error in signUpForm.agreeTerms.vars.errors.form.getErrors(true) %}
                                <p class="text-red-800">{{ error.message|trans }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="flex items-center">
                            <input
                                    id="{{ signUpForm.children.agreeTerms.vars.id }}"
                                    name="{{ signUpForm.children.agreeTerms.vars.full_name }}"
                                    type="checkbox"
                                    class="h-4 w-4 text-mercurius-blue-600 focus:ring-mercurius-blue-500 border-gray-300 rounded"
                            >
                            <label for="{{ signUpForm.children.agreeTerms.vars.id }}" class="ml-2 block text-sm text-gray-900">
                                {{ 'sign_up.cta.accept_terms'|trans }}
                            </label>
                        </div>
                    </div>

                    <div>
                        <button
                                data-test-id="signUpSubmitCta"
                                type="submit"
                                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-mercurius-blue-500 hover:bg-mercurius-blue-700 md:py-4 md:text-lg md:px-10"
                        >
                            {{ 'sign_up.cta.sign_up'|trans }}
                        </button>
                    </div>
                </div>

                {{ form_row(signUpForm._token) }}

                {{ form_end(signUpForm, {'render_rest': false}) }}

            </div>
        </div>

        <div class="mt-16 min-h-full flex items-center justify-center py-0 px-4 sm:px-6 lg:px-8 text-gray-500 font-light">
            —&nbsp;&nbsp;&nbsp;{{ 'sign_up.or'|trans }}&nbsp;&nbsp;&nbsp;—
        </div>

        <div class="mt-16 mb-16 min-h-full flex items-center justify-center py-0 px-4 sm:px-6 lg:px-8">
            <div class="max-w-md space-y-8 w-full">
                <div class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    <div class="border border-gray-200 rounded-md divide-y divide-gray-200 bg-mercurius-blue-50">
                        <div class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                            <div class="w-0 flex-1 flex items-center">
                                <div class="ml-2 flex-1 w-0">
                                    <p class="font-bold mb-2">
                                        {{ 'sign_up.sign_up_with_linkedin_question'|trans }}
                                    </p>
                                    <p>
                                        {{ 'sign_up.sign_up_with_linkedin_info'|trans }}
                                    </p>
                                </div>
                            </div>
                            <div class="ml-4 flex-shrink-0">
                                <a
                                        href="{{ path('videobasedmarketing.account.infrastructure.thirdpartyauth.linkedin.start') }}"
                                        class="text-center flex items-center justify-center rounded-md border border-transparent bg-mercurius-blue-500 px-6 py-6 text-xs font-medium text-white hover:bg-mercurius-blue-700"
                                >
                                    {{ 'sign_up.cta.sign_up_with_linkedin'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
