{% extends '@shared/base_default.html.twig' %}

{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

{% block body %}

    {% embed '@shared/embeds/default_content_box.html.twig' %}

        {% trans_default_domain 'videobasedmarketing.organization' %}

        {% block contentBoxTitle %}
            {{ 'organization.create_form.title'|trans }}
        {% endblock %}

        {% block contentBoxSubtitle %}{% endblock %}

        {% block contentBoxContent %}

            {% include '@videobasedmarketing.recordings/includes/back_to_videos_overview.html.twig' %}

            <div class="w-full max-w-4xl">
                <p class="font-bold">
                    {{ 'organization.create_form.info1'|trans }}
                </p>

                <p class="mt-4">
                    {{ 'organization.create_form.info2'|trans }}
                </p>

                <form
                        class="mt-8"
                        action="{{ path('videobasedmarketing.organization.create') }}"
                        method="post"
                >
                    <input type="hidden" name="csrf_token" value="{{ csrf_token('create-organization') }}">
                    <button
                            class="cta-with-icon-primary"
                            type="submit"
                    >
                        {{ 'organization.create_form.cta'|trans }}
                    </button>
                </form>
            </div>
        {% endblock %}

    {% endembed %}

{% endblock %}
