{% extends '@shared/base_default.html.twig' %}

{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

{% block title %}{{ 'sidenav.recordings'|trans }}{% endblock %}
{% block contentTitle %}{{ 'sidenav.recordings'|trans }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}

    <script defer="defer" src="{{ asset('assets/native-browser-recorder/main.3931ecd8.js') }}"></script>

{% endblock %}

{% block body %}

    {% embed '@shared/embeds/default_content_box.html.twig' %}

        {% trans_default_domain 'videobasedmarketing.recordings' %}

        {% block contentBoxTitle %}
            {{ 'native_browser_recorder.title'|trans }}
        {% endblock %}

        {% block contentBoxContent %}

            {% include '@videobasedmarketing.recordings/includes/back_to_videos_overview.html.twig' %}

            <div class="mb-9">
                {{ 'native_browser_recorder.intro_note'|trans }}
            </div>

            <div class="bg-neutral-100 rounded-md shadow-inner">
                <mercurius-web-recorder
                        init-id="v1stGXR8Z5jdHi6B"
                        brand-color="#009EE2"
                        brand-dark-color="#0185BD"
                        primary-color="#84CC16"
                        primary-dark-color="#65A30D"
                        accent-color="#fd5f00"
                        container-width="100%"
                        container-height="600px"
                >
                </mercurius-web-recorder>
            </div>

            <div class="mt-9 bg-mercurius-blue-50 p-4 px-6 rounded-md text-mercurius-blue-700 text-center">
                <span class="font-bold">{{ 'native_browser_recorder.screen_clip_note.title'|trans }}</span>
                {{ 'native_browser_recorder.screen_clip_note.text1'|trans }}
                {{ 'native_browser_recorder.screen_clip_note.text2'|trans }}
            </div>

        {% endblock %}

    {% endembed %}

{% endblock %}
