{% extends '@shared/base_landingpage.html.twig' %}

{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}
{# @var video \App\VideoBasedMarketing\Recordings\Domain\Entity\Video #}

{% block title %}{{ video.title }}{% endblock %}
{% block contentTitle %}{{ 'mainnav.recordings'|trans }}{% endblock %}

{% block metatags %}
    <meta property="og:title" content="Fyyn.io - record your screen and camera with one click">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{
        url(
            'videobasedmarketing.recordings.presentation.video.share_link',
            { videoShortId: video.shortId }
        )
    }}">
    <meta property="og:image" content="{{ TwigHelperService.recordingsInfrastructureService.videoPosterStillWithPlayOverlayForEmailAssetUrl(video) }}">
    <meta property="og:description" content="Record your screen and camera with one click - no special skills or additional software required.">
    <meta property="og:site_name" content="Fyyn.io">
    <meta property="og:locale" content="en">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@smartdsgvo">
    <meta property="twitter:creator" content="@smartdsgvo">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor-static/Video.js/7.20.3/video-js.min.css') }}">

    {{ encore_entry_link_tags('videoplayer') }}

    <style>
        .video-js-logo-image {
            width: 100px;
            height: 40px;
            background: url({{ asset('assets/images/videoplayer/fyyn-logo-player.jpg') }}) center center no-repeat;
            background-size: 100px;
        }

        .video-js, .vjs-poster {
            background-color: transparent;
            height: fit-content;
            min-height: 700px;
        }

        .video-js.vjs-16-9:not(.vjs-audio-only-mode) {
            padding-top: 15.25%;
            height: fit-content;
            min-height: 700px;
        }

        @media only screen and (max-width: 1280px) {
            .video-js, .vjs-poster {
                min-height: 350px;
            }

            .video-js.vjs-16-9:not(.vjs-audio-only-mode) {
                min-height: 350px;
            }
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor-static/Video.js/7.20.3/video.min.js') }}"></script>

    <script>
        videojs('video-js-player').ready(function() {
            const img = this.controlBar.addChild('Component', {}, 0);
            img.addClass('video-js-logo-image');
        });
    </script>
{% endblock %}

{% block body %}

    {% trans_default_domain 'videobasedmarketing.recordings' %}

    {% if TwigHelperService.videoDomainService.userIsOwnerOfVideo(app.user, video) %}
        <div
                data-test-id="videoShowWithVideoOnlyPresentationpageTemplateOwnerViewNote"
                class="
                    bg-mercurius-blue-50 font-extralight text-mercurius-blue-900 p-4
                    text-right
                    flex flex-row justify-start items-center gap-6
                "
        >
            {% if TwigHelperService.capabilitiesService.capability(
                app.user,
                constant('\\App\\VideoBasedMarketing\\Account\\Domain\\Enum\\Capability::CustomLogoOnLandingpage')
            ) is same as false
            %}
                <div class="w-fit text-left font-semibold">
                    <a
                            class="flex flex-col w-fit items-center gap-4"
                            href="{{
                                path(
                                    'videobasedmarketing.membership.presentation.show_upgrade_offer.for_capabilities',
                                    { capabilityNames: [
                                        constant('\\App\\VideoBasedMarketing\\Account\\Domain\\Enum\\Capability::CustomLogoOnLandingpage').value,
                                        constant('\\App\\VideoBasedMarketing\\Account\\Domain\\Enum\\Capability::CustomDomain').value,
                                        constant('\\App\\VideoBasedMarketing\\Account\\Domain\\Enum\\Capability::AdFreeLandingpages').value
                                    ] }
                                )
                            }}"
                    >
                        <div class="flex flex-row items-center gap-2">
                            {{ 'video_show_with_video_only_presentationpage_template.upgrade_promotion.custom_domain'|trans }}

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                                <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 01.75.75v11.25a.75.75 0 01-1.5 0V6.31L5.03 20.03a.75.75 0 01-1.06-1.06L17.69 5.25H8.25a.75.75 0 010-1.5z" clip-rule="evenodd" />
                            </svg>
                        </div>

                        <div class="flex flex-row items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                                <path fill-rule="evenodd" d="M20.03 3.97a.75.75 0 010 1.06L6.31 18.75h9.44a.75.75 0 010 1.5H4.5a.75.75 0 01-.75-.75V8.25a.75.75 0 011.5 0v9.44L18.97 3.97a.75.75 0 011.06 0z" clip-rule="evenodd" />
                            </svg>

                            {{ 'video_show_with_video_only_presentationpage_template.upgrade_promotion.custom_logo'|trans }}
                        </div>
                    </a>
                </div>

                <div>
                    <a
                            class="cta-with-icon-primary bg-gradient-to-r from-mercurius-blue-500 to-mercurius-green-500 text-sm"
                            href="{{
                                path(
                                    'videobasedmarketing.membership.presentation.show_upgrade_offer.for_capabilities',
                                    { capabilityNames: [
                                        constant('\\App\\VideoBasedMarketing\\Account\\Domain\\Enum\\Capability::CustomLogoOnLandingpage').value,
                                        constant('\\App\\VideoBasedMarketing\\Account\\Domain\\Enum\\Capability::CustomDomain').value,
                                    ] }
                                )
                            }}"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 heroicon-next-to-text">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
                        </svg>

                        Unlock now!
                    </a>
                </div>

            {% endif %}
        </div>
    {% endif %}

    <nav
            class="bg-neutral-100 border-1 border-black-400 border-t-0 border-l-0 border-r-0 sticky"
    >
        <div class="mx-auto p-4">
            <div class="flex items-start md:items-center justify-between h-fit">

                <div class="flex flex-shrink-0 justify-start items-start">
                    <a href="{{ path('shared.presentation.contentpages.homepage') }}">
                        <img class="h-14" src="{{ asset('assets/images/fyyn-logo-240x241.png') }}" alt="Fyyn.io">
                    </a>
                </div>

                <div class="ml-4 flex flex-col md:flex-row gap-2 items-end md:ml-6">
                    <a
                            data-test-id="videoShowWithVideoOnlyPresentationpageTemplateGetForFreeTopNavCta"
                            href="https://chrome.google.com/webstore/detail/fyynio/nhnedpphfpflcmhopnhfhhfhecchponh"
                            class="cta-with-icon-primary w-full md:w-fit text-left"
                    >
                        {{ 'video_show_with_video_only_presentationpage_template.get_extenstion_for_free_cta'|trans }}
                    </a>

                    <a
                            href="{{ path('videobasedmarketing.account.presentation.sign_in') }}"
                            class="cta-with-icon-primary w-full md:w-fit text-left"
                    >
                        {{ 'video_show_with_video_only_presentationpage_template.sign_in_cta'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div
            class="
                hide-when-modal-open
                bg-gradient-to-r
                    from-black
                    via-neutral-600
                    to-black
                flex flex-row justify-center
                w-full max-h-screen
            "
    >
        <div class="w-full max-h-screen">
            <video
                    id="video-js-player"
                    class="video-js rounded-md vjs-default-skin vjs-16-9"
                    controls
                    preload="auto"
                    poster="{{ TwigHelperService.recordingsInfrastructureService.videoPosterStillAssetUrl(video) }}"
                    data-setup=''

            >
                <source
                        class="w-full"
                        src="{{ TwigHelperService.recordingsInfrastructureService.videoFullAssetUrl(video) }}"
                        {% if (video.assetFullMp4) %}
                            type="video/mp4"
                        {% else %}
                            type="video/webm"
                        {% endif %}
                />
                <p
                        class="vjs-no-js"
                >
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that supports HTML5 video.
                </p>
            </video>
        </div>
    </div>

    <div
            class="
                flex flex-row justify-start sm:justify-center
                mt-0 pt-4 pl-4 pr-4 pb-16 border-t-2 border-neutral-900
                bg-neutral-100
            "
    >
        <div
                class="
                    flex flex-col sm:flex-row justify-start sm:justify-between items-center
                    gap-4 w-full max-w-6xl
                "
        >
            <div>
                {% if video.user.profilePhoto %}
                    <img
                            class="h-8 w-8 rounded-full ring-2 ring-mercurius-blue-500"
                            src="{{ TwigHelperService.accountAssetsService.getUrlForUserProfilePhoto(video.user) }}"
                            alt=""
                    >
                {% endif %}
            </div>
            <div class="text-sm font-semibold">
                {% import '@shared/macros/date_and_time.html.twig' as dateAndTimeMacros %}
                {{ dateAndTimeMacros.full(video.createdAt) }}
            </div>

            {% if TwigHelperService.videoDomainService.videoIsAvailableForDownload(video) %}
                <div class="flex-grow">
                    <a href="{{
                    TwigHelperService.contentDeliveryService.createForcedDownloadLink(
                        TwigHelperService.recordingsInfrastructureService.videoFullAssetUrl(
                            video
                        )
                    )
                    }}"
                    >
                        <div class="flex flex-row justify-start sm:justify-end items-center gap-2 text-sm font-semibold">
                            {{ 'video_show_with_video_only_presentationpage_template.download_video_file_cta'|trans }}

                            {# Heroicon: arrow-down-tray solid #}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                                <path fill-rule="evenodd" d="M12 2.25a.75.75 0 01.75.75v11.69l3.22-3.22a.75.75 0 111.06 1.06l-4.5 4.5a.75.75 0 01-1.06 0l-4.5-4.5a.75.75 0 111.06-1.06l3.22 3.22V3a.75.75 0 01.75-.75zm-9 13.5a.75.75 0 01.75.75v2.25a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5V16.5a.75.75 0 011.5 0v2.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V16.5a.75.75 0 01.75-.75z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="w-full bg-mercurius-blue-500 p-16 pb-32">
        <div class="flex flex-col md:flex-row items-start justify-center w-full gap-8">

            <div class="text-left">
                <h3 class="font-medium text-3xl break-normal ml-2 text-white">
                    {{ 'video_show_with_video_only_presentationpage_template.footer_copy_1'|trans }}
                </h3>
                <h4 class="mt-6 font-light text-xl break-normal ml-2 text-white">
                    {{ 'video_show_with_video_only_presentationpage_template.footer_copy_2'|trans }}
                </h4>
                <a href="https://chrome.google.com/webstore/detail/fyynio/nhnedpphfpflcmhopnhfhhfhecchponh">
                    <button
                            class="
                                mt-4 text-2xl border-2 border-white-500 text-white
                                block px-3 py-2 rounded-md ml-2
                                bg-mercurius-blue-700 hover:bg-mercurius-blue-400
                            "
                    >
                        {{ 'video_show_with_video_only_presentationpage_template.get_extenstion_for_free_cta'|trans }}
                    </button>
                </a>
            </div>

            <div class="grid grid-cols-4 justify-center items-center gap-4 w-100">
                <img
                        src="{{ asset('assets/images/website/videoteaser-240-138-1.jpg') }}"
                        class="rounded-md w-full"
                >
                <img
                        src="{{ asset('assets/images/website/videoteaser-240-180-1.jpg') }}"
                        class="rounded-md w-full"
                >
                <img
                        src="{{ asset('assets/images/website/videoteaser-240-138-2.jpg') }}"
                        class="rounded-md w-full"
                >
                <img
                        src="{{ asset('assets/images/website/videoteaser-240-138-4.jpg') }}"
                        class="rounded-md w-full"
                >
                <img
                        src="{{ asset('assets/images/website/videoteaser-240-240-1.jpg') }}"
                        class="rounded-md w-full"
                >
                <img
                        src="{{ asset('assets/images/website/videoteaser-240-138-3.jpg') }}"
                        class="rounded-md w-full"
                >
                <img
                        src="{{ asset('assets/images/website/videoteaser-240-180-2.jpg') }}"
                        class="rounded-md w-full"
                >
                <img
                        src="{{ asset('assets/images/website/videoteaser-240-240-2.jpg') }}"
                        class="rounded-md w-full"
                >
            </div>
        </div>
    </div>

{% endblock %}
