{# @var this \App\VideoBasedMarketing\Recordings\Presentation\Component\VideoManageWidgetLiveComponent #}
{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

{% trans_default_domain 'videobasedmarketing.recordings' %}

{% set claimUnregisteredUserLandinpagePath = path('videobasedmarketing.account.presentation.claim_unregistered_user.landingpage')%}

<div {{ attributes }}>

    <div class="flex flex-col rounded-lg p-0 bg-white border-1 border-neutral-200 h-full">
        <div class="relative -mb-1.5">
            <button
                    class="w-full p-0 m-0"
                    data-action="live#action"
                    data-action-name="showEditModal"
            >

                <div
                        class="p-0 m-0"

                        {{ stimulus_controller('videoBasedMarketing-recordings-videoPreview') }}

                        data-action="
                            focus->videoBasedMarketing-recordings-videoPreview#showAnimated
                            click->videoBasedMarketing-recordings-videoPreview#showAnimated
                            mouseover->videoBasedMarketing-recordings-videoPreview#showAnimated
                            mouseout->videoBasedMarketing-recordings-videoPreview#showStill
                            blur->videoBasedMarketing-recordings-videoPreview#showStill
                        "
                >
                    <div
                            {{ stimulus_target('videoBasedMarketing-recordings-videoPreview', 'stillImage') }}
                            class="bg-cover bg-center h-80 md:h-60 xl:h-40 w-full rounded-tl-lg rounded-tr-lg"
                            style="background-image: url('{{ TwigHelperService.recordingsInfrastructureService.videoPosterStillAssetUrl(this.video) }}')"
                    ></div>

                    <div
                            {{ stimulus_target('videoBasedMarketing-recordings-videoPreview', 'animatedImage') }}
                            class="hidden bg-cover bg-center h-80 md:h-60 xl:h-40 w-full rounded-tl-lg rounded-tr-lg"
                            style="background-image: url('{{ TwigHelperService.recordingsInfrastructureService.videoPosterAnimatedAssetUrl(this.video) }}')"
                    ></div>
                </div>
            </button>

            <div class="absolute bottom-1 left-0 p-2">
                <a
                        href="{{ path(
                            'videobasedmarketing.recordings.presentation.video.show_with_video_only_presentationpage_template',
                            { 'videoId': this.video.id })
                        }}"
                        target="_blank"
                >
                    {# Heroicon: eye solid #}
                    <svg
                            class="
                                w-8 h-8 p-1 pl-2 pr-2 rounded-md bg-black bg-opacity-75 text-neutral-200 text-xs font-light
                                hover:bg-opacity-100 hover:text-indigo-500
                            "
                            xmlns="http://www.w3.org/2000/svg"
                            stroke="none"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                    >
                        <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                        <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>

            <div class="absolute bottom-0 right-0 p-4">
                <div class="p-1 pl-2 pr-2 rounded-md bg-black bg-opacity-75 text-neutral-200 text-xs font-light">
                    {{ component('videobasedmarketing_recordings_video_duration', { 'video': this.video }) }}
                </div>
            </div>
        </div>

        <div class="flex flex-row justify-center -m-1.5 z-10">
            <p
                    style="
                            color: {{ this.video.videoOnlyPresentationpageTemplate.textColor.value }};
                            background-color: {{ this.video.videoOnlyPresentationpageTemplate.bgColor.value }};
                    "
                    class="text-xs text-gray-600 w-fit p-1 pt-0.5 pb-0.5"
            >
                {{ this.video.videoOnlyPresentationpageTemplate.title }}
            </p>
        </div>

        <div class="flex-grow pt-4 pb-4 ml-4 mr-4 mt-3 overflow-y-clip">
            <p class="text-xs text-gray-400 mb-1">
                {% import '@shared/macros/date_and_time.html.twig' as dateAndTimeMacros %}
                {{ dateAndTimeMacros.shortDateAndTime(this.video.createdAt) }}
            </p>
            <p class="text-xl font-bold mb-1 break-words flex flex-row justify-between items-start gap-2">
                {{ this.video.title }}
            </p>
        </div>

        <div class="text-indigo-900 hover:font-bold hover:bg-indigo-200">
            <button
                    class="p-2 pl-4 pr-4 w-full h-full text-left text-sm"
                    data-action="live#action"
                    data-action-name="showShareModal"
            >
                <span class="flex flex-row justify-between items-center gap-2">
                    <span>
                        {{ 'video_manage_widget.overview_box.cta_share'|trans }}
                    </span>
                    <span>
                        <!-- Heroicon: share solid -->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                            <path fill-rule="evenodd" d="M15.75 4.5a3 3 0 11.825 2.066l-8.421 4.679a3.002 3.002 0 010 1.51l8.421 4.679a3 3 0 11-.729 1.31l-8.421-4.678a3 3 0 110-4.132l8.421-4.679a3 3 0 01-.096-.755z" clip-rule="evenodd" />
                        </svg>
                    </span>
                </span>
            </button>
        </div>

        <div class="text-indigo-900 hover:font-bold hover:bg-indigo-200">
            <button
                    class="p-2 pl-4 pr-4 w-full h-full text-left text-sm"
                    data-action="live#action"
                    data-action-name="showEditModal"
            >
                <span class="flex flex-row justify-between items-center gap-2">
                    <span>
                        {{ 'video_manage_widget.overview_box.cta_edit'|trans }}
                    </span>
                    <span>
                        {# Heroicon: pencil-square solid #}
                        <svg
                                class="h-4 w-4 text-indigo-900"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                        >
                            <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                            <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                        </svg>
                    </span>
                </span>
            </button>
        </div>

        <div class="text-red-900 hover:font-bold hover:bg-red-200 rounded-bl rounded-br">
            <button
                    class="p-2 pl-4 pr-4 w-full h-full text-left text-sm"
                    data-action="live#action"
                    data-action-name="showDeleteModal"
            >
                <span class="flex flex-row justify-between items-center gap-2">
                    <span>
                        {{ 'video_manage_widget.overview_box.cta_delete'|trans }}
                    </span>
                    <span>
                        {# Heroicon: trash solid #}
                        <svg
                                class="h-4 w-4 text-red-900"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                        >
                            <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                        </svg>
                    </span>
                </span>
            </button>
        </div>

    </div>



    {% if this.shareModalIsOpen %}
        <div
                class="
                    fixed w-full h-full top-0 left-0 bg-opacity-90 bg-neutral-900
                    z-50 flex flex-row justify-center items-center
                "
        >
            <div class="
                bg-white max-w-screen-lg max-h-screen max-w-full
                p-4 w-fit rounded-md
                flex flex-col justify-start
            ">
                <div class="flex flex-row justify-between mb-8">

                    <div class="flex flex-row gap-2 items-center text-gray-700">
                        {# Heroicon: share solid #}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M15.75 4.5a3 3 0 11.825 2.066l-8.421 4.679a3.002 3.002 0 010 1.51l8.421 4.679a3 3 0 11-.729 1.31l-8.421-4.678a3 3 0 110-4.132l8.421-4.679a3 3 0 01-.096-.755z" clip-rule="evenodd" />
                        </svg>
                        <span class="font-bold">Video teilen</span>
                    </div>

                    <button
                            class=""
                            data-action="live#action"
                            data-action-name="hideShareModal"
                    >
                        {# Heroicon: x-mark solid #}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>

                <div
                        class="flex flex-row mb-8"
                        data-controller="clipboard"
                        data-clipboard-success-content='Kopiert!'
                >

                    <input class="w-full text-indigo-500 bg-gray-200 rounded-tl-md border-0 rounded-bl-md"
                           type="text"
                           disabled="disabled"
                           size="36"
                           value="{{ this.shareUrl }}"
                           data-clipboard-target="source"
                    >
                    <button class="
                                bg-indigo-900 text-indigo-200 p-2 flex flex-row gap-1
                                rounded-tr-md
                                rounded-br-md
                            "
                            data-clipboard-target="button"
                            data-action="clipboard#copy"
                    >
                        Kopieren
                    </button>
                </div>
                <div class="flex flex-row justify-evenly items-end gap-4 text-sm font-semibold text-gray-700">
                    <button
                            class="w-20 flex flex-col justify-center items-center p-2 rounded-md hover:bg-indigo-200"
                            data-action="live#action"
                            data-action-name="switchShareUrlDirectLink"
                    >
                        {# Heroicon: link solid #}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="block w-8 h-8 m-2">
                            <path fill-rule="evenodd" d="M19.902 4.098a3.75 3.75 0 00-5.304 0l-4.5 4.5a3.75 3.75 0 001.035 6.037.75.75 0 01-.646 1.353 5.25 5.25 0 01-1.449-8.45l4.5-4.5a5.25 5.25 0 117.424 7.424l-1.757 1.757a.75.75 0 11-1.06-1.06l1.757-1.757a3.75 3.75 0 000-5.304zm-7.389 4.267a.75.75 0 011-.353 5.25 5.25 0 011.449 8.45l-4.5 4.5a5.25 5.25 0 11-7.424-7.424l1.757-1.757a.75.75 0 111.06 1.06l-1.757 1.757a3.75 3.75 0 105.304 5.304l4.5-4.5a3.75 3.75 0 00-1.035-6.037.75.75 0 01-.354-1z" clip-rule="evenodd" />
                        </svg>
                        Direktlink
                    </button>

                    <a
                            href="{{ this.shareUrlFacebook }}"
                            target="_blank"
                            class="w-20 flex flex-col justify-center items-center p-2 rounded-md hover:bg-indigo-200"
                    >
                        <img class="w-12 h-12 opacity-50" src="{{ asset('assets/images/social-media-icons/icons8-facebook.svg') }}">
                        Facebook
                    </a>

                    <button
                            class="w-20 flex flex-col justify-center items-center p-2 rounded-md hover:bg-indigo-200"
                            data-action="live#action"
                            data-action-name="switchShareUrlInstagram"
                    >
                        <img class="w-12 h-12 opacity-50" src="{{ asset('assets/images/social-media-icons/icons8-instagram.svg') }}">
                        Instagram
                    </button>

                    <a
                            href="{{ this.shareUrlTwitter }}"
                            target="_blank"
                            class="w-20 flex flex-col justify-center items-center p-2 rounded-md hover:bg-indigo-200"
                    >
                        <img class="w-12 h-12 opacity-50" src="{{ asset('assets/images/social-media-icons/icons8-twitter.svg') }}">
                        Twitter
                    </a>

                    <a
                            href="{{ this.shareUrlLinkedIn }}"
                            target="_blank"
                            class="w-20 flex flex-col justify-center items-center p-2 rounded-md hover:bg-indigo-200"
                    >
                        <img class="w-12 h-12 opacity-50" src="{{ asset('assets/images/social-media-icons/icons8-linkedin.svg') }}">
                        LinkedIn
                    </a>
                </div>
            </div>
        </div>
    {% endif %}


    {% if this.deleteModalIsOpen %}
        <div
                class="
                    fixed w-full h-full top-0 left-0 bg-opacity-90 bg-neutral-900
                    z-50 flex flex-row justify-center items-center
                "
        >
            <div class="
                bg-white max-w-screen-lg max-h-screen max-w-full
                p-4 w-fit rounded-md
                flex flex-col justify-start
            ">
                <div class="flex flex-row justify-between mb-8">

                    <div class="flex flex-row gap-2 items-center text-red-700">
                        {# Heroicon: trash solid #}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                        </svg>
                        <span class="font-bold">Video löschen</span>
                    </div>

                    <button
                            class=""
                            data-action="live#action"
                            data-action-name="hideDeleteModal"
                    >
                        {# Heroicon: x-mark solid #}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>

                <div
                        class="flex flex-col gap-6"
                >
                    Möchten Sie dieses Video wirklich löschen?

                    <form method="post" action="{{ path('videobasedmarketing.recordings.presentation.video.deletion', { videoId: this.video.id }) }}">
                        <button class="cta-with-icon-danger"
                        >
                            {# Heroicon: check-circle solid #}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                            </svg>
                            Ja, Video löschen
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}


    {% if this.editModalIsOpen %}
        <div
                class="
                    fixed top-0 left-0 bottom-0 right-0 bg-opacity-90 bg-neutral-900
                    z-40 flex flex-row justify-center items-center
                "
        >
            <div class="
                h-full md:w-10/12 overflow-y-scroll relative bg-gray-100 p-8 pt-4
            ">
                {% embed '@shared/embeds/two_column_content_box_content_row.html.twig' with { odd: false, colspanLeft: 8, colspanRight: 4 } %}

                    {% trans_default_domain 'videobasedmarketing.recordings' %}

                    {% block contentLeft %}

                        <div class="">

                            <div class="mb-4">
                                <img src="{{ asset('assets/images/ui/browser_head.png') }}" class="w-full">

                                <div
                                        class="rounded-bl-xl rounded-br-xl p-6 border-2 border-t-0 border-neutral-500"
                                        style="
                                                background-color: {{ this.video.videoOnlyPresentationpageTemplate.bgColor.value }};
                                                color: {{ this.video.videoOnlyPresentationpageTemplate.textColor.value }};
                                        "
                                >
                                    <h2
                                            class="text-3xl text-center"
                                            style="font-family: 'Tiro Gurmukhi', 'Times New Roman', serif;"
                                    >
                                        {{ this.video.title }}
                                    </h2>

                                    <div
                                            class="h-0.5 w-8/12 mt-2 mb-4 mx-auto"
                                            style="background-color: {{ this.video.videoOnlyPresentationpageTemplate.fgColor.value }};"
                                    ></div>

                                    <div class="w-8/12 mx-auto">
                                        {{ component(
                                            'videobasedmarketing_recordings_video_player_embedded',
                                            { video: this.video }
                                        ) }}
                                    </div>
                                </div>
                            </div>

                            <div class="rounded-md p-4 bg-gray-200 flex flex-row flex-wrap gap-4 justify-between items-center">

                                <div class="text-gray-600">
                                    {% import '@shared/macros/date_and_time.html.twig' as dateAndTimeMacros %}
                                    {{ dateAndTimeMacros.full(video.createdAt) }}
                                </div>

                                <div class="flex flex-row gap-4 flex-wrap justify-start">

                                    <button class="cta-with-icon-inline-primary">
                                        {# Heroicon: document-duplicate solid #}
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                            <path d="M7.5 3.375c0-1.036.84-1.875 1.875-1.875h.375a3.75 3.75 0 013.75 3.75v1.875C13.5 8.161 14.34 9 15.375 9h1.875A3.75 3.75 0 0121 12.75v3.375C21 17.16 20.16 18 19.125 18h-9.75A1.875 1.875 0 017.5 16.125V3.375z" />
                                            <path d="M15 5.25a5.23 5.23 0 00-1.279-3.434 9.768 9.768 0 016.963 6.963A5.23 5.23 0 0017.25 7.5h-1.875A.375.375 0 0115 7.125V5.25zM4.875 6H6v10.125A3.375 3.375 0 009.375 19.5H16.5v1.125c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625V7.875C3 6.839 3.84 6 4.875 6z" />
                                        </svg>
                                        {{ 'video_manage_widget.edit_modal.cta_copy'|trans }}
                                    </button>

                                    <button class="cta-with-icon-inline-primary">
                                        {# Heroicon: scissors solid #}
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                            <path fill-rule="evenodd" d="M8.128 9.155a3.751 3.751 0 11.713-1.321l1.136.656a.75.75 0 01.222 1.104l-.006.007a.75.75 0 01-1.032.157 1.421 1.421 0 00-.113-.072l-.92-.531zm-4.827-3.53a2.25 2.25 0 013.994 2.063.756.756 0 00-.122.23 2.25 2.25 0 01-3.872-2.293zM13.348 8.272a5.073 5.073 0 00-3.428 3.57c-.101.387-.158.79-.165 1.202a1.415 1.415 0 01-.707 1.201l-.96.554a3.751 3.751 0 10.734 1.309l13.729-7.926a.75.75 0 00-.181-1.374l-.803-.215a5.25 5.25 0 00-2.894.05l-5.325 1.629zm-9.223 7.03a2.25 2.25 0 102.25 3.897 2.25 2.25 0 00-2.25-3.897zM12 12.75a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                                            <path d="M16.372 12.615a.75.75 0 01.75 0l5.43 3.135a.75.75 0 01-.182 1.374l-.802.215a5.25 5.25 0 01-2.894-.051l-5.147-1.574a.75.75 0 01-.156-1.367l3-1.732z" />
                                        </svg>

                                        {{ 'video_manage_widget.edit_modal.cta_cut'|trans }}
                                    </button>

                                    <a
                                            {% if app.user.registered %}
                                                href="{{ TwigHelperService.recordingsInfrastructureService.videoFullAssetUrl(this.video) }}"
                                            {% else %}
                                                href="{{ claimUnregisteredUserLandinpagePath }}"
                                            {% endif %}

                                            class="cta-with-icon-inline-primary"
                                    >
                                        {# Heroicon: folder-arrow-down solid #}
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                            <path fill-rule="evenodd" d="M19.5 21a3 3 0 003-3V9a3 3 0 00-3-3h-5.379a.75.75 0 01-.53-.22L11.47 3.66A2.25 2.25 0 009.879 3H4.5a3 3 0 00-3 3v12a3 3 0 003 3h15zm-6.75-10.5a.75.75 0 00-1.5 0v4.19l-1.72-1.72a.75.75 0 00-1.06 1.06l3 3a.75.75 0 001.06 0l3-3a.75.75 0 10-1.06-1.06l-1.72 1.72V10.5z" clip-rule="evenodd" />
                                        </svg>
                                        {{ 'video_manage_widget.edit_modal.cta_download'|trans }}
                                    </a>

                                    {% if app.user.registered %}
                                        <button
                                                class="cta-with-icon-inline-danger"
                                                data-action="live#action"
                                                data-action-name="showDeleteModal"
                                        >
                                            {# Heroicon: trash solid #}
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                                            </svg>
                                            {{ 'video_manage_widget.edit_modal.cta_delete'|trans }}
                                        </button>
                                    {% else %}
                                        <a
                                                href="{{ claimUnregisteredUserLandinpagePath }}"
                                                class="cta-with-icon-inline-danger"
                                                data-action="live#action"
                                                data-action-name="showDeleteModal"
                                        >
                                            {# Heroicon: trash solid #}
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                                            </svg>
                                            {{ 'video_manage_widget.edit_modal.cta_delete'|trans }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    {% endblock %}



                    {% block contentRight %}

                        <div class="bg-white rounded-md p-4 pb-1 mb-4">
                            {% form_theme form '@shared/form_themes/form_theme_default.html.twig' %}

                            {{ form_start(this.form) }}

                            {{ form_row(this.form.title, {
                                attr: {
                                    'data-model': 'on(input)|debounce(250)|' ~ this.form.title.vars.full_name,
                                    'data-action': 'live#action',
                                    'data-action-name': 'debounce(300)|save'
                                }
                            }) }}

                            {{ form_row(this.form.videoOnlyPresentationpageTemplate, {
                                attr: {
                                    'data-model': this.form.videoOnlyPresentationpageTemplate.vars.full_name,
                                    'data-action': 'live#action',
                                    'data-action-name': 'save'
                                }
                            }) }}

                            {{ form_end(this.form) }}
                        </div>


                        {% if app.user.registered %}
                            <button
                                    class="cta-with-icon-primary"
                                    data-action="live#action"
                                    data-action-name="showShareModal"
                            >
                                {# Heroicon: share solid #}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                    <path fill-rule="evenodd" d="M15.75 4.5a3 3 0 11.825 2.066l-8.421 4.679a3.002 3.002 0 010 1.51l8.421 4.679a3 3 0 11-.729 1.31l-8.421-4.678a3 3 0 110-4.132l8.421-4.679a3 3 0 01-.096-.755z" clip-rule="evenodd" />
                                </svg>
                                {{ 'video_manage_widget.edit_modal.cta_share'|trans }}
                            </button>
                        {% else %}
                            <a
                                    href="{{ claimUnregisteredUserLandinpagePath }}"
                                    class="cta-with-icon-primary"
                                    data-action="live#action"
                                    data-action-name="showShareModal"
                            >
                                {# Heroicon: share solid #}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                    <path fill-rule="evenodd" d="M15.75 4.5a3 3 0 11.825 2.066l-8.421 4.679a3.002 3.002 0 010 1.51l8.421 4.679a3 3 0 11-.729 1.31l-8.421-4.678a3 3 0 110-4.132l8.421-4.679a3 3 0 01-.096-.755z" clip-rule="evenodd" />
                                </svg>
                                {{ 'video_manage_widget.edit_modal.cta_share'|trans }}
                            </a>
                        {% endif %}

                        <a
                                {% if app.user.registered %}
                                    href="{{ path('videobasedmarketing.recordings.presentation.video.show_with_video_only_presentationpage_template', { videoId: this.video.id }) }}"
                                {% else %}
                                    href="{{ claimUnregisteredUserLandinpagePath }}"
                                {% endif %}

                                target="_blank"
                                class="cta-with-icon-primary"
                        >
                            {# Heroicon: eye solid #}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
                            </svg>
                            {{ 'video_manage_widget.edit_modal.cta_preview'|trans }}
                        </a>

                        {% if app.user.registered %}

                            {% if this.doneCtaMustRedirectToOverview %}
                                <a
                                        class="cta-with-icon-success"
                                        href="{{ path('videobasedmarketing.recordings.presentation.videos.overview') }}"
                                >
                                    {# Heroicon: check-circle solid #}
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                    </svg>
                                    {{ 'video_manage_widget.edit_modal.cta_done'|trans }}
                                </a>
                            {% else %}
                                <button
                                        class="cta-with-icon-success"
                                        data-action="live#action"
                                        data-action-name="hideEditModal"
                                >
                                    {# Heroicon: check-circle solid #}
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                    </svg>
                                    {{ 'video_manage_widget.edit_modal.cta_done'|trans }}
                                </button>
                            {% endif %}

                        {% else %}

                            <a
                                    class="cta-with-icon-success"
                                    href="{{ path('videobasedmarketing.account.presentation.claim_unregistered_user.landingpage') }}"
                            >
                                {# Heroicon: check-circle solid #}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                </svg>
                                {{ 'video_manage_widget.edit_modal.cta_done'|trans }}
                            </a>

                        {% endif %}

                    {% endblock %}

                {% endembed %}
            </div>
        </div>
    {% endif %}

</div>
