{% extends '@shared/base_landingpage.html.twig' %}

{# @var video \App\VideoBasedMarketing\Recordings\Domain\Entity\Video #}

{% block title %}{{ video.title }}{% endblock %}
{% block contentTitle %}{{ 'mainnav.recordings'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor-static/Video.js/7.20.3/video-js.min.css') }}">
    {{ encore_entry_link_tags('videoplayer') }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor-static/Video.js/7.20.3/video.min.js') }}"></script>
{% endblock %}

{% block body %}

    {% trans_default_domain 'videobasedmarketing.recordings' %}

    <nav
            class="bg-neutral-100 border-1 border-black-400 border-t-0 border-l-0 border-r-0 sticky"
    >
        <div class="mx-auto p-4">
            <div class="flex items-start md:items-center justify-between h-fit">

                <div class="flex flex-shrink-0 justify-start items-start">
                    <a href="{{ path('shared.presentation.contentpages.homepage') }}">
                        <img class="h-14" src="{{ asset('assets/images/fyyn-logo-240x241.png') }}" alt="Fyyn">
                    </a>
                </div>

                <div class="ml-4 flex flex-col md:flex-row gap-2 items-end md:ml-6">
                    <div class="w-full md:w-fit">
                        {{ component('videobasedmarketing_recordings_video_share_widget', {
                            video: video
                        }) }}
                    </div>

                    <a
                            href="https://chrome.google.com/webstore/detail/fyynio/nhnedpphfpflcmhopnhfhhfhecchponh"
                            class="cta-with-icon-primary w-full md:w-fit text-left"
                    >
                        {{ 'video_show_with_video_only_presentationpage_template.get_fyyn_io_for_free_cta'|trans }}
                    </a>

                    <a
                            href="{{ path('videobasedmarketing.account.presentation.sign_in') }}"
                            class="cta-with-icon-primary w-full md:w-fit text-left"
                    >
                        {{ 'video_show_with_video_only_presentationpage_template.sign_in_cta'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div
            class="hide-when-modal-open bg-black flex flex-row justify-center"
    >
        <div class="w-full max-w-6xl">
            <video
                    id="video-js-player"
                    class="video-js rounded-md vjs-default-skin vjs-16-9"
                    controls
                    preload="auto"
                    poster="{{ TwigHelperService.recordingsInfrastructureService.videoPosterStillAssetUrl(video) }}"
                    data-setup=''

            >
                <source
                        src="{{ TwigHelperService.recordingsInfrastructureService.videoFullAssetUrl(video) }}"
                        type="video/mp4"
                />
                <p
                        class="vjs-no-js"
                >
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that supports HTML5 video.
                </p>
            </video>
        </div>

        <script>
            videojs('video-js-player').ready(function() {
                const img = this.controlBar.addChild('Component', {}, 0);
                img.addClass('video-js-logo-image');
            });
        </script>
        <style>
            .video-js-logo-image {
                width: 100px;
                height: 40px;
                background: url({{ asset('assets/images/videoplayer/fyyn-logo-player.jpg') }}) center center no-repeat;
                background-size: 100px;
            }
        </style>
    </div>

    <div class="w-full bg-mercurius-blue-500 p-8 pb-32">
        <div class="flex flex-col md:flex-row items-center justify-center w-full gap-8">

            <div class="md:col-span-7 mt-16 text-left">
                <h3 class="font-medium text-3xl break-normal ml-2 text-white">
                    {{ 'video_show_with_video_only_presentationpage_template.footer_copy_1'|trans }}
                </h3>
                <h4 class="mt-6 font-light text-xl break-normal ml-2 text-white">
                    {{ 'video_show_with_video_only_presentationpage_template.footer_copy_2'|trans }}
                </h4>
                <a href="https://chrome.google.com/webstore/detail/fyynio/nhnedpphfpflcmhopnhfhhfhecchponh">
                    <button
                            class="mt-4 text-2xl border-2 border-white-500 text-white-500 text-neutral-50 block px-3 py-2 rounded-md ml-2"
                    >
                        {{ 'video_show_with_video_only_presentationpage_template.get_fyyn_io_for_free_cta'|trans }}
                    </button>
                </a>
            </div>

            <div class="grid grid-cols-4 justify-center items-center gap-4 w-96">
                <img
                        src="{{ asset('assets/images/website/videoteaser-240-138-1.jpg') }}"
                        class="rounded-md w-full"
                >
                <img
                        src="{{ asset('assets/images/website/videoteaser-240-180-1.jpg') }}"
                        class="rounded-md w-full"
                >
                <img
                        src="{{ asset('assets/images/website/videoteaser-240-138-2.jpg') }}"
                        class="rounded-md w-full"
                >
                <img
                        src="{{ asset('assets/images/website/videoteaser-240-138-4.jpg') }}"
                        class="rounded-md w-full"
                >
                <img
                        src="{{ asset('assets/images/website/videoteaser-240-240-1.jpg') }}"
                        class="rounded-md w-full"
                >
                <img
                        src="{{ asset('assets/images/website/videoteaser-240-138-3.jpg') }}"
                        class="rounded-md w-full"
                >
                <img
                        src="{{ asset('assets/images/website/videoteaser-240-180-2.jpg') }}"
                        class="rounded-md w-full"
                >
                <img
                        src="{{ asset('assets/images/website/videoteaser-240-240-2.jpg') }}"
                        class="rounded-md w-full"
                >
            </div>
        </div>
    </div>

{% endblock %}
