{% extends '@shared/base_landingpage.html.twig' %}

{# @var video \App\VideoBasedMarketing\Recordings\Domain\Entity\Video #}

{% block title %}{{ video.title }}{% endblock %}
{% block contentTitle %}{{ 'mainnav.recordings'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor-static/Video.js/7.20.3/video-js.min.css') }}">
    {{ encore_entry_link_tags('videoplayer') }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor-static/Video.js/7.20.3/video.min.js') }}"></script>
{% endblock %}

{% block body %}

    <div
            class="grid md:grid-cols-6 gap-4 h-full min-h-screen p-0 m-0"
    >
        <div style="
                font-family: 'Inter var', 'Times New Roman', serif;
                color: {{ video.videoOnlyPresentationpageTemplate.textColor.value }};
                background-color: {{ video.videoOnlyPresentationpageTemplate.bgColor.value }}"
             class="md:col-start-2 col-span-4 pt-10 md:p-6">

            <div
                    class="w-full md:p-6" style="max-width: 980px;"
            >
                {{ component(
                    'videobasedmarketing_recordings_video_player_embedded',
                    { video }
                ) }}
            </div>

        </div>
    </div>




{% endblock %}
