{% extends '@shared/base_landingpage.html.twig' %}

{# @var video \App\VideoBasedMarketing\Recordings\Domain\Entity\Video #}

{% block title %}{{ video.title }}{% endblock %}
{% block contentTitle %}{{ 'mainnav.recordings'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor-static/Video.js/7.20.3/video-js.min.css') }}">
    {{ encore_entry_link_tags('videoplayer') }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor-static/Video.js/7.20.3/video.min.js') }}"></script>
{% endblock %}

{% block body %}

    {% trans_default_domain 'videobasedmarketing.recordings' %}

    <nav
            class="bg-neutral-100 border-1 border-black-400 border-t-0 border-l-0 border-r-0 sticky"
    >
        <div class="mx-auto p-4">
            <div class="flex items-start md:items-center justify-between h-fit">

                <div class="flex flex-shrink-0 justify-start items-start">
                    <a href="{{ path('shared.presentation.contentpages.homepage') }}">
                        <img class="h-16" src="{{ asset('assets/images/fyyn-logo-240x241.png') }}" alt="Fyyn">
                    </a>
                </div>

                <div class="ml-4 flex flex-col md:flex-row gap-2 items-end md:ml-6">


                    {{ component('videobasedmarketing_recordings_video_share_widget', {
                        video: video
                    }) }}

                    <button
                            class="cta-with-icon-primary w-full md:w-fit text-left"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                            <path fill-rule="evenodd" d="M15.75 4.5a3 3 0 11.825 2.066l-8.421 4.679a3.002 3.002 0 010 1.51l8.421 4.679a3 3 0 11-.729 1.31l-8.421-4.678a3 3 0 110-4.132l8.421-4.679a3 3 0 01-.096-.755z" clip-rule="evenodd" />
                        </svg>
                        {{ 'video_show_with_video_only_presentationpage_template.share_cta'|trans }}
                    </button>

                    <a
                            href="https://chrome.google.com/webstore/detail/fyynio/nhnedpphfpflcmhopnhfhhfhecchponh"
                            class="cta-with-icon-primary w-full md:w-fit text-left"
                    >
                        {{ 'video_show_with_video_only_presentationpage_template.get_fyyn_io_for_free_cta'|trans }}
                    </a>

                    <a
                            href="{{ path('videobasedmarketing.account.presentation.sign_in') }}"
                            class="cta-with-icon-primary w-full md:w-fit text-left"
                    >
                        {{ 'video_show_with_video_only_presentationpage_template.sign_in_cta'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div
            class="bg-black"
    >


        <div class="w-full">
            <video
                    id="video-js-player"
                    class="video-js rounded-md vjs-default-skin vjs-16-9"
                    controls
                    preload="auto"
                    poster="{{ TwigHelperService.recordingsInfrastructureService.videoPosterStillAssetUrl(video) }}"
                    data-setup=''

            >
                <source
                        src="{{ TwigHelperService.recordingsInfrastructureService.videoFullAssetUrl(video) }}"
                        type="video/mp4"
                />
                <p
                        class="vjs-no-js"
                >
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that supports HTML5 video.
                </p>
            </video>

        </div>

        <script>
            videojs('video-js-player').ready(function() {
                var img = this.controlBar.addChild('Component', {}, 0); // 3rd arg is index, i.e. first
                img.addClass('video-js-logo-image');
            });
        </script>
        <style>
            .video-js-logo-image {
                width: 100px;
                height: 40px;
                background: url({{ asset('assets/images/videoplayer/fyyn-logo-player.jpg') }}) center center no-repeat;
                background-size: 100px;
            }
        </style>

    </div>

    <div
            class="grid md:grid-cols-6 gap-4 p-0 m-0 mb-10"
    >
        <div style="
                font-family: 'Inter var', 'Times New Roman', serif;
                color: {{ video.videoOnlyPresentationpageTemplate.textColor.value }};
                {# background-color: {{ video.videoOnlyPresentationpageTemplate.bgColor.value }} #}"
             class="md:col-start-2 col-span-4 pt-10 md:p-6">

            <div
                    class="relative p-2 w-full"
                >
                <center>
                    <div
                            class="w-full md:p-6" style="max-width: 980px;"
                    >

                    <div
                            class="w-full mt-4 mb-2 grid md:grid-cols-12 border-b"
                    >


                        <div
                                class="md:col-span-9"
                        >

                            <h2
                                class="font-medium leading-tight text-2xl text-black-600 break-normal text-left"
                            >
                                {{ video.title }}
                            </h2>
                        </div>

                        <div
                                class="md:col-span-3 mb-10"
                        >
                        <div
                                class="md:text-right"
                        >
                            <a
                                    class="icon-download pl30"
                                    href="{{ TwigHelperService.recordingsInfrastructureService.videoFullAssetUrl(video) }}">Download</a>
                        </div>
                    </div>

                    </div>
                </div>
                </center>
                </div>

            <center>
                <div
                        class="w-full md:p-6" style="max-width: 980px;"
                >
                    <div
                            class="w-full mb-2 grid md:grid-cols-12"
                    >
                        <div
                                class="md:col-span-9 text-left"
                        >

                        <div>
                            <div class="flex items-end w-fit">
                                <div>

                                    <img
                                            class="h-10 w-10 rounded-full ring-2 ring-indigo-700"
                                            src="http://127.0.0.1:8000/content-delivery/serve-external-asset?externalAssetUrl=https://media-exp1.licdn.com/dms/image/C5603AQHlWDmE4J3E-Q/profile-displayphoto-shrink_800_800/0/1655211395819?e%3D1675900800%26v%3Dbeta%26t%3DAB4mJFlP8VzWlyfUgGX6eJ7XsKZPN5m0zqr7orFC2CM&amp;contentType=image/jpeg&amp;checksum=139644eae2e10c5096795ccc537105e380ef3405"
                                            alt=""
                                    >

                                </div>
                                <div class="ml-3">

                                    <div class="text-base font-medium leading-none text-neutral-900">
                                        Maik
                                        Becker
                                    </div>

                                    <div class="text-sm font-light leading-none text-neutral-600 pt-2">12. Dec. 2022</div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            </center>

        </div>
    </div>




    {% include '@videobasedmarketing.presentationpages/includes/footer_unregistered_cta_register.html.twig' %}


{% endblock %}
