{% extends '@shared/base_default.html.twig' %}

{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}
{# @var video \App\VideoBasedMarketing\Recordings\Domain\Entity\Video #}
{# @var viewPercentagesPerSecond float[] #}
{# @var numberOfVideoPlayerSessions int #}
{# @var numberOfStartedVideoPlayerSessions int #}
{# @var sessionAnalyticsInfos \App\VideoBasedMarketing\Recordings\Domain\Entity\VideoPlayerSessionAnalyticsInfo[] #}

{% trans_default_domain 'videobasedmarketing.recordings' %}
{% block title %}{{ 'video_analytics.title'|trans }}{% endblock %}
{% block contentTitle %}{{ 'video_analytics.title'|trans }}{% endblock %}

{% block body %}

    {% embed '@shared/embeds/default_content_box.html.twig' %}

        {% trans_default_domain 'videobasedmarketing.recordings' %}

        {% block contentBoxTitle %}
            {{ 'video_analytics.title'|trans }}
        {% endblock %}

        {% block contentBoxSubtitle %}
            {{ 'video_analytics.subtitle'|trans({ '{videoTitle}': video.title }) }}
        {% endblock %}

        {% block contentBoxContent %}

            <div
                    id="video-overlay"
                    class="relative h-full w-full max-w-2xl"
                    style="width: 100%"
            >
                <div class="w-full flex flex-col gap-4 justify-start bg-mercurius-green-100 text-mercurius-green-900 rounded-md p-4 border-1 border-mercurius-green-900 mb-8">
                    <div class="font-bold">
                        {{ 'video_analytics.note1'|trans }}
                    </div>
                    <div>
                        {{ 'video_analytics.note2'|trans }}
                    </div>


                    <div class="flex flex-row gap-2 justify-start items-center">
                        <div class="flex flex-col gap-2 min-w-fit whitespace-nowrap">
                            <div class="text-2xl font-bold">
                                {{ numberOfStartedVideoPlayerSessions }}
                            </div>
                            <div class="text-2xl font-bold">
                                {% if numberOfVideoPlayerSessions > 0 %}
                                    {{ ((100 / numberOfVideoPlayerSessions) * numberOfStartedVideoPlayerSessions)|round }}%
                                {% else %}
                                    0
                                {% endif %}
                            </div>
                        </div>

                        <div class="flex flex-col gap-2 items-start min-w-fit whitespace-nowrap">
                            <div class="font-bold">
                                {{ 'video_analytics.total_plays'|trans }}
                            </div>
                            <div class="font-bold">
                                {{ 'video_analytics.play_rate'|trans }}
                            </div>
                        </div>

                        <div class="ml-8 flex flex-col gap-2 items-center justify-center h-full bg-neutral-100 text-neutral-900 rounded-md p-2 px-4">
                            <div class="">
                                {{ 'video_analytics.play_rate_note'|trans({
                                    '{numberOfVideoPlayerSessions}': numberOfVideoPlayerSessions,
                                    '{numberOfStartedVideoPlayerSessions}': numberOfStartedVideoPlayerSessions
                                })|raw }}
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-row gap-2 justify-center items-start w-full">
                        <div class="flex flex-col gap-2 items-start justify-start">
                            <div class="text-md flex flex-row gap-2 justify-center items-center min-w-fit whitespace-nowrap">
                                <div>
                                    {% if numberOfVideoPlayerSessions > 0 %}
                                        {{ 'video_analytics.play_rate_formula'|trans({
                                            '{playRate}': ((100 / numberOfVideoPlayerSessions) * numberOfStartedVideoPlayerSessions)|round
                                        }) }}
                                    {% else %}
                                        {{ 'video_analytics.play_rate_formula'|trans({
                                            '{playRate}': 0
                                        }) }}
                                    {% endif %}
                                </div>

                                =

                                <div class="flex flex-col gap-1 justify-center items-center min-w-fit whitespace-nowrap">
                                    <div class="w-full border-1 border-black border-t-0 border-l-0 border-r-0 text-center">
                                        {{ 'video_analytics.plays_formula'|trans({
                                            '{plays}': numberOfStartedVideoPlayerSessions
                                        }) }}
                                    </div>
                                    <div class="text-center">
                                        {{ 'video_analytics.player_loads'|trans({
                                            '{playerLoads}': numberOfVideoPlayerSessions
                                        }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-8 w-full bg-mercurius-blue-100 text-mercurius-blue-900 rounded-md p-4 border-1 border-mercurius-blue-900">
                    {{ 'video_analytics.note3'|trans }}
                </div>


                <div class="mt-12 h-40 z-50 mb-2">
                    <div
                            class="flex flex-row gap-0 justify-start items-end h-full"
                            style="width: 100%"
                            onmousemove="onMouseOver(event)"
                    >
                        {% for viewPercentagePerSecond in viewPercentagesPerSecond %}
                            <div
                                    data-type="bar"
                                    id="bar-{{ loop.index0 }}"
                                    class="
                                    opacity-100
                                    bg-mercurius-blue-900
                                    border-mercurius-blue-900
                                    border-b-2
                                    border-t-2
                                    border-t-mercurius-green-400
                                    "

                                    style="
                                            width: {{ 100 / viewPercentagesPerSecond|length }}%;
                                            height: {{ viewPercentagePerSecond }}%;
                                            "

                                    onmousemove="jumpTo(event, {{ loop.index0 }})"
                            >
                                <div
                                        id="percentage-{{ loop.index0 }}"
                                        class="absolute border-1 border-mercurius-green-400 rounded-r-md px-2 hidden text-mercurius-green-400 bg-mercurius-blue-900"
                                >
                                    {{ viewPercentagePerSecond|round }}%
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="flex flex-row gap-2 text-neutral-700 mb-2">
                    <div>
                        {{ 'video_analytics.seconds_label'|trans }}
                    </div>
                    <div id="seconds-info" class="font-semibold">
                        {{ video.seconds|round }} {{ 'seconds_word'|trans }}
                    </div>
                </div>

                <video
                        id="video"
                        class="z-40 rounded-md"
                        style="width: 100%;"
                        src="{{ TwigHelperService.recordingsInfrastructureService.videoForAnalyticsWidgetAssetUrl(video) }}"
                        onmousemove="onMouseOver(event)"
                >
                </video>

                <div class="flex flex-col gap-2 mt-8">

                    {% import '@shared/macros/date_and_time.html.twig' as dateAndTimeMacros %}

                    {% for sessionAnalyticsInfo in sessionAnalyticsInfos %}

                        {# @var sessionAnalyticsInfo \App\VideoBasedMarketing\Recordings\Domain\Entity\VideoPlayerSessionAnalyticsInfo #}

                        <div class="flex flex-col gap-0.5 mb-4">
                            <div class="flex flex-row gap-2">
                                <div>
                                    {{ dateAndTimeMacros.shortDateAndTime(sessionAnalyticsInfo.videoPlayerSession.createdAt) }}
                                </div>
                            </div>

                            <div class="flex flex-row gap-0">
                                {% for didWatch in sessionAnalyticsInfo.secondsToDidWatch %}
                                    <div
                                            class="
                                                {% if didWatch %}
                                                    bg-mercurius-blue-900
                                                    border-t-2
                                                    border-t-mercurius-green-400
                                                {% else %}
                                                    bg-neutral-100
                                                {% endif %}
                                            "

                                            style="width: {{ 100 / viewPercentagesPerSecond|length }}%;"
                                    >
                                        &nbsp;
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

            <script>
                function str_pad_left(string, pad, length) {
                    return (new Array(length + 1).join(pad) + string).slice(-length);
                }

                function onMouseOver(e) {
                    if (e.target.getAttribute('data-type') === 'bar') {
                        return;
                    }
                    let x = e.offsetX;

                    let pos = {{ video.seconds }} / document.getElementById('video').offsetWidth * x;

                    document.getElementById('video').currentTime = pos;

                    for (let i=0; i < {{ viewPercentagesPerSecond|length }}; i++)
                    {
                        let $el = document.getElementById('bar-' + i);
                        if ($el !== null) {
                            $el.classList.remove('bg-mercurius-green-400')
                        }

                        $el = document.getElementById('percentage-' + i);
                        if ($el !== null) {
                            $el.classList.add('hidden')
                        }
                    }

                    if (pos > 0) {
                        let $el = document.getElementById('bar-' + Math.floor(pos));
                        if ($el !== null) {
                            $el.classList.add('bg-mercurius-green-400');
                        }
                    }

                    const minutes = Math.floor(Math.floor(pos) / 60);
                    const seconds = Math.floor(pos) - minutes * 60;

                    document.getElementById('seconds-info').textContent = str_pad_left(minutes, '0', 2) + ':' + str_pad_left(seconds, '0', 2);

                    let $el = document.getElementById('percentage-' + Math.floor(pos));
                    if ($el !== null) {
                        $el.classList.remove('hidden');
                    }
                }

                function jumpTo(e, second) {
                    //console.debug(e.target.id);
                    //console.debug('second' + second);

                    document.getElementById('video').currentTime = second;

                    for (let i=0; i < {{ viewPercentagesPerSecond|length }}; i++)
                    {
                        let $el = document.getElementById('bar-' + i);
                        if ($el !== null) {
                            $el.classList.remove('bg-mercurius-green-400')
                        }

                        $el = document.getElementById('percentage-' + i);
                        if ($el !== null) {
                            $el.classList.add('hidden')
                        }
                    }

                    let $el = document.getElementById('bar-' + second);
                    if ($el !== null) {
                        $el.classList.add('bg-mercurius-green-400');
                    }

                    const minutes = Math.floor(Math.floor(second) / 60);
                    const rSeconds = Math.floor(second) - minutes * 60;

                    document.getElementById('seconds-info').textContent = str_pad_left(minutes, '0', 2) + ':' + str_pad_left(rSeconds, '0', 2);

                    $el = document.getElementById('percentage-' + second);
                    if ($el !== null) {
                        $el.classList.remove('hidden');
                    }
                }
            </script>

        {% endblock %}
    {% endembed %}

{% endblock %}
