{% extends '@shared/base_default.html.twig' %}

{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}
{# @var videos \App\VideoBasedMarketing\Recordings\Domain\Entity\Video[] #}
{# @var videoFolders \App\VideoBasedMarketing\Recordings\Domain\Entity\VideoFolder[] #}
{# @var videoFolder null|\App\VideoBasedMarketing\Recordings\Domain\Entity\VideoFolder #}

{% block title %}{{ 'sidenav.recordings'|trans }}{% endblock %}
{% block contentTitle %}{{ 'sidenav.recordings'|trans }}{% endblock %}

{% block stylesheets %}
    {% if TwigHelperService.capabilitiesService.canUploadVideos(app.user) %}
        {{ encore_entry_link_tags('uppy') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if TwigHelperService.capabilitiesService.canUploadVideos(app.user) %}
        {{ encore_entry_script_tags(
            'recordings/uppyVideoUpload',
            null,
            '_default',
            {
                'data-lang': app.request.locale,
                'data-max-file-size': TwigHelperService.videoDomainService.maxVideoUploadFilesize(app.user),
                'data-show-inline': 'false',
                'data-dashboard-target': 'body'
            }
        ) }}
    {% endif %}
{% endblock %}

{% block body %}

    {% embed '@shared/embeds/default_content_box.html.twig' %}

        {% trans_default_domain 'videobasedmarketing.recordings' %}

        {% block contentBoxTitle %}
            {{ 'videos_overview.title'|trans }}
        {% endblock %}

        {% block contentBoxSubtitle %}
            {{ 'videos_overview.subtitle'|trans }}
        {% endblock %}

        {% block contentBoxContent %}

            <div
                    class="bg-red-600"
                    id="uppyVideoUploadDashboardTarget"
            >
            </div>

            <div class="flex flex-col md:flex-row gap-6 justify-between items-start mb-10">

                <div class="flex flex-col lg:flex-row justify-start lg:justify-between gap-6">
                    {% if TwigHelperService.capabilitiesService.canUploadVideos(app.user) %}
                        <div
                                id="uppyVideoUploadDashboard"
                                class=""
                        >
                            <button
                                    id="uppyVideoUploadDashboardOpenCta"
                                    data-test-id="uppyVideoUploadDashboardOpenCta"
                                    class="cta-with-icon-primary"
                            >
                                {# Heroicon: cloud-arrow-up solid #}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="heroicon-next-to-text">
                                    <path fill-rule="evenodd" d="M10.5 3.75a6 6 0 00-5.98 6.496A5.25 5.25 0 006.75 20.25H18a4.5 4.5 0 002.206-8.423 3.75 3.75 0 00-4.133-4.303A6.001 6.001 0 0010.5 3.75zm2.03 5.47a.75.75 0 00-1.06 0l-3 3a.75.75 0 101.06 1.06l1.72-1.72v4.94a.75.75 0 001.5 0v-4.94l1.72 1.72a.75.75 0 101.06-1.06l-3-3z" clip-rule="evenodd" />
                                </svg>

                                {{ 'videos_overview.cta.upload'|trans }}
                            </button>
                        </div>
                    {% endif %}

                    {% if TwigHelperService.capabilitiesService.canRecordVideosWithNativeBrowserRecorder() %}
                        <div>
                            <a
                                    href="{{ path('videobasedmarketing.recordings.presentation.show_native_browser_recorder') }}"
                                    data-test-id="recordVideoWithNativeBrowserRecorderCta"
                                    class="cta-with-icon-primary"
                            >
                                {# Heroicon: computer-desktop solid #}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                    <path fill-rule="evenodd" d="M2.25 5.25a3 3 0 013-3h13.5a3 3 0 013 3V15a3 3 0 01-3 3h-3v.257c0 .597.237 1.17.659 1.591l.621.622a.75.75 0 01-.53 1.28h-9a.75.75 0 01-.53-1.28l.621-.622a2.25 2.25 0 00.659-1.59V18h-3a3 3 0 01-3-3V5.25zm1.5 0v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5z" clip-rule="evenodd" />
                                </svg>

                                {# Heroicon: video-camera solid #}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                    <path d="M4.5 4.5a3 3 0 00-3 3v9a3 3 0 003 3h8.25a3 3 0 003-3v-9a3 3 0 00-3-3H4.5zM19.94 18.75l-2.69-2.69V7.94l2.69-2.69c.944-.945 2.56-.276 2.56 1.06v11.38c0 1.336-1.616 2.005-2.56 1.06z" />
                                </svg>

                                {{ 'videos_overview.cta.record_with_native_browser_recorder'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>


                {% if TwigHelperService.capabilitiesService.canEditCustomLogoSetting(app.user)
                    or TwigHelperService.capabilitiesService.canEditCustomDomainSetting(app.user)
                %}
                    <div class="flex flex-row gap-3 items-center p-4 bg-neutral-100 rounded-md shadow-inner">

                        <div class="text-neutral-400">
                            {# Hericon: cog-6-tooth outline #}
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </div>

                        <div class="flex flex-col items-start border-l-2 pl-4">
                            {% if TwigHelperService.capabilitiesService.canEditCustomLogoSetting(app.user) %}
                                <a
                                        class="flex flex-row gap-1 text-xs text-neutral-500 hover:text-black mb-2"
                                        href="{{ path('videobasedmarketing.settings.presentation.custom_logo') }}"
                                >
                                    {{ 'videos_overview.cta.custom_logo'|trans }}
                                </a>
                            {% endif %}

                            {% if TwigHelperService.capabilitiesService.canEditCustomDomainSetting(app.user) %}
                                <a
                                        class="flex flex-row gap-1 text-xs text-neutral-500 hover:text-black"
                                        href="{{ path('videobasedmarketing.settings.presentation.custom_domain') }}"
                                >
                                    {{ 'videos_overview.cta.custom_domain'|trans }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

            </div>


            <div
                    class="h-full"
                    {{ stimulus_controller('videoBasedMarketing-recordings-videoFolderDragAndDrop') }}
                    data-action="dragend->videoBasedMarketing-recordings-videoFolderDragAndDrop#dragend"
            >

                <div class="mb-8 pb-6 pt-8 border-b-2 border-t-2 border-neutral-200 sticky top-0 z-40 bg-white mb-4">
                    <form
                            class="mb-7"
                            action="{{ path('videobasedmarketing.recordings.presentation.video_folders.create') }}"
                            method="post"
                    >
                        <input
                                type="hidden"
                                name="_csrf_token"
                                value="{{ csrf_token('create-video-folder') }}"
                        >

                        {% if videoFolder is not null %}
                            <input
                                    type="hidden"
                                    name="parentVideoFolderId"
                                    value="{{ videoFolder.id }}"
                            >
                        {% endif %}

                        <div class="flex flex-row gap-2 justify-start items-center">
                            <label>
                                <input
                                        class="text-input"
                                        type="text"
                                        name="name"
                                        placeholder="{{ 'videos_overview.video_folders.create_placeholder'|trans }}"
                                >
                            </label>
                            <button
                                    class="cta-with-icon-primary"
                                    type="submit"
                            >
                                {{ 'videos_overview.video_folders.create_cta'|trans }}
                            </button>
                        </div>
                    </form>

                    <div class="flex flex-col justify-center items-start gap-2">
                        {% if videoFolder is not null %}
                            <div class="font-bold text-lg mb-2">
                                {{ videoFolder.name }}
                            </div>

                            <div
                                    id="video-folder-{{ videoFolder.parentVideoFolder is null ? null : videoFolder.parentVideoFolder.id }}"
                                    data-move-video-into-folder-url="{{ path('videobasedmarketing.recordings.presentation.video_folders.move_video') }}"
                                    class="w-full"
                                    draggable="false"
                                    data-video-folder-drag-and-drop-video-folder-id="{{ videoFolder.parentVideoFolder is null ? null : videoFolder.parentVideoFolder.id }}"
                                    data-action="
                                        dragover->videoBasedMarketing-recordings-videoFolderDragAndDrop#dragover
                                        dragenter->videoBasedMarketing-recordings-videoFolderDragAndDrop#dragenter
                                        dragleave->videoBasedMarketing-recordings-videoFolderDragAndDrop#dragleave
                                        drop->videoBasedMarketing-recordings-videoFolderDragAndDrop#drop
                                        dragend->videoBasedMarketing-recordings-videoFolderDragAndDrop#dragend
                                    "
                            >
                                <a
                                        class="flex flex-row justify-start items-center gap-2 hover:underline"
                                        href="{{ path(
                                            'videobasedmarketing.recordings.presentation.videos.overview',
                                            { videoFolderId: videoFolder.parentVideoFolder is null ? null : videoFolder.parentVideoFolder.id }
                                        ) }}"
                                >
                                    {# Heroicon: arrow-long-up #}
                                    <svg
                                            id="folder-icon-normal-{{ videoFolder.parentVideoFolder is null ? '' : videoFolder.parentVideoFolder.id }}"
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24"
                                            fill="currentColor"
                                            class="w-5 h-5"
                                    >
                                        <path fill-rule="evenodd" d="M11.47 2.47a.75.75 0 011.06 0l3.75 3.75a.75.75 0 01-1.06 1.06l-2.47-2.47V21a.75.75 0 01-1.5 0V4.81L8.78 7.28a.75.75 0 01-1.06-1.06l3.75-3.75z" clip-rule="evenodd" />
                                    </svg>

                                    {# Heroicon: arrow-up-on-square #}
                                    <svg
                                            id="folder-icon-open-{{ videoFolder.parentVideoFolder is null ? '' : videoFolder.parentVideoFolder.id }}"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke-width="1.5"
                                            stroke="currentColor"
                                            class="hidden w-5 h-5"
                                    >
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15m0-3l-3-3m0 0l-3 3m3-3V15" />
                                    </svg>

                                    <div>
                                        {{ 'videos_overview.video_folders.up_cta'|trans }}
                                    </div>
                                </a>
                            </div>
                        {% endif %}

                        {% for videoFolder in videoFolders %}
                            {# @var video \App\VideoBasedMarketing\Recordings\Domain\Entity\VideoFolder #}

                            <a
                                    id="video-folder-{{ videoFolder.id }}"

                                    data-test-id="video-folder-{{ loop.index0 }}"

                                    data-move-video-into-folder-url="{{ path('videobasedmarketing.recordings.presentation.video_folders.move_video') }}"

                                    href="{{ path(
                                        'videobasedmarketing.recordings.presentation.videos.overview',
                                        { videoFolderId: videoFolder.id }
                                    ) }}"

                                    class="flex flex-row justify-start items-center gap-2 w-fit"

                                    draggable="false"
                                    data-video-folder-drag-and-drop-video-folder-id="{{ videoFolder.id }}"
                                    data-action="
                                        dragover->videoBasedMarketing-recordings-videoFolderDragAndDrop#dragover
                                        dragenter->videoBasedMarketing-recordings-videoFolderDragAndDrop#dragenter
                                        dragleave->videoBasedMarketing-recordings-videoFolderDragAndDrop#dragleave
                                        drop->videoBasedMarketing-recordings-videoFolderDragAndDrop#drop
                                        dragend->videoBasedMarketing-recordings-videoFolderDragAndDrop#dragend
                                    "
                            >
                                <div>
                                    {# Heroicons: folder solid #}
                                    <svg
                                            id="folder-icon-normal-{{ videoFolder.id }}"
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            class="w-5 h-5"
                                    >
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                                    </svg>

                                    {# Heroicons: folder-arrow-down #}
                                    <svg
                                            id="folder-icon-open-{{ videoFolder.id }}"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke-width="1.5"
                                            stroke="currentColor"
                                            class="hidden w-5 h-5"
                                    >
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                                    </svg>
                                </div>
                                <div class="flex flex-row gap-1.5 justify-start items-center">
                                    <div class="hover:underline">
                                        {{ videoFolder.name }}
                                    </div>
                                    <div

                                            class="text-neutral-500 font-light text-xs bg-neutral-200 opacity-60 rounded-sm w-fit px-1 h-5 flex flex-row justify-center items-center"
                                    >
                                        <div>
                                            <span id="number-of-videos-in-folder-{{ videoFolder.id }}">{{ TwigHelperService.videoFolderDomainService.numberOfVideosInFolder(videoFolder, app.user.currentlyActiveOrganization) }}</span>&nbsp;{{ 'videos_overview.number_of_videos_label'|trans }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>


                {% if videos|length is same as 0 %}
                    <h2 class="font-bold text-xl mb-2">
                        {{ 'videos_overview.no_videos_available'|trans }}
                    </h2>

                    {% if TwigHelperService.capabilitiesService.canBeAskedToUseExtension(app.user) %}
                        <h3 class="text-neutral-500">
                            {{ 'videos_overview.use_extension_note'|trans }}
                        </h3>
                    {% endif %}

                    {% if TwigHelperService.capabilitiesService.canUploadVideos(app.user) %}
                        <h3 class="text-neutral-500">
                            {{ 'videos_overview.use_upload_note'|trans }}
                        </h3>
                    {% endif %}

                {% else %}

                    <form
                            class="w-full flex flex-row justify-end mb-8"
                            action="{{ path('videobasedmarketing.account.presentation.switch_videos_list_view_mode') }}"
                            method="post"
                    >
                        <input
                                type="hidden"
                                name="_csrf_token"
                                value="{{ csrf_token('switch-videos-list-view-mode') }}"
                        >

                        <button type="submit" class="flex flex-row gap-2">
                            {% if app.user.videosListViewMode is same as constant('\\App\\VideoBasedMarketing\\Account\\Domain\\Enum\\VideosListViewMode::Tiles') %}
                                {{ 'videos_overview.list_view_mode.tiles'|trans }}
                                {# Heroicon: squares-2x2 #}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z" />
                                </svg>
                            {% else %}
                                {{ 'videos_overview.list_view_mode.dense'|trans }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                                </svg>
                            {% endif %}
                        </button>
                    </form>

                    {% if app.user.videosListViewMode is same as constant('\\App\\VideoBasedMarketing\\Account\\Domain\\Enum\\VideosListViewMode::Dense') %}

                        {% import '@shared/macros/date_and_time.html.twig' as dateAndTimeMacros %}

                        <div class="">
                            <table class="table-fixed w-full border-collapse">
                                <thead class="">
                                    <tr class="text-left">
                                        <th class="w-10 py-4">&nbsp;</th>
                                        <th class="pl-4">{{ 'videos_overview.list_view_mode_dense.table_th_title'|trans }}</th>
                                        <th>{{ 'videos_overview.list_view_mode_dense.table_th_date'|trans }}</th>
                                        <th>{{ 'videos_overview.list_view_mode_dense.table_th_duration'|trans }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for video in videos %}
                                        {# @var video \App\VideoBasedMarketing\Recordings\Domain\Entity\Video #}

                                        <tr
                                                id="video-{{ video.id }}"

                                                data-test-id="video-{{ loop.index0 }}"

                                                data-move-video-into-folder-csrf-token="{{ csrf_token('move-video-into-folder-' ~ video.id) }}"

                                                class="hover:bg-neutral-200"

                                                draggable="true"

                                                data-video-folder-drag-and-drop-video-id="{{ video.id }}"
                                                data-video-folder-drag-and-drop-video-drag-image-url="{{ asset(TwigHelperService.recordingsInfrastructureService.videoPosterStillAssetUrl(video)) }}"

                                                data-action="dragstart->videoBasedMarketing-recordings-videoFolderDragAndDrop#dragstart"
                                        >
                                            <td class="h-8 rounded-l-md">
                                                <img
                                                        src="{{ asset(TwigHelperService.recordingsInfrastructureService.videoPosterStillAssetUrl(video)) }}"
                                                        class="rounded-md w-full max-h-full overflow-clip"
                                                        draggable="false"
                                                >
                                            </td>
                                            <td class="font-semibold text-neutral-700 w-48 h-8 pl-4 pr-4 text-ellipsis overflow-clip whitespace-nowrap">
                                                {{ video.title }}
                                            </td>
                                            <td class="text-neutral-400 text-ellipsis overflow-clip whitespace-nowrap pr-4">
                                                {{ dateAndTimeMacros.shortDateAndTime(video.createdAt) }}
                                            </td>
                                            <td class="text-neutral-400 text-ellipsis overflow-clip whitespace-nowrap pr-4 rounded-r-md">
                                                {{ video.duration }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>


                    {% else %}

                        <div class="grid-outer">

                            {% if TwigHelperService.capabilitiesService.canOpenRecordingStudio(app.user) %}
                                <div
                                        class="
                                            flex flex-col rounded-md p-0 bg-mercurius-blue-50
                                            hover:bg-mercurius-blue-200 hover:font-bold
                                        "
                                >
                                    <a
                                            href="{{ path('videobasedmarketing.recordings.presentation.recording_studio') }}"
                                            class="flex flex-col p-8 justify-center w-full h-full text-mercurius-blue-900 text-center"
                                    >
                                        {# Heroicon: video-camera solid #}
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 mx-auto">
                                            <path d="M4.5 4.5a3 3 0 00-3 3v9a3 3 0 003 3h8.25a3 3 0 003-3v-9a3 3 0 00-3-3H4.5zM19.94 18.75l-2.69-2.69V7.94l2.69-2.69c.944-.945 2.56-.276 2.56 1.06v11.38c0 1.336-1.616 2.005-2.56 1.06z" />
                                        </svg>
                                        <span class="mt-2 text-sm">
                                        {{ 'videos_overview.cta.add'|trans }}
                                    </span>
                                    </a>
                                </div>
                            {% endif %}

                            {% for video in videos %}
                                {# @var video \App\VideoBasedMarketing\Recordings\Domain\Entity\Video #}

                                <div
                                        id="video-{{ video.id }}"

                                        data-test-id="video-{{ loop.index0 }}"

                                        data-move-video-into-folder-csrf-token="{{ csrf_token('move-video-into-folder-' ~ video.id) }}"

                                        draggable="true"

                                        data-video-folder-drag-and-drop-video-id="{{ video.id }}"
                                        data-video-folder-drag-and-drop-video-drag-image-url="{{ asset(TwigHelperService.recordingsInfrastructureService.videoPosterStillAssetUrl(video)) }}"
                                        data-action="dragstart->videoBasedMarketing-recordings-videoFolderDragAndDrop#dragstart"
                                >
                                    {{ component('videobasedmarketing_recordings_video_manage_widget', {
                                        video: video,
                                        showEditModal: showEditModalForVideoId is same as video.id,
                                        doneCtaMustRedirectToOverview: showEditModalForVideoId is same as video.id,
                                    }) }}
                                </div>
                            {% endfor %}

                        </div>

                    {% endif %}

                {% endif %}

            </div>

        {% endblock %}
    {% endembed %}

{% endblock %}
