{# @var this \App\VideoBasedMarketing\Recordings\Presentation\Component\VideoManageWidgetLiveComponent #}
{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

{% trans_default_domain 'videobasedmarketing.recordings' %}

{% set claimUnregisteredUserLandingpagePath = path('videobasedmarketing.account.presentation.claim_unregistered_user.landingpage')%}

<div
        {{ attributes }}
        {% if TwigHelperService.videoDomainService.videoIsCurrentlyBeingProcessed(this.video) %}
            data-poll
        {% endif %}

        data-live-id="video-manage-widget-video-id-{{ this.video.id }}"
>

    <div class="flex flex-col rounded-md p-0 bg-gradient-to-t from-neutral-100 to-white border-fuchsia-50 border-1 h-full">

        {% if TwigHelperService.videoDomainService.videoIsCurrentlyBeingProcessed(this.video) %}

            <div class="p-4 flex flex-col h-full gap-4 justify-start items-start">
                <div class="font-bold flex-grow">
                    {{ this.video.title }}
                </div>

                <div
                        class="text-neutral-600 flex flex-row gap-1 items-center text-sm mb-2 animate-pulse"
                        data-test-class="videoUploadProcessingWidget"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 animate-spin-slow">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 011.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.56.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.893.149c-.425.07-.765.383-.93.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 01-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.397.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 01-.12-1.45l.527-.737c.25-.35.273-.806.108-1.204-.165-.397-.505-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.107-1.204l-.527-.738a1.125 1.125 0 01.12-1.45l.773-.773a1.125 1.125 0 011.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                    {{ 'video_manage_widget.processing.note'|trans }}
                </div>

                <button
                        class="cta-with-icon-danger text-sm w-full"
                        data-action="live#action"
                        data-action-name="showDeleteModal"
                >
                    <span class="flex flex-row justify-between items-center gap-2">
                        <span>
                            {# Heroicon: trash solid #}
                            <svg
                                    class="h-4 w-4"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    viewBox="0 0 24 24"
                            >
                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                            </svg>
                        </span>
                        <span>
                            {{ 'video_manage_widget.processing.abort_cta'|trans }}
                        </span>
                    </span>
                </button>
            </div>

        {% else %}
            <div class="relative -mb-1.5">
                <div
                        class="p-0 m-0"

                        {{ stimulus_controller('videoBasedMarketing-recordings-videoPreview') }}

                        data-action="
                            focus->videoBasedMarketing-recordings-videoPreview#showAnimated
                            click->videoBasedMarketing-recordings-videoPreview#showAnimated
                            mouseover->videoBasedMarketing-recordings-videoPreview#showAnimated
                            mouseout->videoBasedMarketing-recordings-videoPreview#showStill
                            blur->videoBasedMarketing-recordings-videoPreview#showStill
                        "
                >
                    <div
                            {{ stimulus_target('videoBasedMarketing-recordings-videoPreview', 'stillImage') }}
                            class="bg-cover bg-center h-80 md:h-60 xl:h-40 w-full rounded-tl-md rounded-tr-md"
                            data-test-class="videoManageWidgetPosterStill"
                            style="background-image: url('{{ TwigHelperService.recordingsInfrastructureService.videoPosterStillAssetUrl(this.video) }}');"
                    >
                    </div>

                    <div
                            {{ stimulus_target('videoBasedMarketing-recordings-videoPreview', 'animatedImage') }}
                            class="hidden bg-cover bg-center h-80 md:h-60 xl:h-40 w-full rounded-tl-md rounded-tr-md"
                            data-test-class="videoManageWidgetPosterAnimated"
                            style="background-image: url('{{ TwigHelperService.recordingsInfrastructureService.videoPosterAnimatedAssetUrl(this.video) }}');"
                    ></div>
                </div>

                <div class="absolute bottom-0 right-0 p-4">
                    <div class="p-1 pl-2 pr-2 rounded-md bg-black bg-opacity-75 text-neutral-200 text-xs font-light">
                        {{ component('videobasedmarketing_recordings_video_duration', { 'video': this.video }) }}
                    </div>
                </div>

                {% if this.video.recordingRequestResponse is not null %}
                    <div class="absolute top-0 right-0 p-4">
                        <a
                                href="{{ path(
                                    'videobasedmarketing.recording_requests.recording_request.show',
                                    { recordingRequestId: this.video.recordingRequestResponse.recordingRequest.id }
                                ) }}"
                                title="{{ 'video_manage_widget.is_recording_request_response'|trans }}"
                                class="flex flex-row gap-1 justify-start items-center p-1 pl-2 pr-2 rounded-md bg-black bg-opacity-75 text-neutral-200 text-xs font-light"
                        >

                            {# Heroicon: video-camera solid #}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-3 h-3">
                                <path d="M4.5 4.5a3 3 0 00-3 3v9a3 3 0 003 3h8.25a3 3 0 003-3v-9a3 3 0 00-3-3H4.5zM19.94 18.75l-2.69-2.69V7.94l2.69-2.69c.944-.945 2.56-.276 2.56 1.06v11.38c0 1.336-1.616 2.005-2.56 1.06z" />
                            </svg>

                            {# Heroicon: user-circle solid #}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-3 h-3">
                                <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
                            </svg>

                        </a>
                    </div>
                {% endif %}
            </div>

            {% if TwigHelperService.capabilitiesService.canSeeVideoOnlyPresentationpageTemplateTitle(app.user) %}
                <div
                        data-test-class="video-presentationpage-template-title"
                        class="flex flex-row justify-center -m-1.5 z-10"
                >
                    <p
                            style="
                                    color: {{ this.video.videoOnlyPresentationpageTemplate.textColor.value }};
                                    background-color: {{ this.video.videoOnlyPresentationpageTemplate.bgColor.value }};
                                    "
                            class="text-xs text-neutral-600 w-fit p-1 pt-0.5 pb-0.5"
                    >
                        {{ this.video.videoOnlyPresentationpageTemplate.title }}
                    </p>
                </div>
            {% endif %}

            <div class="flex-grow pt-4 pb-4 ml-4 mr-4 mt-3 overflow-y-clip">
                <p class="text-xs text-neutral-400 mb-1">
                    {% import '@shared/macros/date_and_time.html.twig' as dateAndTimeMacros %}
                    {{ dateAndTimeMacros.shortDateAndTime(this.video.createdAt) }}
                </p>

                <div class="flex flex-row items-center gap-2">
                    {% if this.titleIsBeingEdited %}
                        <button
                                class="cta-with-icon-success"
                                data-action="live#action"
                                data-action-name="debounce(300)|save"
                        >
                            {# Heroicon: check #}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                                <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z" clip-rule="evenodd" />
                            </svg>
                        </button>

                        <input
                                draggable="false"
                                class="rounded-md border-0 w-full"
                                type="text"
                                value="{{ this.video.title }}"
                                data-model="{{ this.form.title.vars.full_name }}"
                        >

                    {% else %}
                        <button
                                class="mt-2 text-xl font-bold mb-1 break-words flex flex-row justify-between items-start gap-2 text-left flex flex-row w-full"
                                data-action="live#action"
                                data-action-name="startEditingTitle"
                                data-test-class="video-title"
                        >
                            <div>
                                {{ this.video.title }}
                            </div>

                            {# Heroicon: pencil-square solid #}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-neutral-400 hover:text-black pt-2 -mr-1 w-6 h-6 flex-shrink-0">
                                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                            </svg>
                        </button>
                    {% endif %}
                </div>
            </div>

            <div>
                {% if this.mainCtaIsBeingEdited %}
                    <div class="ml-4 mb-4 mr-4 flex flex-col justify-start gap-2">
                        <div class="flex flex-row gap-2 items-center">
                            <div class="w-12">
                                <button
                                        class="cta-with-icon-success"
                                        data-action="live#action"
                                        data-action-name="debounce(300)|save"
                                >
                                    {# Heroicon: check #}
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                                        <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z" clip-rule="evenodd" />
                                    </svg>
                                </button>
                            </div>

                            <input
                                    class="rounded-md border-0 w-full"
                                    placeholder="{{ 'video_manage_widget.edit_main_cta.placeholder.text'|trans }}"
                                    type="text"
                                    value="{{ this.video.mainCtaText }}"
                                    data-model="{{ this.form.mainCtaText.vars.full_name }}"
                            >
                        </div>

                        <div class="flex flex-row gap-2 items-center">
                            <div class="w-12">&nbsp;</div>

                            <input
                                    class="rounded-md border-0 w-full"
                                    placeholder="{{ 'video_manage_widget.edit_main_cta.placeholder.label'|trans }}"
                                    type="text"
                                    value="{{ this.video.mainCtaLabel }}"
                                    data-model="{{ this.form.mainCtaLabel.vars.full_name }}"
                            >
                        </div>

                        <div class="flex flex-row gap-2 items-center">
                            <div class="w-12">&nbsp;</div>

                            <input
                                    class="rounded-md border-0 w-full"
                                    placeholder="{{ 'video_manage_widget.edit_main_cta.placeholder.url'|trans }}"
                                    type="text"
                                    value="{{ this.video.mainCtaUrl }}"
                                    data-model="{{ this.form.mainCtaUrl.vars.full_name }}"
                            >
                        </div>
                    </div>

                {% else %}
                    <div class="text-mercurius-blue-900 hover:font-bold hover:bg-mercurius-blue-200">
                        <button
                                class="p-2 pl-4 pr-4 w-full h-full text-left text-sm"
                                data-action="live#action"
                                data-action-name="startEditingMainCta"
                                data-test-class="edit-video-main-cta"
                        >
                                <span class="flex flex-row justify-between items-center gap-2">
                                    <span>
                                        {{ 'video_manage_widget.edit_main_cta.note'|trans }}
                                    </span>
                                    <span>
                                        {# Heroicon: pencil-square solid #}
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                                            <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                            <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                        </svg>
                                    </span>
                                </span>
                        </button>
                    </div>
                {% endif %}
            </div>

            <div>
                {% if this.calendlyIsBeingEdited %}
                    <div class="m-4 flex flex-col justify-start gap-2">
                        <div class="flex flex-row gap-2 items-center">
                            <div class="w-12">
                                <button
                                        class="cta-with-icon-success"
                                        data-action="live#action"
                                        data-action-name="debounce(300)|save"
                                >
                                    {# Heroicon: check #}
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                                        <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z" clip-rule="evenodd" />
                                    </svg>
                                </button>
                            </div>

                            <input
                                    class="rounded-md border-0 w-full"
                                    placeholder="{{ 'video_manage_widget.edit_calendly.placeholder.text'|trans }}"
                                    type="text"
                                    value="{{ this.video.calendlyText }}"
                                    data-model="{{ this.form.calendlyText.vars.full_name }}"
                            >
                        </div>

                        <div class="flex flex-row gap-2 items-center">
                            <div class="w-12">&nbsp;</div>

                            <input
                                    class="rounded-md border-0 w-full"
                                    placeholder="{{ 'video_manage_widget.edit_calendly.placeholder.url'|trans }}"
                                    type="text"
                                    value="{{ this.video.calendlyUrl }}"
                                    data-model="{{ this.form.calendlyUrl.vars.full_name }}"
                            >
                        </div>
                    </div>

                {% else %}
                    <div class="text-mercurius-blue-900 hover:font-bold hover:bg-mercurius-blue-200">
                        <button
                                class="p-2 pl-4 pr-4 w-full h-full text-left text-sm"
                                data-action="live#action"
                                data-action-name="startEditingCalendly"
                                data-test-class="edit-video-main-cta"
                        >
                                <span class="flex flex-row justify-between items-center gap-2">
                                    <span class="flex flex-row gap-1 items-center">
                                        {{ 'video_manage_widget.edit_calendly.note1'|trans }}
                                        <img class="inline h-5" src="{{ asset('assets/images/videobasedmarketing/recordings/calendly_logo.svg') }}">
                                        {{ 'video_manage_widget.edit_calendly.note2'|trans }}
                                    </span>
                                    <span>
                                        {# Heroicon: calendar-days solid #}
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                                            <path d="M12.75 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM7.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM8.25 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM9.75 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM10.5 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM12.75 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM14.25 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 13.5a.75.75 0 100-1.5.75.75 0 000 1.5z" />
                                            <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z" clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                </span>
                        </button>
                    </div>
                {% endif %}
            </div>
            
            <div class="text-mercurius-blue-900 hover:font-bold hover:bg-mercurius-blue-200">
                <button
                        class="p-2 pl-4 pr-4 w-full h-full text-left text-sm"
                        data-action="live#action"
                        data-action-name="showShareModal"
                >
                    <span class="flex flex-row justify-between items-center gap-2">
                        <span>
                            {{ 'video_manage_widget.overview_box.cta_share'|trans }}
                        </span>
                        <span>
                            <!-- Heroicon: share solid -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                                <path fill-rule="evenodd" d="M15.75 4.5a3 3 0 11.825 2.066l-8.421 4.679a3.002 3.002 0 010 1.51l8.421 4.679a3 3 0 11-.729 1.31l-8.421-4.678a3 3 0 110-4.132l8.421-4.679a3 3 0 01-.096-.755z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </span>
                </button>
            </div>

            <a
                    data-test-class="videoManageWidgetShowLandingpageCta"
                    target="_blank"
                    href="{{ TwigHelperService.recordingsPresentationService.videoShareLinkUrl(this.video) }}"
            >
                <div class="text-mercurius-blue-900 hover:font-bold hover:bg-mercurius-blue-200">
                    <div class="p-2 pl-4 pr-4 w-full h-full text-left text-sm">
                        <span class="flex flex-row justify-between items-center gap-2">
                            <span>
                                {{ 'video_manage_widget.overview_box.cta_show_landingpage'|trans }}
                            </span>
                            <span>
                                <!-- Heroicon: document-text solid -->
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                                    <path fill-rule="evenodd" d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625zM7.5 15a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 017.5 15zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H8.25z" clip-rule="evenodd" />
                                    <path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z" />
                                </svg>

                            </span>
                        </span>
                    </div>
                </div>
            </a>

            {% if TwigHelperService.capabilitiesService.canSendVideoMailing(app.user) %}
                <div class="text-mercurius-blue-900 hover:font-bold hover:bg-mercurius-blue-200">
                    <form
                            action="{{
                            path(
                                'videobasedmarketing.mailings.presentation.create_video_mailing',
                                { 'videoId': this.video.id }
                            ) }}"
                            method="post"
                    >
                        <button
                                class="p-2 pl-4 pr-4 w-full h-full text-left text-sm"
                        >
                            <span class="flex flex-row justify-between items-center gap-2">
                                <span>
                                    {{ 'video_manage_widget.overview_box.cta_send_video_mailing'|trans }}
                                </span>
                                <span>
                                    {# Heroicon: envelope solid #}
                                    <svg
                                            class="h-4 w-4 text-mercurius-blue-900"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor"
                                            viewBox="0 0 24 24"
                                    >
                                        <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                                        <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                                    </svg>
                                </span>
                            </span>
                        </button>
                    </form>
                </div>
            {% endif %}


            {% if TwigHelperService.capabilitiesService.canCreateRecordingRequests(app.user) %}
                <div class="text-mercurius-blue-900 hover:font-bold hover:bg-mercurius-blue-200">
                    <form
                            action="{{ path(
                                'videobasedmarketing.recording_requests.create_recording_request',
                                { requestVideoId: this.video.id, title: this.video.title }
                            ) }}"
                            method="post"
                    >
                        <button
                                class="p-2 pl-4 pr-4 w-full h-full text-left text-sm"
                        >
                            <span class="flex flex-row justify-between items-center gap-2">
                                <span>
                                    {{ 'video_manage_widget.overview_box.cta_create_recording_request'|trans }}
                                </span>
                                <span>
                                    {# Heroicon: envelope solid #}
                                    <svg
                                            class="h-4 w-4 text-mercurius-blue-900"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor"
                                            viewBox="0 0 24 24"
                                    >
                                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm11.378-3.917c-.89-.777-2.366-.777-3.255 0a.75.75 0 01-.988-1.129c1.454-1.272 3.776-1.272 5.23 0 1.513 1.324 1.513 3.518 0 4.842a3.75 3.75 0 01-.837.552c-.676.328-1.028.774-1.028 1.152v.75a.75.75 0 01-1.5 0v-.75c0-1.279 1.06-2.107 1.875-2.502.182-.088.351-.199.503-.331.83-.727.83-1.857 0-2.584zM12 18a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                                    </svg>
                                </span>
                            </span>
                        </button>
                    </form>
                </div>
            {% endif %}


            <div class="text-mercurius-blue-900 hover:font-bold hover:bg-mercurius-blue-200">
                <button
                        class="p-2 pl-4 pr-4 w-full h-full text-left text-sm"
                        data-action="live#action"
                        data-action-name="showEmbedModal"
                >
                    <span class="flex flex-row justify-between items-center gap-2">
                        <span>
                            {{ 'video_manage_widget.overview_box.cta_show_embed'|trans }}
                        </span>
                        <span>
                            {# Heroicon: code-bracket-square solid #}
                            <svg
                                    class="h-4 w-4"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    viewBox="0 0 24 24"
                            >
                                <path fill-rule="evenodd" d="M3 6a3 3 0 013-3h12a3 3 0 013 3v12a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm14.25 6a.75.75 0 01-.22.53l-2.25 2.25a.75.75 0 11-1.06-1.06L15.44 12l-1.72-1.72a.75.75 0 111.06-1.06l2.25 2.25c.141.14.22.331.22.53zm-10.28-.53a.75.75 0 000 1.06l2.25 2.25a.75.75 0 101.06-1.06L8.56 12l1.72-1.72a.75.75 0 10-1.06-1.06l-2.25 2.25z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </span>
                </button>
            </div>


            <div class="text-mercurius-blue-900 hover:font-bold hover:bg-mercurius-blue-200">

                {% if TwigHelperService.audioTranscriptionDomainService.audioTranscription(this.video) is same as null %}
                    <button
                            class="p-2 pl-4 pr-4 w-full h-full text-left text-sm"
                            data-action="live#action"
                            data-action-name="showAudioTranscriptionModal"
                    >
                        <span class="flex flex-row justify-between items-center gap-2">
                            <span>
                                {{ 'video_manage_widget.overview_box.cta_show_audio_transcription_modal'|trans }}
                            </span>
                            <span>
                                {# Heroicon: chat-bubble-bottom-center-text solid #}
                                <svg
                                        class="h-4 w-4"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="currentColor"
                                        viewBox="0 0 24 24"
                                >
                                    <path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97zM6.75 8.25a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H7.5z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </span>
                    </button>
                {% else %}
                    <a
                            href="{{ path(
                                'videobasedmarketing.audio_transcription.presentation.overview',
                                { 'audioTranscriptionId': TwigHelperService.audioTranscriptionDomainService.audioTranscription(this.video).id }
                            ) }}"
                    >
                        <div class="p-2 pl-4 pr-4 w-full h-full text-left text-sm">
                            <div class="flex flex-row justify-between items-center gap-2">
                                <div>
                                    {{ 'video_manage_widget.overview_box.cta_show_audio_transcription_modal'|trans }}
                                </div>

                                {{ component(
                                    'videobasedmarketing_recordings_video_audio_transcription_processing',
                                    { 'audioTranscription': TwigHelperService.audioTranscriptionDomainService.audioTranscription(this.video) }
                                ) }}

                            </div>
                        </div>
                    </a>
                {% endif %}
            </div>


            <div class="text-mercurius-blue-900 hover:font-bold hover:bg-mercurius-blue-200">

                {% if TwigHelperService.lingoSyncDomainService.processCanBeStarted(this.video) %}

                    <button
                            class="p-2 pl-4 pr-4 w-full h-full text-left text-sm"
                            data-action="live#action"
                            data-action-name="showLingoSyncModal"
                    >
                            <span class="flex flex-row justify-between items-center gap-2">
                                <span>
                                    {{ 'video_manage_widget.overview_box.cta_show_lingo_sync_modal'|trans }}
                                </span>
                                <span>
                                    {# Heroicon: language #}
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke-width="2.5"
                                            stroke="currentColor"
                                            class="w-4 h-4"
                                    >
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 21l5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 016-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 01-3.827-5.802" />
                                    </svg>
                                </span>
                            </span>
                    </button>

                {% else %}

                    {% if TwigHelperService.lingoSyncDomainService.videoHasRunningProcess(this.video) %}

                        <a
                                href="{{ path(
                                    'videobasedmarketing.lingo_sync.presentation.processing.status',
                                    { 'videoId': this.video.id }
                                ) }}"
                        >
                            <div class="p-2 pl-4 pr-4 w-full h-full text-left text-sm">
                                <div class="flex flex-row justify-between items-center gap-2">
                                    <div>
                                        {{ 'video_manage_widget.overview_box.cta_show_lingo_sync_modal'|trans }}
                                    </div>

                                    {{ component(
                                        'videobasedmarketing_recordings_video_lingo_sync_processing',
                                        { 'video': this.video }
                                    ) }}

                                </div>
                            </div>
                        </a>

                    {% else %}

                        <button
                                class="p-2 pl-4 pr-4 w-full h-full text-left text-sm text-neutral-500"
                                title="{{ 'video_manage_widget.overview_box.lingo_sync_cannot_be_started_info'|trans }}"
                                disabled
                        >
                            <span class="flex flex-row justify-between items-center gap-2">
                                <span>
                                    {{ 'video_manage_widget.overview_box.cta_lingo_sync_cannot_be_started'|trans }}
                                </span>
                                <span>
                                    {# Heroicon: language #}
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke-width="2.5"
                                            stroke="currentColor"
                                            class="w-4 h-4"
                                    >
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 21l5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 016-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 01-3.827-5.802" />
                                    </svg>
                                </span>
                            </span>
                        </button>

                    {% endif %}

                {% endif %}

            </div>


            <a
                    data-test-class="videoManageWidgetShowAnalyticsCta"
                    href="{{ path(
                        'videobasedmarketing.recordings.presentation.video_analytics',
                        { videoId: this.video.id }
                    ) }}"
            >
                <div class="text-mercurius-blue-900 hover:font-bold hover:bg-mercurius-blue-200">
                    <div class="p-2 pl-4 pr-4 w-full h-full text-left text-sm">
                        <span class="flex flex-row justify-between items-center gap-2">
                            <span>
                                {{ 'video_manage_widget.overview_box.cta_show_analytics'|trans }}
                            </span>
                            <span>
                                <!-- Heroicon: chart-bar solid -->
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                     class="w-4 h-4">
                                    <path d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"/>
                                </svg>
                            </span>
                        </span>
                    </div>
                </div>
            </a>

            <div class="text-red-900 hover:font-bold hover:bg-red-200 rounded-bl rounded-br">
                <button
                        class="p-2 pl-4 pr-4 w-full h-full text-left text-sm"
                        data-action="live#action"
                        data-action-name="showDeleteModal"
                >
                    <span class="flex flex-row justify-between items-center gap-2">
                        <span>
                            {{ 'video_manage_widget.overview_box.cta_delete'|trans }}
                        </span>
                        <span>
                            {# Heroicon: trash solid #}
                            <svg
                                    class="h-4 w-4 text-red-900"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    viewBox="0 0 24 24"
                            >
                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </span>
                </button>
            </div>
        {% endif %}

    </div>



    {% if this.shareModalIsOpen %}
        <div
                class="
                    fixed w-full h-full top-0 left-0 bg-opacity-90 bg-neutral-900
                    z-30 flex flex-row justify-center items-center
                "
        >
            <div class="
                bg-white max-w-screen-lg max-h-screen max-w-full
                p-4 w-fit rounded-md
                flex flex-col justify-start
            ">
                <div class="flex flex-row justify-between mb-8">

                    <div class="flex flex-row gap-2 items-center text-neutral-700">
                        {# Heroicon: share solid #}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M15.75 4.5a3 3 0 11.825 2.066l-8.421 4.679a3.002 3.002 0 010 1.51l8.421 4.679a3 3 0 11-.729 1.31l-8.421-4.678a3 3 0 110-4.132l8.421-4.679a3 3 0 01-.096-.755z" clip-rule="evenodd" />
                        </svg>
                        <span class="font-bold">
                            {{ 'video_manage_widget.share_modal.headline'|trans }}
                        </span>
                    </div>

                    <button
                            class=""
                            data-action="live#action"
                            data-action-name="hideShareModal"
                    >
                        {# Heroicon: x-mark solid #}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>

                <div
                        class="flex flex-row mb-8"
                        data-controller="clipboard"
                        data-clipboard-success-content='{{ 'video_share_widget.copied'|trans }}'
                >

                    <input class="w-full text-mercurius-blue-500 bg-neutral-200 rounded-tl-md border-0 rounded-bl-md"
                           type="text"
                           disabled="disabled"
                           size="36"
                           value="{{ this.shareUrl }}"
                           data-clipboard-target="source"
                    >
                    <button class="
                                bg-mercurius-blue-900 text-mercurius-blue-200 p-2 flex flex-row gap-1
                                rounded-tr-md
                                rounded-br-md
                            "
                            data-clipboard-target="button"
                            data-action="clipboard#copy"
                    >
                        {{ 'video_share_widget.copy_cta'|trans }}
                    </button>
                </div>
                <div class="flex flex-row justify-evenly items-end gap-4 text-sm font-semibold text-neutral-700">
                    <button
                            class="w-20 flex flex-col justify-center items-center p-2 rounded-md hover:bg-mercurius-blue-200"
                            data-action="live#action"
                            data-action-name="switchShareUrlDirectLink"
                    >
                        {# Heroicon: link solid #}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="block w-8 h-8 m-2">
                            <path fill-rule="evenodd" d="M19.902 4.098a3.75 3.75 0 00-5.304 0l-4.5 4.5a3.75 3.75 0 001.035 6.037.75.75 0 01-.646 1.353 5.25 5.25 0 01-1.449-8.45l4.5-4.5a5.25 5.25 0 117.424 7.424l-1.757 1.757a.75.75 0 11-1.06-1.06l1.757-1.757a3.75 3.75 0 000-5.304zm-7.389 4.267a.75.75 0 011-.353 5.25 5.25 0 011.449 8.45l-4.5 4.5a5.25 5.25 0 11-7.424-7.424l1.757-1.757a.75.75 0 111.06 1.06l-1.757 1.757a3.75 3.75 0 105.304 5.304l4.5-4.5a3.75 3.75 0 00-1.035-6.037.75.75 0 01-.354-1z" clip-rule="evenodd" />
                        </svg>
                        {{ 'video_manage_widget.share_modal.direct_link'|trans }}
                    </button>

                    <a
                            href="{{ this.shareUrlFacebook }}"
                            target="_blank"
                            class="w-20 flex flex-col justify-center items-center p-2 rounded-md hover:bg-mercurius-blue-200"
                    >
                        <img class="w-12 h-12 opacity-50" src="{{ asset('assets/images/social-media-icons/icons8-facebook.svg') }}">
                        Facebook
                    </a>

                    <button
                            class="w-20 flex flex-col justify-center items-center p-2 rounded-md hover:bg-mercurius-blue-200"
                            data-action="live#action"
                            data-action-name="switchShareUrlInstagram"
                    >
                        <img class="w-12 h-12 opacity-50" src="{{ asset('assets/images/social-media-icons/icons8-instagram.svg') }}">
                        Instagram
                    </button>

                    <a
                            href="{{ this.shareUrlTwitter }}"
                            target="_blank"
                            class="w-20 flex flex-col justify-center items-center p-2 rounded-md hover:bg-mercurius-blue-200"
                    >
                        <img class="w-12 h-12 opacity-50" src="{{ asset('assets/images/social-media-icons/icons8-twitter.svg') }}">
                        Twitter
                    </a>

                    <a
                            href="{{ this.shareUrlLinkedIn }}"
                            target="_blank"
                            class="w-20 flex flex-col justify-center items-center p-2 rounded-md hover:bg-mercurius-blue-200"
                    >
                        <img class="w-12 h-12 opacity-50" src="{{ asset('assets/images/social-media-icons/icons8-linkedin.svg') }}">
                        LinkedIn
                    </a>
                </div>
            </div>
        </div>
    {% endif %}


    {% if this.embedModalIsOpen %}
        <div
                draggable="false"
                class="
                    fixed w-full h-full top-0 left-0 bg-opacity-90 bg-neutral-900
                    z-30 flex flex-row justify-center items-center
                    p-4
                "
        >
            <div class="
                bg-white max-w-screen-lg max-h-screen max-w-full
                p-4 w-fit rounded-md
                flex flex-col justify-start
            ">
                <div class="flex flex-row justify-between mb-8">

                    <div class="flex flex-row gap-2 items-center text-black">
                        {# Heroicon: code-bracket-square solid #}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M3 6a3 3 0 013-3h12a3 3 0 013 3v12a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm14.25 6a.75.75 0 01-.22.53l-2.25 2.25a.75.75 0 11-1.06-1.06L15.44 12l-1.72-1.72a.75.75 0 111.06-1.06l2.25 2.25c.141.14.22.331.22.53zm-10.28-.53a.75.75 0 000 1.06l2.25 2.25a.75.75 0 101.06-1.06L8.56 12l1.72-1.72a.75.75 0 10-1.06-1.06l-2.25 2.25z" clip-rule="evenodd" />
                        </svg>
                        <span class="font-bold">
                            {{ 'video_manage_widget.embed_modal.headline'|trans }}
                        </span>
                    </div>

                    <button
                            class=""
                            data-action="live#action"
                            data-action-name="hideEmbedModal"
                    >
                        {# Heroicon: x-mark solid #}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>

                <div class="text-neutral-800 mb-8 text-sm">
                    {{ 'video_manage_widget.embed_modal.explanation1'|trans }}
                </div>

                <div
                        class="flex flex-col gap-0"
                        data-controller="clipboard"
                        data-clipboard-success-content='{{ 'video_manage_widget.embed_modal.copied'|trans }}'
                >

                    <input
                            type="hidden"
                            value="{{ TwigHelperService.embeddableVideoPlayerPresentationService.videoEmbedCode(this.video) }}"
                            data-clipboard-target="source"
                    />

                    <div
                            class="w-full font-mono text-xs text-black bg-neutral-200 rounded-tl-md border-0 rounded-tr-md overflow-clip whitespace-pre-wrap p-4 pt-0"
                    >{{ TwigHelperService.embeddableVideoPlayerPresentationService.videoEmbedCode(this.video) }}</div>

                    <button class="
                                bg-mercurius-blue-500
                                hover:bg-mercurius-blue-700
                                text-white p-2 flex flex-row gap-1
                                font-semibold
                                h-16 justify-center items-center
                                rounded-bl-md
                                rounded-br-md
                            "
                            data-clipboard-target="button"
                            data-action="clipboard#copy"
                    >
                        {{ 'video_manage_widget.embed_modal.copy_cta'|trans }}
                    </button>
                </div>
            </div>
        </div>
    {% endif %}


    {% if this.audioTranscriptionModalIsOpen %}
        <div
                draggable="false"
                class="
                    fixed w-full h-full top-0 left-0 bg-opacity-90 bg-neutral-900
                    z-30 flex flex-row justify-center items-center
                    p-4
                "
        >
            <div class="
                bg-white max-w-screen-lg max-h-screen max-w-full
                p-4 w-fit rounded-md
                flex flex-col justify-start
            ">
                <div class="flex flex-row justify-between mb-8">

                    <div class="flex flex-row gap-2 items-center text-black">
                        {# Heroicon: code-bracket-square solid #}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M3 6a3 3 0 013-3h12a3 3 0 013 3v12a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm14.25 6a.75.75 0 01-.22.53l-2.25 2.25a.75.75 0 11-1.06-1.06L15.44 12l-1.72-1.72a.75.75 0 111.06-1.06l2.25 2.25c.141.14.22.331.22.53zm-10.28-.53a.75.75 0 000 1.06l2.25 2.25a.75.75 0 101.06-1.06L8.56 12l1.72-1.72a.75.75 0 10-1.06-1.06l-2.25 2.25z" clip-rule="evenodd" />
                        </svg>
                        <span class="font-bold">
                            {{ 'video_manage_widget.audio_transcription_modal.headline'|trans }}
                        </span>
                    </div>

                    <button
                            class=""
                            data-action="live#action"
                            data-action-name="hideAudioTranscriptionModal"
                    >
                        {# Heroicon: x-mark solid #}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>

                <div class="text-neutral-800 mb-8 text-sm">
                    {{ 'video_manage_widget.audio_transcription_modal.choose_language'|trans }}
                </div>

                <div class="flex flex-row gap-2 justify-center items-start w-full">
                    <form
                            action="{{ path('videobasedmarketing.audio_transcription.presentation.processing.start') }}"
                            method="post"
                    >
                        <input
                                type="hidden"
                                name="videoId"
                                value="{{ this.video.id }}"
                        >

                        <input
                                type="hidden"
                                name="bcp47LanguageCode"
                                value="{{ constant('App\\Shared\\Domain\\Enum\\Bcp47LanguageCode::EnUs').value }}"
                        >

                        <input
                                type="hidden"
                                name="_csrf_token"
                                value="{{ csrf_token(
                                    'start-audio-transcription-'
                                    ~ this.video.id
                                    ~ '-'
                                    ~ constant('App\\Shared\\Domain\\Enum\\Bcp47LanguageCode::EnUs').value
                                ) }}"
                        >

                        <button
                                type="submit"
                                class="cta-with-icon-primary"
                        >
                            {{ 'video_manage_widget.audio_transcription_modal.cta_language.en_US'|trans }}
                        </button>
                    </form>

                    <form
                            action="{{ path('videobasedmarketing.audio_transcription.presentation.processing.start') }}"
                            method="post"
                    >
                        <input
                                type="hidden"
                                name="videoId"
                                value="{{ this.video.id }}"
                        >

                        <input
                                type="hidden"
                                name="bcp47LanguageCode"
                                value="{{ constant('App\\Shared\\Domain\\Enum\\Bcp47LanguageCode::DeDe').value }}"
                        >

                        <input
                                type="hidden"
                                name="_csrf_token"
                                value="{{ csrf_token(
                                    'start-audio-transcription-'
                                    ~ this.video.id
                                    ~ '-'
                                    ~ constant('App\\Shared\\Domain\\Enum\\Bcp47LanguageCode::DeDe').value
                                ) }}"
                        >

                        <button
                                type="submit"
                                class="cta-with-icon-primary"
                        >
                            {{ 'video_manage_widget.audio_transcription_modal.cta_language.de_DE'|trans }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    {% if this.lingoSyncModalIsOpen %}
        <div
                draggable="false"
                class="
                    fixed w-full h-full top-0 left-0 bg-opacity-90 bg-neutral-900
                    z-30 flex flex-row justify-center items-center
                    p-4
                "
        >
            <div class="
                bg-white max-w-screen-lg max-h-screen max-w-full
                p-4 w-fit rounded-md
                flex flex-col justify-start
            ">
                <div class="flex flex-row justify-between mb-8">

                    <div class="flex flex-row gap-2 items-center text-black">
                        {# Heroicon: code-bracket-square solid #}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M3 6a3 3 0 013-3h12a3 3 0 013 3v12a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm14.25 6a.75.75 0 01-.22.53l-2.25 2.25a.75.75 0 11-1.06-1.06L15.44 12l-1.72-1.72a.75.75 0 111.06-1.06l2.25 2.25c.141.14.22.331.22.53zm-10.28-.53a.75.75 0 000 1.06l2.25 2.25a.75.75 0 101.06-1.06L8.56 12l1.72-1.72a.75.75 0 10-1.06-1.06l-2.25 2.25z" clip-rule="evenodd" />
                        </svg>
                        <span class="font-bold">
                            {{ 'video_manage_widget.lingo_sync_modal.headline'|trans }}
                        </span>
                    </div>

                    <button
                            class=""
                            data-action="live#action"
                            data-action-name="hideLingoSyncModal"
                    >
                        {# Heroicon: x-mark solid #}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>

                <div class="flex flex-row gap-2 justify-center items-start w-full">

                    <form
                            action="{{ path('videobasedmarketing.lingo_sync.presentation.processing.start') }}"
                            method="post"
                    >
                        <input
                                type="hidden"
                                name="_csrf_token"
                                value="{{ csrf_token(
                                    'start-lingo-sync-processing-'
                                    ~ this.video.id
                                ) }}"
                        >

                        <input
                                type="hidden"
                                name="videoId"
                                value="{{ this.video.id }}"
                        >

                        <div class="text-neutral-800 mt-8 text-sm">
                            {{ 'video_manage_widget.lingo_sync_modal.choose_original_language'|trans }}
                        </div>

                        {% for languageCode in TwigHelperService.lingoSyncDomainService.supportedOriginalLanguages %}
                            <div>
                                <input
                                        type="radio"
                                        name="originalLanguage"
                                        value="{{ languageCode.value }}"
                                        id="lingoSync-originalLanguage-{{ languageCode.value }}"
                                >
                                <label for="lingoSync-originalLanguage-{{ languageCode.value }}">
                                    {{ ('video_manage_widget.lingo_sync_modal.language.' ~ languageCode.value)|trans }}
                                </label>
                            </div>
                        {% endfor %}


                        <div class="text-neutral-800 mt-8 text-sm">
                            {{ 'video_manage_widget.lingo_sync_modal.choose_original_gender'|trans }}
                        </div>

                        {% for gender in TwigHelperService.lingoSyncDomainService.supportedOriginalGenders %}
                            <div>
                                <input
                                        type="radio"
                                        name="originalGender"
                                        value="{{ gender.value }}"
                                        id="lingoSync-originalGender-{{ gender.value }}"
                                >
                                <label for="lingoSync-originalGender-{{ gender.value }}">
                                    {{ ('video_manage_widget.lingo_sync_modal.gender.' ~ gender.value)|trans }}
                                </label>
                            </div>
                        {% endfor %}


                        <div class="text-neutral-800 mt-8 text-sm">
                            {{ 'video_manage_widget.lingo_sync_modal.choose_target_language'|trans }}
                        </div>

                        {% for languageCode in TwigHelperService.lingoSyncDomainService.supportedTargetLanguages %}
                            <div>
                                <input
                                        type="radio"
                                        name="targetLanguage"
                                        value="{{ languageCode.value }}"
                                        id="lingoSync-targetLanguage-{{ languageCode.value }}"
                                >
                                <label for="lingoSync-targetLanguage-{{ languageCode.value }}">
                                    {{ ('video_manage_widget.lingo_sync_modal.language.' ~ languageCode.value)|trans }}
                                </label>
                            </div>
                        {% endfor %}

                        <button
                                type="submit"
                                class="mt-8 cta-with-icon-primary"
                        >
                            {{ 'video_manage_widget.lingo_sync_modal.cta_submit'|trans }}
                        </button>
                    </form>
                </div>

            </div>
        </div>
    {% endif %}

    {% if this.deleteModalIsOpen %}
        <div
                class="
                    fixed w-full h-full top-0 left-0 bg-opacity-90 bg-neutral-900
                    z-30 flex flex-row justify-center items-center
                "
        >
            <div class="
                bg-white max-w-screen-lg max-h-screen max-w-full
                p-4 w-fit rounded-md
                flex flex-col justify-start
            ">
                <div class="flex flex-row justify-between mb-8">

                    <div class="flex flex-row gap-2 items-center text-red-700">
                        {# Heroicon: trash solid #}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                        </svg>
                        <span class="font-bold">
                            {{ 'video_manage_widget.delete_modal.title'|trans }}
                        </span>
                    </div>

                    <button
                            class=""
                            data-action="live#action"
                            data-action-name="hideDeleteModal"
                    >
                        {# Heroicon: x-mark solid #}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>

                <div
                        class="flex flex-col gap-6"
                >
                    {{ 'video_manage_widget.delete_modal.really'|trans }}

                    <form
                            method="post"
                            action="{{ path(
                                'videobasedmarketing.recordings.presentation.video.deletion',
                                { videoId: this.video.id }
                            ) }}"
                    >
                        <button class="cta-with-icon-danger"
                        >
                            {# Heroicon: check-circle solid #}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                            </svg>
                            {{ 'video_manage_widget.delete_modal.yes'|trans }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}


    {% if this.editModalIsOpen %}
        <div
                class="
                    fixed top-0 left-0 bottom-0 right-0 bg-opacity-90 bg-neutral-900
                    z-40 flex flex-row justify-center items-center
                "
        >
            <div class="
                h-full md:w-10/12 overflow-y-scroll relative bg-neutral-100 p-8 pt-4
            ">
                {% embed '@shared/embeds/two_column_content_box_content_row.html.twig' with { odd: false, colspanLeft: 8, colspanRight: 4 } %}

                    {% trans_default_domain 'videobasedmarketing.recordings' %}

                    {% block contentLeft %}

                        <div class="">

                            <div class="mb-4">
                                <img src="{{ asset('assets/images/ui/browser_head.png') }}" class="w-full">

                                <div
                                        class="rounded-bl-xl rounded-br-xl p-6 border-2 border-t-0 border-neutral-500"
                                        style="
                                                background-color: {{ this.video.videoOnlyPresentationpageTemplate.bgColor.value }};
                                                color: {{ this.video.videoOnlyPresentationpageTemplate.textColor.value }};
                                        "
                                >
                                    <h2
                                            class="text-3xl text-center"
                                    >
                                        {{ this.video.title }}
                                    </h2>

                                    <div
                                            class="h-0.5 w-8/12 mt-2 mb-4 mx-auto"
                                            style="background-color: {{ this.video.videoOnlyPresentationpageTemplate.fgColor.value }};"
                                    ></div>

                                    <div class="w-8/12 mx-auto">
                                        {{ component(
                                            'videobasedmarketing_recordings_video_player_embedded',
                                            { video: this.video }
                                        ) }}
                                    </div>
                                </div>
                            </div>

                            <div class="rounded-md p-4 bg-neutral-200 flex flex-row flex-wrap gap-4 justify-between items-center">

                                <div class="text-neutral-600">
                                    {% import '@shared/macros/date_and_time.html.twig' as dateAndTimeMacros %}
                                    {{ dateAndTimeMacros.full(video.createdAt) }}
                                </div>

                                <div class="flex flex-row gap-4 flex-wrap justify-start">

                                    <button class="cta-with-icon-inline-primary">
                                        {# Heroicon: document-duplicate solid #}
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                            <path d="M7.5 3.375c0-1.036.84-1.875 1.875-1.875h.375a3.75 3.75 0 013.75 3.75v1.875C13.5 8.161 14.34 9 15.375 9h1.875A3.75 3.75 0 0121 12.75v3.375C21 17.16 20.16 18 19.125 18h-9.75A1.875 1.875 0 017.5 16.125V3.375z" />
                                            <path d="M15 5.25a5.23 5.23 0 00-1.279-3.434 9.768 9.768 0 016.963 6.963A5.23 5.23 0 0017.25 7.5h-1.875A.375.375 0 0115 7.125V5.25zM4.875 6H6v10.125A3.375 3.375 0 009.375 19.5H16.5v1.125c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625V7.875C3 6.839 3.84 6 4.875 6z" />
                                        </svg>
                                        {{ 'video_manage_widget.edit_modal.cta_copy'|trans }}
                                    </button>

                                    <button class="cta-with-icon-inline-primary">
                                        {# Heroicon: scissors solid #}
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                            <path fill-rule="evenodd" d="M8.128 9.155a3.751 3.751 0 11.713-1.321l1.136.656a.75.75 0 01.222 1.104l-.006.007a.75.75 0 01-1.032.157 1.421 1.421 0 00-.113-.072l-.92-.531zm-4.827-3.53a2.25 2.25 0 013.994 2.063.756.756 0 00-.122.23 2.25 2.25 0 01-3.872-2.293zM13.348 8.272a5.073 5.073 0 00-3.428 3.57c-.101.387-.158.79-.165 1.202a1.415 1.415 0 01-.707 1.201l-.96.554a3.751 3.751 0 10.734 1.309l13.729-7.926a.75.75 0 00-.181-1.374l-.803-.215a5.25 5.25 0 00-2.894.05l-5.325 1.629zm-9.223 7.03a2.25 2.25 0 102.25 3.897 2.25 2.25 0 00-2.25-3.897zM12 12.75a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                                            <path d="M16.372 12.615a.75.75 0 01.75 0l5.43 3.135a.75.75 0 01-.182 1.374l-.802.215a5.25 5.25 0 01-2.894-.051l-5.147-1.574a.75.75 0 01-.156-1.367l3-1.732z" />
                                        </svg>

                                        {{ 'video_manage_widget.edit_modal.cta_cut'|trans }}
                                    </button>

                                    <a
                                            {% if TwigHelperService.capabilitiesService.mustBeForcedToClaimUnregisteredUser(app.user) %}
                                                href="{{ claimUnregisteredUserLandingpagePath }}"
                                            {% else %}
                                                href="{{
                                                    TwigHelperService.contentDeliveryService.createForcedDownloadLink(
                                                        TwigHelperService.recordingsInfrastructureService.videoFullAssetUrl(
                                                            this.video
                                                        )
                                                    )
                                                }}"
                                            {% endif %}

                                            class="cta-with-icon-inline-primary"
                                    >
                                        {# Heroicon: folder-arrow-down solid #}
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                            <path fill-rule="evenodd" d="M19.5 21a3 3 0 003-3V9a3 3 0 00-3-3h-5.379a.75.75 0 01-.53-.22L11.47 3.66A2.25 2.25 0 009.879 3H4.5a3 3 0 00-3 3v12a3 3 0 003 3h15zm-6.75-10.5a.75.75 0 00-1.5 0v4.19l-1.72-1.72a.75.75 0 00-1.06 1.06l3 3a.75.75 0 001.06 0l3-3a.75.75 0 10-1.06-1.06l-1.72 1.72V10.5z" clip-rule="evenodd" />
                                        </svg>
                                        {{ 'video_manage_widget.edit_modal.cta_download'|trans }}
                                    </a>

                                    {% if TwigHelperService.capabilitiesService.mustBeForcedToClaimUnregisteredUser(app.user) %}
                                        <a
                                                href="{{ claimUnregisteredUserLandingpagePath }}"
                                                class="cta-with-icon-inline-danger"
                                        >
                                            {# Heroicon: trash solid #}
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                                            </svg>
                                            {{ 'video_manage_widget.edit_modal.cta_delete'|trans }}
                                        </a>
                                    {% else %}
                                        <button
                                                class="cta-with-icon-inline-danger"
                                                data-action="live#action"
                                                data-action-name="showDeleteModal"
                                        >
                                            {# Heroicon: trash solid #}
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                                            </svg>
                                            {{ 'video_manage_widget.edit_modal.cta_delete'|trans }}
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    {% endblock %}



                    {% block contentRight %}

                        <div class="bg-white rounded-md p-4 pb-1 mb-4">
                            {% form_theme form '@shared/form_themes/form_theme_default.html.twig' %}

                            {{ form_start(this.form) }}

                            {{ form_row(this.form.title, {
                                attr: {
                                    'data-model': 'on(input)|debounce(250)|' ~ this.form.title.vars.full_name,
                                    'data-action': 'live#action',
                                    'data-action-name': 'debounce(300)|save'
                                }
                            }) }}

                            {{ form_row(this.form.videoOnlyPresentationpageTemplate, {
                                attr: {
                                    'data-model': this.form.videoOnlyPresentationpageTemplate.vars.full_name,
                                    'data-action': 'live#action',
                                    'data-action-name': 'save'
                                }
                            }) }}

                            {{ form_end(this.form) }}
                        </div>


                        {% if TwigHelperService.capabilitiesService.mustBeForcedToClaimUnregisteredUser(app.user) %}
                            <a
                                    href="{{ claimUnregisteredUserLandingpagePath }}"
                                    class="cta-with-icon-primary"
                            >
                                {# Heroicon: share solid #}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                    <path fill-rule="evenodd" d="M15.75 4.5a3 3 0 11.825 2.066l-8.421 4.679a3.002 3.002 0 010 1.51l8.421 4.679a3 3 0 11-.729 1.31l-8.421-4.678a3 3 0 110-4.132l8.421-4.679a3 3 0 01-.096-.755z" clip-rule="evenodd" />
                                </svg>
                                {{ 'video_manage_widget.edit_modal.cta_share'|trans }}
                            </a>
                        {% else %}
                            <button
                                    class="cta-with-icon-primary"
                                    data-action="live#action"
                                    data-action-name="showShareModal"
                            >
                                {# Heroicon: share solid #}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                    <path fill-rule="evenodd" d="M15.75 4.5a3 3 0 11.825 2.066l-8.421 4.679a3.002 3.002 0 010 1.51l8.421 4.679a3 3 0 11-.729 1.31l-8.421-4.678a3 3 0 110-4.132l8.421-4.679a3 3 0 01-.096-.755z" clip-rule="evenodd" />
                                </svg>
                                {{ 'video_manage_widget.edit_modal.cta_share'|trans }}
                            </button>
                        {% endif %}

                        <a
                                {% if TwigHelperService.capabilitiesService.mustBeForcedToClaimUnregisteredUser(app.user) %}
                                    href="{{ claimUnregisteredUserLandingpagePath }}"
                                {% else %}
                                    href="{{ TwigHelperService.recordingsPresentationService.videoShareLinkUrl(this.video) }}"
                                {% endif %}

                                target="_blank"
                                class="cta-with-icon-primary"
                        >
                            {# Heroicon: eye solid #}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
                            </svg>
                            {{ 'video_manage_widget.edit_modal.cta_preview'|trans }}
                        </a>

                        {% if TwigHelperService.capabilitiesService.mustBeForcedToClaimUnregisteredUser(app.user) %}
                            <a
                                    class="cta-with-icon-success"
                                    href="{{ path('videobasedmarketing.account.presentation.claim_unregistered_user.landingpage') }}"
                            >
                                {# Heroicon: check-circle solid #}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                </svg>
                                {{ 'video_manage_widget.edit_modal.cta_done'|trans }}
                            </a>

                        {% else %}
                            {% if this.doneCtaMustRedirectToOverview %}
                                <a
                                        class="cta-with-icon-success"
                                        href="{{ path('videobasedmarketing.recordings.presentation.videos.overview') }}"
                                >
                                    {# Heroicon: check-circle solid #}
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                    </svg>
                                    {{ 'video_manage_widget.edit_modal.cta_done'|trans }}
                                </a>
                            {% else %}
                                <button
                                        class="cta-with-icon-success"
                                        data-action="live#action"
                                        data-action-name="hideEditModal"
                                >
                                    {# Heroicon: check-circle solid #}
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                    </svg>
                                    {{ 'video_manage_widget.edit_modal.cta_done'|trans }}
                                </button>
                            {% endif %}

                        {% endif %}

                    {% endblock %}

                {% endembed %}
            </div>
        </div>
    {% endif %}

</div>
