{% extends '@shared/base_default.html.twig' %}

{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}
{# @var videoFolders \App\VideoBasedMarketing\Recordings\Domain\Entity\VideoFolder[] #}
{# @var videoFolder null|\App\VideoBasedMarketing\Recordings\Domain\Entity\VideoFolder #}

{% block title %}{{ 'sidenav.recordings'|trans }}{% endblock %}
{% block contentTitle %}{{ 'sidenav.recordings'|trans }}{% endblock %}

{% block stylesheets %}
    {% if TwigHelperService.capabilitiesService.canUploadVideos(app.user) %}
        {{ encore_entry_link_tags('uppy') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if TwigHelperService.capabilitiesService.canUploadVideos(app.user) %}
        {{ encore_entry_script_tags(
            'recordings/uppyVideoUpload',
            null,
            '_default',
            {
                'data-lang': app.request.locale,
                'data-max-file-size': TwigHelperService.videoDomainService.maxVideoUploadFilesize(app.user),
                'data-show-inline': 'false',
                'data-dashboard-target': 'body',
                'data-current-video-folder-id': videoFolder is null ? null : videoFolder.id,
                'data-after-done-location': app.request.uri
            }
        ) }}
    {% endif %}
{% endblock %}

{% block body %}

    {% embed '@shared/embeds/default_content_box.html.twig' %}

        {% trans_default_domain 'videobasedmarketing.recordings' %}

        {% block contentBoxTitle %}
            {{ 'videos_overview.title'|trans }}
        {% endblock %}

        {% block contentBoxSubtitle %}
            {{ 'videos_overview.subtitle'|trans }}
        {% endblock %}

        {% block contentBoxContent %}

            <div
                    class="bg-red-600"
                    id="uppyVideoUploadDashboardTarget"
            >
            </div>

            <div class="flex flex-col md:flex-row gap-6 justify-between items-start mb-10">

                <div class="flex flex-col lg:flex-row justify-start lg:justify-between gap-6">
                    {% if TwigHelperService.capabilitiesService.canUploadVideos(app.user) %}
                        <div
                                id="uppyVideoUploadDashboard"
                                class=""
                        >
                            <button
                                    id="uppyVideoUploadDashboardOpenCta"
                                    data-test-id="uppyVideoUploadDashboardOpenCta"
                                    class="cta-with-icon-primary"
                            >
                                {# Heroicon: cloud-arrow-up solid #}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="heroicon-next-to-text">
                                    <path fill-rule="evenodd" d="M10.5 3.75a6 6 0 00-5.98 6.496A5.25 5.25 0 006.75 20.25H18a4.5 4.5 0 002.206-8.423 3.75 3.75 0 00-4.133-4.303A6.001 6.001 0 0010.5 3.75zm2.03 5.47a.75.75 0 00-1.06 0l-3 3a.75.75 0 101.06 1.06l1.72-1.72v4.94a.75.75 0 001.5 0v-4.94l1.72 1.72a.75.75 0 101.06-1.06l-3-3z" clip-rule="evenodd" />
                                </svg>

                                {{ 'videos_overview.cta.upload'|trans }}
                            </button>
                        </div>
                    {% endif %}

                    {% if TwigHelperService.capabilitiesService.canRecordVideosWithNativeBrowserRecorder() %}
                        <div>
                            <a
                                    href="{{ path('videobasedmarketing.recordings.presentation.show_native_browser_recorder') }}"
                                    data-test-id="recordVideoWithNativeBrowserRecorderCta"
                                    class="cta-with-icon-primary"
                            >
                                {# Heroicon: computer-desktop solid #}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                    <path fill-rule="evenodd" d="M2.25 5.25a3 3 0 013-3h13.5a3 3 0 013 3V15a3 3 0 01-3 3h-3v.257c0 .597.237 1.17.659 1.591l.621.622a.75.75 0 01-.53 1.28h-9a.75.75 0 01-.53-1.28l.621-.622a2.25 2.25 0 00.659-1.59V18h-3a3 3 0 01-3-3V5.25zm1.5 0v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5z" clip-rule="evenodd" />
                                </svg>

                                {# Heroicon: video-camera solid #}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                    <path d="M4.5 4.5a3 3 0 00-3 3v9a3 3 0 003 3h8.25a3 3 0 003-3v-9a3 3 0 00-3-3H4.5zM19.94 18.75l-2.69-2.69V7.94l2.69-2.69c.944-.945 2.56-.276 2.56 1.06v11.38c0 1.336-1.616 2.005-2.56 1.06z" />
                                </svg>

                                {{ 'videos_overview.cta.record_with_native_browser_recorder'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>

            </div>


            <div
                    {{ stimulus_controller('videoBasedMarketing-recordings-videoFolderDragAndDrop') }}
                    data-action="dragend->videoBasedMarketing-recordings-videoFolderDragAndDrop#dragend"
            >

                <div class="pt-8 border-1 border-l-0 border-r-0 border-b-0 border-neutral-200 bg-white mb-4">
                    <form
                            class="mb-7"
                            action="{{ path('videobasedmarketing.recordings.presentation.video_folders.create') }}"
                            method="post"
                    >
                        <input
                                type="hidden"
                                name="_csrf_token"
                                value="{{ csrf_token('create-video-folder') }}"
                        >

                        {% if videoFolder is not null %}
                            <input
                                    type="hidden"
                                    name="parentVideoFolderId"
                                    value="{{ videoFolder.id }}"
                            >
                        {% endif %}

                        <div class="flex flex-row gap-2 justify-start items-center">
                            <label>
                                <input
                                        class="text-input"
                                        type="text"
                                        name="name"
                                        placeholder="{{ 'videos_overview.video_folders.create_placeholder'|trans }}"
                                >
                            </label>
                            <button
                                    class="cta-with-icon-primary"
                                    type="submit"
                            >
                                {{ 'videos_overview.video_folders.create_cta'|trans }}
                            </button>
                        </div>
                    </form>
                </div>

                {% if videoFolder is not null or videoFolders|length > 0 %}
                    <div class="sticky top-0 z-30 bg-white border-1 border-l-0 border-r-0 border-t-0 border-neutral-200 pb-6 pt-6">
                        <div class="flex flex-col justify-center items-start gap-2">
                            {% if videoFolder is not null %}
                                <div class="font-bold text-lg mb-2">
                                    {{ videoFolder.name }}
                                </div>

                                <div
                                        id="video-folder-{{ videoFolder.parentVideoFolder is null ? null : videoFolder.parentVideoFolder.id }}"
                                        data-move-video-into-folder-url="{{ path('videobasedmarketing.recordings.presentation.video_folders.move_video') }}"
                                        class="w-full"
                                        draggable="false"
                                        data-video-folder-drag-and-drop-video-folder-id="{{ videoFolder.parentVideoFolder is null ? null : videoFolder.parentVideoFolder.id }}"
                                        data-action="
                                            dragover->videoBasedMarketing-recordings-videoFolderDragAndDrop#dragover
                                            dragenter->videoBasedMarketing-recordings-videoFolderDragAndDrop#dragenter
                                            dragleave->videoBasedMarketing-recordings-videoFolderDragAndDrop#dragleave
                                            drop->videoBasedMarketing-recordings-videoFolderDragAndDrop#drop
                                            dragend->videoBasedMarketing-recordings-videoFolderDragAndDrop#dragend
                                        "
                                >
                                    <a
                                            class="flex flex-row justify-start items-center gap-2 hover:underline"
                                            href="{{ path(
                                                'videobasedmarketing.recordings.presentation.videos.overview',
                                                { videoFolderId: videoFolder.parentVideoFolder is null ? null : videoFolder.parentVideoFolder.id }
                                            ) }}"
                                    >
                                        {# Heroicon: arrow-long-up #}
                                        <svg
                                                id="folder-icon-normal-{{ videoFolder.parentVideoFolder is null ? '' : videoFolder.parentVideoFolder.id }}"
                                                xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 24 24"
                                                fill="currentColor"
                                                class="w-5 h-5"
                                        >
                                            <path fill-rule="evenodd" d="M11.47 2.47a.75.75 0 011.06 0l3.75 3.75a.75.75 0 01-1.06 1.06l-2.47-2.47V21a.75.75 0 01-1.5 0V4.81L8.78 7.28a.75.75 0 01-1.06-1.06l3.75-3.75z" clip-rule="evenodd" />
                                        </svg>

                                        {# Heroicon: arrow-up-on-square #}
                                        <svg
                                                id="folder-icon-open-{{ videoFolder.parentVideoFolder is null ? '' : videoFolder.parentVideoFolder.id }}"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke-width="1.5"
                                                stroke="currentColor"
                                                class="hidden w-5 h-5"
                                        >
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15m0-3l-3-3m0 0l-3 3m3-3V15" />
                                        </svg>

                                        <div>
                                            {{ 'videos_overview.video_folders.up_cta'|trans }}
                                        </div>
                                    </a>
                                </div>
                            {% endif %}

                            {% for videoFolder in videoFolders %}
                                {# @var video \App\VideoBasedMarketing\Recordings\Domain\Entity\VideoFolder #}

                                {{ component('videobasedmarketing_recordings_video_folder', {
                                    videoFolder: videoFolder,
                                    index: loop.index0
                                }) }}

                            {% endfor %}
                        </div>
                    </div>
                {% endif %}


                <div class="my-8 bg-mercurius-green-100 p-6">
                    {{ component(
                        'videobasedmarketing_recordings_videos_finder',
                        { videoFolder: videoFolder }
                    ) }}
                </div>



            </div>

        {% endblock %}
    {% endembed %}

{% endblock %}
