{% extends '../../../../../Shared/Presentation/Resources/templates/base.html.twig' %}

{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

{% block body %}

    {% embed 'embeds/default_content_box.html.twig' %}

        {% trans_default_domain 'videobasedmarketing.membership' %}

        {% block contentBoxTitle %}
            {{ 'overview.title'|trans }}
        {% endblock %}

        {% block contentBoxSubtitle %}
            {{ 'overview.subtitle'|trans }}
        {% endblock %}

        {% block contentBoxContent %}

            <div class="mb-8">
                <span>
                    {{ 'overview.current_plan'|trans }}
                </span>
                <span class="font-bold">
                    {{ ('overview.plan.' ~ currentPlan.name.value ~ '.title')|trans }}
                </span>

            </div>

            <div class="mb-4">
                {{ 'overview.available_plans'|trans }}
            </div>

            <div class="grid grid-cols-none md:grid-cols-3 justify-between items-start gap-8 max-w-fit">
                {% for plan in availablePlans %}
                    <div
                            class="
                                flex flex-col justify-center bg-indigo-200 text-indigo-900 rounded-md text-center
                                p-4 shadow-lg border-1 border-indigo-300
                            "
                    >
                        <div class="text-lg font-bold mb-2">
                            {{ ('overview.plan.' ~ plan.name.value ~ '.title')|trans }}
                        </div>

                        <div class="text-sm">
                            {{ ('overview.plan.' ~ plan.name.value ~ '.description')|trans }}
                        </div>

                        {% if plan.name is same as currentPlan.name %}
                            <div
                                class="mt-4 bg-green-800 text-green-100 p-1"
                            >
                                {{ 'overview.this_is_current_plan'|trans }}
                            </div>
                        {% endif %}

                        {% if TwigHelperService.membershipService.planBookableForUser(plan, app.user) %}
                            <a
                                    href="{{ path('videobasedmarketing.membership.subscription.checkout.start', { 'planName': plan.name.value }) }}"
                                    class="
                                        mt-4 p-4 bg-lime-700 text-lime-100 font-bold text-center rounded-md shadow-md
                                        hover:bg-lime-600 hover:text-lime-50
                                    "
                            >
                                {{ 'overview.cta_book'|trans }}
                            </a>
                        {% endif %}

                    </div>
                {% endfor %}
            </div>

        {% endblock %}

    {% endembed %}

{% endblock %}
