{% extends '@shared/base_default.html.twig' %}

{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

{% block title %}{{ 'sidenav.dashboard'|trans }}{% endblock %}
{% block contentTitle %}{{ 'sidenav.dashboard'|trans }}{% endblock %}

{% block body %}

    {% embed '@shared/embeds/default_content_box.html.twig' %}

        {% trans_default_domain 'videobasedmarketing.dashboard' %}

        {% block contentBoxTitle %}
            {{ 'show.your_info'|trans }}
        {% endblock %}

        {% block contentBoxSubtitle %}
            {{ 'show.your_info_subtitle'|trans }}
        {% endblock %}

        {% block contentBoxContent %}
            <div class="max-w-7xl">

                {% if TwigHelperService.dashboardService.firstName(app.user) is not null
                    and TwigHelperService.dashboardService.lastName(app.user) is not null
                %}
                    {% embed '@shared/embeds/two_column_content_box_content_row.html.twig' with { odd: false, colspanLeft: 2, colspanRight: 10 } %}

                        {% trans_default_domain 'videobasedmarketing.dashboard' %}

                        {% block contentLeft %}
                            <div class="font-bold">
                                {{ 'show.your_name'|trans }}
                            </div>
                        {% endblock %}
                        {% block contentRight %}
                            {{ TwigHelperService.dashboardService.firstName(app.user) }}
                            {{ TwigHelperService.dashboardService.lastName(app.user) }}
                        {% endblock %}
                    {% endembed %}
                {% endif %}


                {% embed '@shared/embeds/two_column_content_box_content_row.html.twig' with { odd: false, colspanLeft: 2, colspanRight: 10 } %}

                    {% trans_default_domain 'videobasedmarketing.dashboard' %}

                    {% block contentLeft %}
                        <div class="font-bold">
                            {{ 'show.your_email_address'|trans }}
                        </div>
                    {% endblock %}
                    {% block contentRight %}
                        {{ TwigHelperService.dashboardService.email(app.user) }}
                    {% endblock %}
                {% endembed %}


                {% embed '@shared/embeds/two_column_content_box_content_row.html.twig' with { odd: false, colspanLeft: 2, colspanRight: 10 } %}

                    {% trans_default_domain 'videobasedmarketing.dashboard' %}

                    {% block contentLeft %}
                        <div class="font-bold">
                            {{ 'show.your_subscription'|trans }}
                        </div>
                    {% endblock %}
                    {% block contentRight %}
                        {{ ('overview.plan.'
                            ~ TwigHelperService.membershipPlanService.subscribedMembershipPlanForCurrentlyActiveOrganization(app.user).name.value
                            ~ '.title'
                            )|trans({}, 'videobasedmarketing.membership')
                        }}
                        <div class="mt-1 text-sm text-gray-500 sm:mt-0 sm:col-span-2">
                            {{ ('overview.plan.'
                                ~ TwigHelperService.membershipPlanService.subscribedMembershipPlanForCurrentlyActiveOrganization(app.user).name.value
                                ~ '.description'
                                )|trans({}, 'videobasedmarketing.membership')
                            }}
                        </div>
                    {% endblock %}
                {% endembed %}


                {% if TwigHelperService.dashboardService.latestVideos(app.user)|length > 0 %}
                    {% embed '@shared/embeds/two_column_content_box_content_row.html.twig' with { odd: false, colspanLeft: 2, colspanRight: 10 } %}

                        {% trans_default_domain 'videobasedmarketing.dashboard' %}

                        {% block contentLeft %}
                            <div class="font-bold">
                                {{ 'show.your_latest_videos'|trans }}
                            </div>
                        {% endblock %}
                        {% block contentRight %}
                            <ul role="list" class="border border-gray-200 rounded-md divide-y divide-gray-200">

                                {% for video in TwigHelperService.dashboardService.latestVideos(app.user) %}
                                    {# @var video \App\VideoBasedMarketing\Recordings\Domain\Entity\Video  #}
                                    <li class="pl-3 pr-4 py-3 flex flex-row items-center justify-between text-sm">
                                        <div class="w-0 flex-1 flex flex-row items-start gap-2">
                                            {# Heroicon: film outline #}
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1 1 0 001-1V5a1 1 0 00-1-1H4a1 1 0 00-1 1v14a1 1 0 001 1z" />
                                            </svg>

                                            <div class="flex flex-col flex-1 w-0 truncate">
                                                <div class="font-bold">
                                                    {{ video.title }}
                                                </div>
                                                <div class="text-gray-600">
                                                    {% import '@shared/macros/date_and_time.html.twig' as dateAndTimeMacros %}
                                                    {{ dateAndTimeMacros.full(video.createdAt) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ml-4 flex-shrink-0">
                                            <a href="{{ path('videobasedmarketing.recordings.presentation.videos.overview') }}" class="font-medium text-mercurius-blue-600 hover:text-mercurius-blue-500">
                                                {{ 'show.cta.manage_video'|trans }}
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                        {% endblock %}
                    {% endembed %}
                {% endif %}


                {% embed '@shared/embeds/two_column_content_box_content_row.html.twig' with { odd: false, colspanLeft: 2, colspanRight: 10 } %}

                    {% trans_default_domain 'videobasedmarketing.dashboard' %}

                    {% block contentLeft %}
                        <div class="font-bold">
                            {{ 'show.your_presentationpages'|trans }}
                        </div>
                    {% endblock %}
                    {% block contentRight %}
                        <a href="{{ path('videobasedmarketing.presentationpages.presentation.overview') }}">
                            {{ 'show.your_presentationpages.info'|trans(
                                { numberOfPresentationpages: TwigHelperService.dashboardService.numberOfPresentationpages(app.user, constant('\\App\\VideoBasedMarketing\\Presentationpages\\Domain\\Enum\\PresentationpageType::Page')) }
                            ) }}
                        </a>
                    {% endblock %}
                {% endembed %}

            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}
