{% extends 'base.html.twig' %}

{% block title %}{{ 'mainnav.presentationpage_templates'|trans }}{% endblock %}
{% block contentTitle %}{{ 'mainnav.presentationpage_templates'|trans }}{% endblock %}

{# @var form \Symfony\Component\Form\FormView #}

{% block body %}

    {% embed 'embeds/default_content_box.html.twig' %}
        {% block contentBoxTitle %}
            {{ 'feature.presentationpage_templates.add_form.title'|trans }}
        {% endblock %}

        {% block contentBoxSubtitle %}
            {{ 'feature.presentationpage_templates.add_form.subtitle'|trans }}
        {% endblock %}

        {% block contentBoxContent %}

            {% import 'macros/form_elements.html.twig' as formElements %}

            {{ form_start(form) }}

                <div class="p-10">

                    <div class="grid grid-cols-6 gap-6" {{ stimulus_controller('feature/presentationpageTemplates/addForm') }}>

                        <div class="col-span-6 sm:col-span-3">
                            {{
                                formElements.inputWithLabel(
                                    form.title,
                                    'feature.presentationpage_templates.add_form.formfield.title'|trans
                                )
                            }}
                        </div>


                        <div class="col-span-6"></div>


                        <div class="col-span-6 sm:col-span-3">

                            <div class="mb-2">
                                {{
                                    formElements.label(
                                        'feature.presentationpage_templates.add_form.formfield.bg_color'|trans
                                    )
                                }}
                            </div>

                            {% for color in bgColors %}
                                {% if loop.first %}
                                    <input name="{{ form.bgColor.vars.full_name }}" type="hidden" value="{{ color }}" {{ stimulus_target('feature/presentationpageTemplates/addForm', 'bgColorHiddenInput') }}/>
                                {% endif %}
                                <div
                                    {{ stimulus_action('feature/presentationpageTemplates/addForm', 'selectBgColor', 'click') }}
                                    {{ stimulus_target('feature/presentationpageTemplates/addForm', 'bgColorOption') }}
                                    role="checkbox"
                                    class="{% if loop.first %}border-8{% else %}border-2{% endif %} border-gray-700 w-8 h-8 inline-flex rounded-full cursor-pointer focus:outline-none focus:shadow-outline"
                                    style="background: {{ color }};"
                                    data-value="{{ color }}"
                                ></div>
                            {% endfor %}


                            <div class="mt-4 mb-2">
                                {{
                                    formElements.label(
                                        'feature.presentationpage_templates.add_form.formfield.text_color'|trans
                                    )
                                }}
                            </div>

                            {% for color in textColors %}
                                {% if loop.first %}
                                    <input name="{{ form.textColor.vars.full_name }}" type="hidden" value="{{ color }}" {{ stimulus_target('feature/presentationpageTemplates/addForm', 'textColorHiddenInput') }}/>
                                {% endif %}
                                <div
                                        {{ stimulus_action('feature/presentationpageTemplates/addForm', 'selectTextColor', 'click') }}
                                        {{ stimulus_target('feature/presentationpageTemplates/addForm', 'textColorOption') }}
                                        role="checkbox"
                                        class="{% if loop.first %}border-8{% else %}border-2{% endif %} border-gray-700 w-8 h-8 inline-flex rounded-full cursor-pointer focus:outline-none focus:shadow-outline"
                                        style="background: {{ color }};"
                                        data-value="{{ color }}"
                                ></div>
                            {% endfor %}
                        </div>

                        <div
                            {{ stimulus_target('feature/presentationpageTemplates/addForm', 'bgColorPreview') }}
                            class="col-span-6 sm:col-span-3 rounded-md p-5"
                            style="background: #ffffff;"
                        >
                            <div
                                {{ stimulus_target('feature/presentationpageTemplates/addForm', 'textColorPreview') }}
                                style="color: #000000;"
                            >
                                <h1 class="font-bold text-2xl mb-1">
                                    {{ 'feature.presentationpage_templates.add_form.formfield.text_color_sample_headline'|trans }}
                                </h1>
                                <p>
                                    {{ 'feature.presentationpage_templates.add_form.formfield.text_color_sample_paragraph'|trans }}
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="mt-12">
                        {{ form_row(form._token) }}

                        {{ formElements.primarySubmitButton('feature.presentationpage_templates.add_form.formfield.submit_cta'|trans) }}
                    </div>

                </div>

            {{ form_end(form, {'render_rest': false}) }}

        {% endblock %}
    {% endembed %}

{% endblock %}
