{% extends 'base.html.twig' %}

{# @var PresentationpageTemplatesService \App\Service\Feature\PresentationpageTemplates\PresentationpageTemplatesService #}

{% block title %}{{ 'mainnav.presentationpage_templates'|trans }}{% endblock %}
{% block contentTitle %}{{ 'mainnav.presentationpage_templates'|trans }}{% endblock %}

{% block body %}

    {% embed 'embeds/default_content_box.html.twig' %}
        {% block contentBoxTitle %}
            {{ 'feature.presentationpage_templates.overview.title'|trans({ numberOfTemplates: PresentationpageTemplatesService.templatesForUser(app.user)|length}) }}
        {% endblock %}

        {% block contentBoxSubtitle %}
            {{ 'feature.presentationpage_templates.overview.subtitle'|trans }}
        {% endblock %}

        {% block contentBoxContent %}

            {% if PresentationpageTemplatesService.templatesForUser(app.user)|length > 0 %}

                <dl class="bg-white">
                    {% for presentationpageTemplate in PresentationpageTemplatesService.templatesForUser(app.user) %}
                        {% embed 'embeds/two_column_content_box_content_row.html.twig' with { odd: cycle([true, false], loop.index0) } %}
                            {% block contentLeft %}
                                {{ presentationpageTemplate.title }}
                            {% endblock %}
                            {% block contentRight %}

                                <div
                                    style="background-color: {{ presentationpageTemplate.bgColor }};"
                                    class="rounded p-5"
                                >
                                    <span
                                        style="color: {{ presentationpageTemplate.textColor }}"
                                        class="font-bold"
                                    >
                                        {{ 'feature.presentationpage_templates.add_form.formfield.text_color_sample_headline'|trans }}
                                    </span>
                                </div>
                            {% endblock %}
                        {% endembed %}
                    {% endfor %}
                </dl>
            {% endif %}

            <div class="p-10">
                <div class="border-4 border-dashed border-gray-300 rounded-lg {% if PresentationpageTemplatesService.templatesForUser(app.user)|length > 0 %} h-24 {% else %} h-96 {% endif %}">

                    <div class="flex justify-center items-center h-full w-full">
                        <!-- Heroicon name: solid/plus-circle -->
                        <a href="{{ path('feature.presentationpage_templates.add_form') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-indigo-600 hover:text-indigo-700" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
                            </svg>
                        </a>
                        <a href="{{ path('feature.presentationpage_templates.add_form') }}">
                            {{ 'feature.presentationpage_templates.overview.cta.add'|trans }}
                        </a>
                    </div>

                </div>
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}
