{% extends 'base.html.twig' %}

{# @var presentationpage \App\Entity\Feature\Presentationpages\Presentationpage #}
{# @var PresentationpageTemplatesService \App\Service\Feature\PresentationpageTemplates\PresentationpageTemplatesService #}
{# @var VideoService \App\Service\Feature\Recordings\VideoService #}

{% block title %}{{ 'mainnav.presentationpages'|trans }}{% endblock %}
{% block contentTitle %}{{ 'mainnav.presentationpages'|trans }}{% endblock %}

{% block body %}

    {% embed 'embeds/default_content_box.html.twig' %}
        {% block contentBoxTitle %}
            {{ 'feature.presentationpages.editor.title'|trans }}
        {% endblock %}

        {% block contentBoxSubtitle %}
            {{ 'feature.presentationpages.editor.subtitle'|trans }}
        {% endblock %}

        {% block contentBoxContent %}
            <div class="collection-box">

                {% if presentationpage.presentationpageTemplate is not null %}

                    {{ component('feature_presentationpages_edit_form', {
                        presentationpage: presentationpage,
                        form: form
                    }) }}


                    {% embed 'embeds/two_column_content_box_content_row.html.twig' with { odd: false } %}
                        {% block contentLeft %}




                        {% endblock %}
                        {% block contentRight %}

                            <div class="mb-4">
                                {{ 'feature.presentationpages.editor.template'|trans }}
                            </div>

                            <div
                                class="rounded-lg p-4"
                                style="background-color: {{ presentationpage.presentationpageTemplate.bgColor }}; color: {{ presentationpage.presentationpageTemplate.textColor }};"
                            >
                                <div
                                    class="text-lg font-bold p-4"
                                >
                                    {{ presentationpage.presentationpageTemplate.title }}
                                </div>

                                <div
                                    class="p-4"
                                >
                                    <img
                                        class="rounded-md w-48"
                                        src="{{ VideoService.posterAnimatedAssetUrl(presentationpage.video) }}"
                                    />
                                </div>

                                <div
                                    class="text-sm font-medium p-4"
                                >
                                    {{ 'feature.presentationpage_templates.add_form.formfield.text_color_sample_paragraph'|trans }}
                                </div>
                            </div>

                        {% endblock %}
                    {% endembed %}

                {% else %}

                    {{ 'feature.presentationpages.editor.no_template_selected'|trans }}

                {% endif %}


            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}
