{% extends 'base.html.twig' %}

{# @var presentationpage \App\Entity\Feature\Presentationpages\Presentationpage #}
{# @var PresentationpageTemplatesService \App\Service\Feature\PresentationpageTemplates\PresentationpageTemplatesService #}
{# @var VideoService \App\Service\Feature\Recordings\VideoService #}

{% block title %}{{ 'mainnav.presentationpages'|trans }}{% endblock %}
{% block contentTitle %}{{ 'mainnav.presentationpages'|trans }}{% endblock %}

{% block body %}

    {% embed 'embeds/default_content_box.html.twig' %}
        {% block contentBoxTitle %}
            {{ 'feature.presentationpages.editor.title'|trans }}
        {% endblock %}

        {% block contentBoxSubtitle %}
            {{ 'feature.presentationpages.editor.subtitle'|trans }}
        {% endblock %}

        {% block contentBoxContent %}
            <div class="collection-box">

                {% if presentationpage.presentationpageTemplate is not null %}

                    {{ component('feature_presentationpages_edit_form', {
                        presentationpage: presentationpage,
                        form: form
                    }) }}

                {% else %}

                    {{ 'feature.presentationpages.editor.no_template_selected'|trans }}

                {% endif %}


            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}
