{% extends 'base.html.twig' %}

{# @var PresentationpagesService \App\Service\Feature\Presentationpages\PresentationpagesService #}
{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

{% block title %}{{ 'mainnav.presentationpages'|trans }}{% endblock %}
{% block contentTitle %}{{ 'mainnav.presentationpages'|trans }}{% endblock %}

{% block body %}

    {% embed 'embeds/default_content_box.html.twig' %}
        {% block contentBoxTitle %}
            {{ 'feature.presentationpages.overview.title'|trans }}
        {% endblock %}

        {% block contentBoxSubtitle %}
            {{ 'feature.presentationpages.overview.subtitle'|trans }}
        {% endblock %}

        {% block contentBoxContent %}

            <div class="mb-16">
                <h2 class="text-xl font-bold mb-4">
                    {{ 'feature.presentationpages.overview.headline_pages'|trans }}
                </h2>

                <div class="mb-4 border-1 border-dotted border-gray-400 rounded-md">

                    <div class="flex justify-center items-center h-full w-full">
                        <form
                                action="{{ path('feature.presentationpages.create_page') }}"
                                method="post"
                        >
                            <button
                                    class="flex flex-col sm:flex-row items-center"
                                    type="submit"
                            >
                                <!-- Heroicon name: solid/plus-circle -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-indigo-600 hover:text-indigo-700" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
                                </svg>
                                {{ 'feature.presentationpages.overview.cta.create_page'|trans }}
                            </button>
                        </form>
                    </div>

                </div>

                {% if TwigHelperService.presentationpagesService.presentationpagesForUser(
                    app.user,
                    constant('\\App\\Entity\\Feature\\Presentationpages\\PresentationpageType::Page')
                )|length > 0 %}
                    <div class="
                            border-1
                            border-gray-300
                            rounded-md
                            divide-y
                            divide-gray-300
                            bg-white
                    ">

                        {% for presentationpage in TwigHelperService.presentationpagesService.presentationpagesForUser(app.user, constant('\\App\\Entity\\Feature\\Presentationpages\\PresentationpageType::Page')) %}
                            {# @var presentationpage \App\Entity\Feature\Presentationpages\Presentationpage #}

                            <div class="
                                    grid
                                    flex
                                    flex-col
                                    md:grid-cols-4
                                    p-4
                                    items-start
                                    gap-8
                                ">
                                <div>
                                    <h3 class="font-bold mb-4">
                                        {{ presentationpage.title }}
                                    </h3>

                                    {% for headline in presentationpage.headlines  %}
                                        <div class="text-gray-600">
                                            {{ headline }}
                                        </div>
                                    {% endfor %}
                                </div>

                                {{ component(
                                    'feature_presentationpages_presentationpage_screenshot',
                                    { presentationpage: presentationpage }
                                ) }}

                                <div>
                                    <div>
                                        {% import 'macros/date_and_time.html.twig' as dateAndTimeMacros %}
                                        {{ dateAndTimeMacros.full(presentationpage.createdOrUpdatedAt) }}
                                    </div>

                                    <div>
                                        {{ 'feature.presentationpages.overview.number_of_elements'|trans(
                                            {num: presentationpage.presentationpageElements.count }
                                        ) }}
                                    </div>
                                </div>

                                <div class="
                                        text-right
                                        items-end
                                        flex
                                        flex-col
                                ">
                                    <form
                                            class="inline-block"
                                            action="{{ path('feature.presentationpages.draft.create', { presentationpageId: presentationpage.id }) }}"
                                            method="post"
                                    >
                                        <button
                                                class="cta-link-primary-small"
                                        >
                                            {{ 'feature.presentationpages.overview.cta.edit_page'|trans }}
                                        </button>
                                    </form>

                                    <a
                                            class="cta-link-primary-small"
                                            target="_blank"
                                            href="{{ path('feature.presentationpages.preview', { presentationpageId: presentationpage.id }) }}">
                                        {{ 'feature.presentationpages.overview.cta.preview_page'|trans }}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>


            <div class="mb-16">
                <h2 class="text-xl font-bold mb-4">
                    {{ 'feature.presentationpages.overview.headline_templates'|trans }}
                </h2>

                <div class="mb-4 border-1 border-dotted border-gray-400 rounded-md">

                    <div class="flex justify-center items-center h-full w-full">
                        <form
                                action="{{ path('feature.presentationpages.create_template') }}"
                                method="post"
                        >
                            <button
                                    class="flex flex-col sm:flex-row items-center"
                                    type="submit"
                            >
                                <!-- Heroicon name: solid/plus-circle -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-indigo-600 hover:text-indigo-700" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
                                </svg>
                                {{ 'feature.presentationpages.overview.cta.create_template'|trans }}
                            </button>
                        </form>
                    </div>

                </div>

                {% if TwigHelperService.presentationpagesService.presentationpagesForUser(
                    app.user,
                    constant('\\App\\Entity\\Feature\\Presentationpages\\PresentationpageType::Template'),
                    constant('\\App\\Entity\\Feature\\Presentationpages\\PresentationpageCategory::Default')
                )|length > 0 %}
                    <div class="
                            border-1
                            border-gray-300
                            rounded-md
                            divide-y
                            divide-gray-300
                            bg-white
                    ">

                        {% for presentationpage
                            in TwigHelperService.presentationpagesService.presentationpagesForUser(
                                app.user,
                                constant('\\App\\Entity\\Feature\\Presentationpages\\PresentationpageType::Template'),
                                constant('\\App\\Entity\\Feature\\Presentationpages\\PresentationpageCategory::Default')
                            )
                        %}
                            {# @var presentationpage \App\Entity\Feature\Presentationpages\Presentationpage #}

                            <div class="
                                        grid
                                        grid-cols-4
                                        p-4
                                        justify-between
                                        items-start
                                        gap-8
                                ">
                                <h3 class="font-bold">
                                    {{ presentationpage.title }}
                                </h3>

                                <div class="col-span-2">
                                    <div>
                                        {{ dateAndTimeMacros.full(presentationpage.createdOrUpdatedAt) }}
                                    </div>

                                    <div>
                                        {{ 'feature.presentationpages.overview.number_of_elements'|trans(
                                            {num: presentationpage.presentationpageElements.count }
                                        ) }}
                                    </div>
                                </div>

                                <div class="
                                    text-right
                                    items-end
                                    flex
                                    flex-col
                                    ">
                                    <form
                                            class="inline-block"
                                            action="{{ path('feature.presentationpages.draft.create', { presentationpageId: presentationpage.id }) }}"
                                            method="post"
                                    >
                                        <button
                                                class="cta-link-primary-small"
                                        >
                                            {{ 'feature.presentationpages.overview.cta.edit_template'|trans }}
                                        </button>
                                    </form>

                                    <a
                                            class="cta-link-primary-small"
                                            target="_blank"
                                            href="{{ path('feature.presentationpages.preview', { presentationpageId: presentationpage.id }) }}">
                                        {{ 'feature.presentationpages.overview.cta.preview_template'|trans }}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if TwigHelperService.presentationpagesService.presentationpagesForUser(
                    app.user,
                    constant('\\App\\Entity\\Feature\\Presentationpages\\PresentationpageType::Template'),
                    constant('\\App\\Entity\\Feature\\Presentationpages\\PresentationpageCategory::VideoOnly')
                )|length > 0 %}
                    <div class="
                            mt-4
                            border-1
                            border-gray-300
                            rounded-md
                            divide-y
                            divide-gray-300
                            bg-white
                    ">

                        {% for presentationpage
                            in TwigHelperService.presentationpagesService.presentationpagesForUser(
                            app.user,
                            constant('\\App\\Entity\\Feature\\Presentationpages\\PresentationpageType::Template'),
                            constant('\\App\\Entity\\Feature\\Presentationpages\\PresentationpageCategory::VideoOnly')
                        )
                        %}
                            {# @var presentationpage \App\Entity\Feature\Presentationpages\Presentationpage #}

                            <div class="
                                        grid
                                        grid-cols-4
                                        p-4
                                        justify-between
                                        items-start
                                        gap-8
                                ">
                                <h3 class="font-bold">
                                    {{ presentationpage.title }}
                                    <div class="mt-2 font-light text-xs text-gray-400 border-1 border-gray-200 p-0.5 w-fit">
                                        {{ presentationpage.category.value }}
                                    </div>
                                </h3>

                                <div class="col-span-2">
                                    <div>
                                        {{ dateAndTimeMacros.full(presentationpage.createdOrUpdatedAt) }}
                                    </div>

                                    <div>
                                        {{ 'feature.presentationpages.overview.number_of_elements'|trans(
                                            {num: presentationpage.presentationpageElements.count }
                                        ) }}
                                    </div>
                                </div>

                                <div class="
                                    text-right
                                    items-end
                                    flex
                                    flex-col
                                    ">
                                    <form
                                            class="inline-block"
                                            action="{{ path('feature.presentationpages.draft.create', { presentationpageId: presentationpage.id }) }}"
                                            method="post"
                                    >
                                        <button
                                                class="cta-link-primary-small"
                                        >
                                            {{ 'feature.presentationpages.overview.cta.edit_template'|trans }}
                                        </button>
                                    </form>

                                    <a
                                            class="cta-link-primary-small"
                                            target="_blank"
                                            href="{{ path('feature.presentationpages.preview', { presentationpageId: presentationpage.id }) }}">
                                        {{ 'feature.presentationpages.overview.cta.preview_template'|trans }}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>

        {% endblock %}
    {% endembed %}

{% endblock %}
