{# @var presentationpage \App\VideoBasedMarketing\Presentationpages\Domain\Entity\Presentationpage #}
{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

{% import 'feature/presentationpages/preview_helper.html.twig' as helperMacros %}

<!DOCTYPE html>
<html class="h-full" lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fyyn</title>

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('tailwind') }}

    {{ encore_entry_script_tags('app') }}
</head>
<body
    {% if presentationpage.background is same as constant('\\App\\VideoBasedMarketing\\Presentationpages\\Domain\\Enum\\PresentationpageBackground::BgColor') %}
        style="
                background-color: {{ presentationpage.bgColor.value }};
        "
    {% else %}
        style="
                background-image: url('{{ asset('assets/images/feature/presentationpages/background-images/' ~ presentationpage.background.toAssetName) }}');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top;
                background-attachment: fixed;
                background-color: {{ presentationpage.bgColor.value }};
        "
    {% endif %}
>


<div
        class=""
>

    <div
        class="mx-auto max-w-full w-full sm:w-8/12 mt-0 sm:mt-16 p-16"
        style="
            background-color: {{ presentationpage.bgColor.value }}dd;
            color: {{ presentationpage.textColor.value }};
        "
    >

        {% for element in presentationpage.presentationpageElements %}

            {% if element.elementVariant is same as constant('\\App\\VideoBasedMarketing\\Presentationpages\\Domain\\Enum\\PresentationpageElementVariant::MercuriusVideo') %}

                <div class="
                    mb-8
                    {{ helperMacros.horizontalPositionDiv(element.elementHorizontalPosition) }}
                ">
                    {% if presentationpage.video is null %}
                        <div class="mt-8 w-96 max-w-full">
                            <img
                                    class="rounded-md"
                                    src="{{ asset('assets/images/feature/presentationpages/video-placeholder-768x432.png') }}"
                            >
                        </div>

                    {% else %}
                        <div class="m-8 p-8">
                            <video
                                    class="mx-auto rounded-md w-full"
                                    autoplay="autoplay"
                                    controls
                                    poster="{{ TwigHelperService.videoService.posterStillAssetUrl(presentationpage.video) }}"
                            >
                                <source
                                        src="{{ TwigHelperService.videoService.getFullAssetUrl(presentationpage.video) }}"
                                >
                            </video>
                        </div>
                    {% endif %}
                </div>

            {% endif %}

            {% if element.elementVariant is same as constant('\\App\\VideoBasedMarketing\\Presentationpages\\Domain\\Enum\\PresentationpageElementVariant::Divider') %}
                <div
                    class="w-full h-1 mt-4 mb-4"
                    style="background-color: {{ presentationpage.fgColor.value }}"
                ></div>
            {% endif %}

            {% if element.elementVariant is same as constant('\\App\\VideoBasedMarketing\\Presentationpages\\Domain\\Enum\\PresentationpageElementVariant::Headline') %}
                <h2 class="
                    text-4xl
                    font-bold
                    mt-8
                    first:mt-0
                    {{ helperMacros.horizontalPositionText(element.elementHorizontalPosition) }}
                ">
                    {{ element.textContent }}
                </h2>
            {% endif %}

            {% if element.elementVariant is same as constant('\\App\\VideoBasedMarketing\\Presentationpages\\Domain\\Enum\\PresentationpageElementVariant::Paragraph') %}
                <p class="
                    text-md
                    {{ helperMacros.horizontalPositionText(element.elementHorizontalPosition) }}
                ">
                    {{ element.textContent|nl2br }}
                </p>
            {% endif %}

            {% if element.elementVariant is same as constant('\\App\\VideoBasedMarketing\\Presentationpages\\Domain\\Enum\\PresentationpageElementVariant::ImageUrl') %}
                <div class="
                    mt-8
                    mb-8
                    p-0
                    {{ helperMacros.horizontalPositionDiv(element.elementHorizontalPosition) }}
                ">
                    <div>
                        <img
                            class="max-h-32 aspect-auto"
                            src="{{ element.textContent }}"
                    >
                    </div>
                </div>
            {% endif %}

            {% if element.elementVariant is same as constant('\\App\\VideoBasedMarketing\\Presentationpages\\Domain\\Enum\\PresentationpageElementVariant::CalendlyEmbed') %}
                <div class="
                    mt-8
                    mb-8
                    p-0
                    {{ helperMacros.horizontalPositionDiv(element.elementHorizontalPosition) }}
                ">
                    <!-- Calendly Inline-Widget Beginn -->
                    <div
                            class="calendly-inline-widget w-full"
                            data-url="{{ element.textContent|trim }}"
                            style="height: 900px;"
                    ></div>
                    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                    <!-- Calendly Inline-Widget Ende -->
                </div>
            {% endif %}

        {% endfor %}

    </div>
</div>

</body>
</html>
