{# @var presentationpage \App\Entity\Feature\Presentationpages\presentationpage #}

{% extends 'base_naked.html.twig' %}

{% block body %}

    <div class="flex flex-col justify-between shadow-inner p-4 bg-gray-500 shadow-inner">

        <div
                class="w-full text-center p-8 rounded-3xl bg-none shadow-2xl shadow-gray-700 max-w-3xl mx-auto"
                style="background-color: {{ presentationpage.bgColor }}; color: {{ presentationpage.textColor }};"
        >

            {% for element in presentationpage.presentationpageElements %}

                {% if element.elementVariant is same as constant('\\App\\Entity\\Feature\\Presentationpages\\PresentationpageElementVariant::MercuriusVideo') %}
                    <div class="mx-auto mt-8 w-96 max-w-full">
                        <img
                                class="rounded-lg"
                                src="{{ asset('assets/images/feature/presentationpages/video-placeholder-768x432.png') }}"
                        >
                    </div>
                {% endif %}

                {% if element.elementVariant is same as constant('\\App\\Entity\\Feature\\Presentationpages\\PresentationpageElementVariant::Headline') %}
                    <h2 class="text-xl font-bold mt-8 first:mt-0">
                        {{ element.textContent }}
                    </h2>
                {% endif %}

                {% if element.elementVariant is same as constant('\\App\\Entity\\Feature\\Presentationpages\\PresentationpageElementVariant::Paragraph') %}
                    <p class="text-md">
                        {{ element.textContent }}
                    </p>
                {% endif %}

                {% if element.elementVariant is same as constant('\\App\\Entity\\Feature\\Presentationpages\\PresentationpageElementVariant::ImageUrl') %}
                    <div class="mt-8 mb-8 p-0 mx-auto w-36 max-w-full">
                        <img
                                class="rounded-md"
                                src="{{ element.textContent }}"
                        >
                    </div>
                {% endif %}

                {% if element.elementVariant is same as constant('\\App\\Entity\\Feature\\Presentationpages\\PresentationpageElementVariant::CalendlyEmbed') %}
                    <div class="mt-8 mb-8 p-0">
                        <!-- Calendly Inline-Widget Beginn -->
                        <div
                                class="calendly-inline-widget w-full"
                                data-url="{{ element.textContent|trim }}"
                                style="height: 900px;"
                        ></div>
                        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                        <!-- Calendly Inline-Widget Ende -->
                    </div>
                {% endif %}

            {% endfor %}

        </div>

{% endblock %}