{% extends 'base_naked.html.twig' %}

{# @var presentationpage \App\Entity\Feature\Presentationpages\Presentationpage #}
{# @var VideoService \App\Service\Feature\Recordings\VideoService #}

{% block body %}

    {% if presentationpage.presentationpageTemplate is not null %}

        <div
            class="w-full h-full text-center p-36"
            style="background-color: {{ presentationpage.presentationpageTemplate.bgColor }}; color: {{ presentationpage.presentationpageTemplate.textColor }};"
        >

            <h1 class="text-3xl font-bold">
                {{ presentationpage.title }}
            </h1>

            <div
                class="flex p-4 justify-center"
            >
                <video
                    class="rounded-md w-100"
                    autoplay="autoplay"
                    controls
                    poster="{{ VideoService.posterStillAssetUrl(presentationpage.video) }}"
                >
                    <source
                        src="{{ VideoService.getFullAssetUrl(presentationpage.video) }}"
                    >
                </video>
            </div>

            <p class="text-lg flex p-4 justify-center">
                {{ presentationpage.welcomeText }}
            </p>
        </div>

    {% else %}

        {{ 'feature.presentationpages.editor.no_template_selected'|trans }}

    {% endif %}

{% endblock %}
