{% extends '@shared/base.html.twig' %}

{% trans_default_domain 'videobasedmarketing.account' %}

{% block title %}{{ 'thirdpartyauth.errorpage.title'|trans }}{% endblock %}

{% block body %}
    {{ 'thirdpartyauth.errorpage.linkedin.infotext'|trans({'error': error}) }}

    {% if gotThrowable %}
        <!-- Got throwable: {{ throwable.message }} -->
    {% endif %}

    <a href="{{ path('videobasedmarketing.account.presentation.sign_up') }}">{{ 'thirdpartyauth.errorpage.cta_back_to_sign_up'|trans }}</a>
    <a href="{{ path('videobasedmarketing.account.presentation.sign_in') }}">{{ 'thirdpartyauth.errorpage.cta_back_to_sign_in'|trans }}</a>
{% endblock %}
