{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}
{# @var video \App\VideoBasedMarketing\Recordings\Domain\Entity\Video  #}

<!-- Fyyn.io Video Player Embed - Start -->
<link rel="stylesheet" href="{{ url(
            'videobasedmarketing.recordings.presentation.embeddable_video_player.style',
            { videoShortId: video.shortId }
        ) }}">
<script src="{{ url(
            'videobasedmarketing.recordings.presentation.embeddable_video_player.data',
            { videoShortId: video.shortId }
        ) }}" async></script>
<script src="{{ url(
            'videobasedmarketing.recordings.presentation.embeddable_video_player.script',
            { videoShortId: video.shortId }
        ) }}"></script>
<div class="fyyn-video-{{ video.shortId }}-player-embed-outer">
    <video style="width: 100%;" class="fyyn-video-{{ video.shortId }}-player-embed-video" preload="metadata" controls poster="{{ TwigHelperService.recordingsInfrastructureService.videoPosterStillAssetUrl(video) }}">
        <source src="{{ TwigHelperService.recordingsInfrastructureService.videoFullAssetUrl(video) }}" type="{{ TwigHelperService.recordingsInfrastructureService.videoFullAssetMimeType(video).value }}">

        {% for vtt in TwigHelperService.audioTranscriptionDomainService.webVtts(video) %}
            {# @var vtt \App\VideoBasedMarketing\AudioTranscription\Domain\Entity\AudioTranscriptionWebVtt #}
            <track
                    {% if loop.first %}default{% endif %}

                    src="{{ url(
                        'videobasedmarketing.audio_transcription.infrastructure.web_vtt',
                        { webVttId: vtt.id }
                    ) }}"

                    label="{{ vtt.audioTranscriptionBcp47LanguageCode.value }}"

                    kind="subtitles"
            >
        {% endfor %}
    </video>
</div>
<!-- Fyyn.io Video Player Embed - End -->
