{% extends '@shared/base_default.html.twig' %}

{% trans_default_domain 'videobasedmarketing.account' %}

{% block title %}{{ 'sign_in.forgot_password.form.title'|trans }}{% endblock %}
{% block contentTitle %}{{ 'sign_in.forgot_password.form.title'|trans }}{% endblock %}

{% block body %}
    <div class="mt-32">
        <div class="min-h-full flex items-center justify-center py-0 px-4 sm:px-6 lg:px-8">
            <div class="max-w-md w-full space-y-8">

                <p class="mb-4">
                    {{ 'sign_in.forgot_password.thanks.note1'|trans({ email: email }) }}
                </p>

                <p class="mb-4 font-bold">
                    {{ 'sign_in.forgot_password.thanks.note2'|trans }}
                </p>

                <p class="mb-4">
                    {{ 'sign_in.forgot_password.thanks.note3'|trans }}
                </p>

            </div>
        </div>
    </div>

{% endblock %}
