{% extends '@shared/base_default.html.twig' %}

{% trans_default_domain 'videobasedmarketing.account' %}

{% block title %}{{ 'sign_in.forgot_password.form.title'|trans }}{% endblock %}
{% block contentTitle %}{{ 'sign_in.forgot_password.form.title'|trans }}{% endblock %}

{% block body %}
    <div class="mt-32">
        <div class="min-h-full flex items-center justify-center py-0 px-4 sm:px-6 lg:px-8">
            <div class="max-w-md w-full space-y-8">

                <div>
                    {{ 'sign_in.forgot_password.form.note1'|trans }}
                </div>

                <form action="{{ path('videobasedmarketing.account.presentation.sign_in.forgot_password.handle_request_reset') }}" method="post">

                    <div class="mt-8 space-y-6">

                        <div class="rounded-md -space-y-px">
                            <div>
                                <label for="username" class="sr-only">
                                    {{ 'sign_in.forgot_password.form.placeholder.plainPassword'|trans }}
                                </label>
                                <input
                                        id="plainPassword"
                                        name="plainPassword"
                                        type="password"
                                        autocomplete="password"
                                        required
                                        class="appearance-none relative block h-16 w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-mercurius-blue-500 focus:border-mercurius-blue-500 focus:z-10 sm:text-sm"
                                        placeholder="{{ 'sign_in.forgot_password.form.placeholder.plainPassword'|trans }}"
                                />
                            </div>
                        </div>

                        <div>
                            <button
                                    type="submit"
                                    class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-mercurius-blue-500 hover:bg-mercurius-blue-700 py-4 text-lg px-10"
                            >
                                {{ 'sign_in.forgot_password.form.cta'|trans }}
                            </button>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                </form>

            </div>
        </div>
    </div>

{% endblock %}
