{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

<!DOCTYPE html>
<html class="bg-white w-full p-0 m-0" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block metatags %}{% endblock %}

        <title>Fyyn — {% block title %}Welcome!{% endblock %}</title>

        {{ include('@shared/includes/cookiebot_script.html.twig') }}

        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('tailwind') }}

        {% block stylesheets %}{% endblock %}


        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}{% endblock %}
    </head>
    <body class="bg-white h-full w-full p-0 m-0">

        <div class="flex flex-col w-full">
            <header
                    class="flex flex-col items-center
                    mx-auto w-full
                    bg-gradient-to-l from-mercurius-blue-900 to-mercurius-green-400
                    shadow-md
                    border-1 border-t-0 border-l-0 border-r-0 border-black
                    "
            >
                <div class="w-full max-w-8xl h-14 flex flex-row items-center justify-between">
                    <a
                            href="{{ path('shared.presentation.contentpages.homepage') }}"
                            class="mx-4 sm:mx-12 flex flex-row justify-start items-center gap-3
                            {% if TwigHelperService.accountDomainService.userIsSignedIn(app.user) %}
                            absolute sm:left-0 left-0
                            {% endif %}
                            "
                    >
                        <div
                                class="absolute z-10
                                w-52 h-20
                                bg-gradient-to-bl
                                from-mercurius-blue-800
                                to-mercurius-blue-900
                                border-1 border-black
                                rounded-bl-lg rounded-br-lg overflow-clip
                                shadow-md
                                -mb-6 -mt-6
                                "
                        >
                            <img
                                    class="opacity-5 w-52 contrast-200 brightness-50"
                                    src="{{ asset('assets/images/shared/logos/fyyn-logo-background-cloth-640x426.png') }}"
                            >
                        </div>

                        <div class="flex flex-row justify-start items-center gap-3 ml-5 mt-2">
                            <div class="z-20 flex-shrink-0">
                                <img
                                        src="{{ asset('assets/images/shared/logos/fyyn-logo-head-only-240x241.png') }}"
                                        class="h-10"
                                >
                            </div>
                            <div class="flex flex-col gap-0 items-start z-20">
                                <div
                                        class="font-black text-white text-2xl whitespace-nowrap drop-shadow-md"
                                        style="font-family: 'IBM Plex serif', 'Times New Roman', serif;"
                                >
                                    Fyyn.io
                                </div>
                                <div class="text-xs font-light text-mercurius-green-400 -mt-1.5 whitespace-nowrap">
                                    Succeed with video.
                                </div>
                            </div>
                        </div>
                    </a>

                    <nav class="flex flex-row justify-start items-center mx-4 sm:mx-12 gap-4">
                        {% if TwigHelperService.accountDomainService.userCanSignUp(app.user) %}
                            <a
                                    href="{{ path('videobasedmarketing.account.presentation.sign_up') }}"
                                    class="bg-mercurius-green-100 p-4 rounded-md
                                    hover:bg-mercurius-green-300 hover:text-black
                                    h-9 text-mercurius-green-900
                                    text-xs sm:text-sm font-light whitespace-nowrap
                                    flex flex-row justify-center items-center"
                            >
                                {{ 'topnav.sign_up'|trans }}
                            </a>
                        {% endif %}

                        {% if TwigHelperService.accountDomainService.userCanSignIn(app.user) %}
                            <a
                                    href="{{ path('videobasedmarketing.account.presentation.sign_in') }}"
                                    class="bg-mercurius-green-100 p-4 rounded-md
                                    hover:bg-mercurius-green-300 hover:text-black
                                    h-9 text-mercurius-green-900
                                    text-xs sm:text-sm font-light whitespace-nowrap
                                    flex flex-row justify-center items-center"
                            >
                                {{ 'topnav.sign_in'|trans }}
                            </a>
                        {% endif %}
                    </nav>

                </div>

            </header>


            <div class="flex flex-row justify-start items-start h-full">
                {% if TwigHelperService.accountDomainService.userIsSignedIn(app.user) %}
                    <nav
                            class="collapse sm:visible w-36 h-full flex-shrink-0
                            bg-gradient-to-b from-neutral-100 to-white border-1 border-t-0 border-l-0 border-b-0 border-mercurius-green-400
                            flex flex-col justify-start items-center pl-4 pt-14 gap-4"
                    >
                        <a
                                href="{{ path('videobasedmarketing.recordings.presentation.videos.overview') }}"
                                class="bg-mercurius-green-400 p-4 rounded-l-md rounded-r-full
                                hover:bg-mercurius-green-600 hover:text-black
                                h-9 text-black -mr-0 w-40 pr-8
                                text-xs sm:text-sm font-bold whitespace-nowrap
                                flex flex-row justify-end items-center"
                        >
                            {{ 'sidenav.recordings'|trans }}
                        </a>

                        <a
                                href="{{ path('videobasedmarketing.organization.overview') }}"
                                class="bg-neutral-300 p-4 rounded-l-full
                                hover:bg-mercurius-green-600 hover:text-black
                                h-9 w-full text-neutral-900
                                text-xs sm:text-sm font-light whitespace-nowrap
                                flex flex-row justify-end items-center"
                        >
                            {{ 'sidenav.organization'|trans }}
                        </a>

                        <a
                                href="{{ path('videobasedmarketing.settings.presentation.custom_logo') }}"
                                class="bg-neutral-300 p-4 rounded-l-full
                                hover:bg-mercurius-green-600 hover:text-black
                                h-9 w-full text-neutral-900
                                text-xs sm:text-sm font-light whitespace-nowrap
                                flex flex-row justify-end items-center"
                        >
                            {{ 'sidenav.settings_custom_logo'|trans }}
                        </a>

                        <a
                                href="{{ path('videobasedmarketing.settings.presentation.custom_domain') }}"
                                class="bg-neutral-300 p-4 rounded-l-full
                                hover:bg-mercurius-green-600 hover:text-black
                                h-9 w-full text-neutral-900
                                text-xs sm:text-sm font-light whitespace-nowrap
                                flex flex-row justify-end items-center"
                        >
                            {{ 'sidenav.settings_custom_domain'|trans }}
                        </a>
                    </nav>
                {% endif %}


                <div class="flex flex-col mx-auto w-full {% block mainWrapperClasses %}max-w-8xl{% endblock %}">

                    <main class="mb-auto">

                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="pl-1 sm:pl-4 pr-1 sm:pr-4">
                                    <div class="
                                        {% apply spaceless %}
                                            rounded-md
                                            p-8
                                            m-4
                                            sm:m-8
                                            text-lg
                                            font-normal
                                            border-1
                                            {% if label is same as 'success' %} bg-mercurius-green-100 text-mercurius-green-900 border-mercurius-green-500{% endif %}
                                            {% if label is same as 'info' %} bg-mercurius-blue-100 text-mercurius-blue-900 text-mercurius-blue-500 {% endif %}
                                            {% if label is same as 'warning' %} bg-orange-50 text-orange-600 border-orange-300{% endif %}
                                            {% if label is same as 'danger' %} bg-red-100 text-red-900 border-red-500 {% endif %}
                                        {% endapply %}
                                     "
                                    >
                                        {{ message }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}

                        {% block body %}{% endblock %}
                    </main>

                    <footer class="padded-content-box">
                        <div
                                class="
                                mt-32
                                bg-gradient-to-b lg:bg-gradient-to-r from-mercurius-blue-50 to-mercurius-green-100 rounded-lg
                                w-full bottom-0 p-6 pb-8
                                lg:flex lg:items-center lg:justify-between
                                font-extralight
                                text-neutral-900 text-sm
                            "
                        >
                            <ul class="flex flex-wrap items-center mt-3">
                                <li class="text-mercurius-blue-900">
                                    © {{ "now"|date("Y") }} smart DSGVO GmbH
                                </li>
                            </ul>

                            <ul class="flex flex-wrap gap-4 items-center mt-3">
                                <li>
                                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ _locale: 'en'})) }}" class="hover:underline">{{ 'footernav.english'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ _locale: 'de'})) }}" class="hover:underline">{{ 'footernav.german'|trans }}</a>
                                </li>
                            </ul>

                            <ul class="flex flex-wrap gap-4 items-center mt-3 text-mercurius-green-900">
                                <li>
                                    <a
                                            {% if app.request.locale is same as 'de' %}
                                                href="https://help.fyyn.io/knowledge-base/datenschutzerklarung/"
                                            {% else %}
                                                href="https://help.fyyn.io/knowledge-base/privacy-policy/"
                                            {% endif %}

                                            class="hover:underline"
                                    >
                                        {{ 'footernav.privacy_policy'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a
                                            {% if app.request.locale is same as 'de' %}
                                                href="https://help.fyyn.io/knowledge-base/impressum/"
                                            {% else %}
                                                href="https://help.fyyn.io/knowledge-base/imprint-site-notice/"
                                            {% endif %}

                                            class="hover:underline"
                                    >
                                        {{ 'footernav.imprint'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a
                                            href="{{ path('shared.presentation.contentpages.cookie_settings') }}"
                                            class="hover:underline"
                                    >
                                        {{ 'footernav.cookie_settings'|trans }}
                                    </a>
                                </li>

                                {% if TwigHelperService.accountDomainService.userCanSignOut(app.user) %}
                                    <li>
                                        <form
                                                action="{{ path('videobasedmarketing.account.infrastructure.sign_out') }}"
                                                method="post"
                                        >
                                            <button
                                                    type="submit"
                                                    class="hover:underline"
                                            >
                                                {{ 'footernav.sign_out'|trans }}
                                            </button>
                                        </form>
                                    </li>
                                {% endif %}

                                {% if TwigHelperService.accountDomainService.userCanSignIn(app.user) %}
                                    <li>
                                        <a
                                                href="{{ path('videobasedmarketing.account.presentation.sign_in') }}"
                                                class="hover:underline"
                                                data-test-id="footerSignInCta"
                                        >
                                            {{ 'footernav.sign_in'|trans }}
                                        </a>
                                    </li>
                                {% endif %}

                                {% if TwigHelperService.accountDomainService.userCanSignUp(app.user) %}
                                    <li>
                                        <a
                                                href="{{ path('videobasedmarketing.account.presentation.sign_up') }}"
                                                class="hover:underline"
                                                data-test-id="footerSignUpCta"

                                        >
                                            {{ 'footernav.sign_up'|trans }}
                                        </a>
                                    </li>
                                {% endif %}

                                {% if app.user is defined
                                    and app.user is not null
                                    and TwigHelperService.capabilitiesService.canAdministerVideos(app.user)
                                %}
                                    <li>
                                        <a
                                                href="{{ path('videobasedmarketing.recordings.presentation.admin.videos.overview') }}"
                                                class="hover:underline text-red-700 font-semibold"
                                        >
                                            Admin
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>

                        {% if TwigHelperService.symfonyEnv is not same as 'prod' %}
                            <div class="font-mono text-neutral-400 text-xs mt-4 text-right">
                                Symfony env: {{ TwigHelperService.symfonyEnv }}
                            </div>
                        {% endif %}

                    </footer>

                </div>
            </div>


        </div>

    </body>
</html>
