{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

<!DOCTYPE html>
<html class="bg-white" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Fyyn — {% block title %}Welcome!{% endblock %}</title>

        {{ include('@shared/includes/cookiebot_script.html.twig') }}

        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('tailwind') }}

        {% block stylesheets %}{% endblock %}


        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}{% endblock %}
    </head>
    <body class="bg-white h-full w-full">

        <div class="min-h-screen flex flex-col w-full p-8">
            <header class="flex flex-row justify-end">
                <div
                        class="
                            flex flex-row gap-2 justify-end items-end
                            p-2 pr-4 pl-4 rounded-md opacity-20
                            w-fit
                            hover:opacity-100
                            bg-neutral-500 text-neutral-300 font-light
                            cursor-none
                        "
                >
                    <span>powered by Fyyn.io</span>
                    <img
                            class="h-6"
                            src="{{ asset('assets/images/fyyn-logo-240x241.png') }}"
                            alt="Fyyn.io"
                    >
                </div>
            </header>


            <div class="flex flex-col flex-grow mx-auto w-full max-w-8xl">
                <main class="mb-auto">
                    {% block body %}{% endblock %}
                </main>

                <footer class="padded-content-box">
                    <div
                            class="
                                mt-32
                                bg-neutral-100 rounded-lg
                                min-h-max w-full bottom-0 p-6 pb-8
                                lg:flex lg:items-center lg:justify-between
                                font-extralight
                                text-neutral-500 text-sm
                            "
                    >
                        <ul class="flex flex-wrap items-center mt-3 mr-6">
                            <li>
                                © {{ "now"|date("Y") }} smart DSGVO GmbH
                            </li>
                        </ul>

                        <ul class="flex flex-wrap items-center mt-3 mr-6">
                            <li>
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ _locale: 'en'})) }}" class="mr-4 hover:underline md:mr-6 ">{{ 'footernav.english'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ _locale: 'de'})) }}" class="mr-4 hover:underline md:mr-6">{{ 'footernav.german'|trans }}</a>
                            </li>
                        </ul>

                        <ul class="flex flex-wrap items-center mt-3">
                            <li>
                                <a
                                        {% if app.request.locale is same as 'de' %}
                                            href="https://help.fyyn.io/knowledge-base/datenschutzerklarung/"
                                        {% else %}
                                            href="https://help.fyyn.io/knowledge-base/privacy-policy/"
                                        {% endif %}

                                        class="mr-4 hover:underline md:mr-6"
                                >
                                    {{ 'footernav.privacy_policy'|trans }}
                                </a>
                            </li>
                            <li>
                                <a
                                        {% if app.request.locale is same as 'de' %}
                                            href="https://help.fyyn.io/knowledge-base/impressum/"
                                        {% else %}
                                            href="https://help.fyyn.io/knowledge-base/imprint-site-notice/"
                                        {% endif %}

                                        class="mr-4 hover:underline md:mr-6"
                                >
                                    {{ 'footernav.imprint'|trans }}
                                </a>
                            </li>
                            <li>
                                <a
                                        href="{{ path('shared.presentation.contentpages.cookie_settings') }}"
                                        class="mr-4 hover:underline md:mr-6"
                                >
                                    {{ 'footernav.cookie_settings'|trans }}
                                </a>
                            </li>

                            {% if app.user is defined and app.user is not null %}
                                <li>
                                    <form
                                            action="{{ path('videobasedmarketing.account.infrastructure.sign_out') }}"
                                            method="post"
                                    >
                                        <button
                                                type="submit"
                                                class="mr-4 hover:underline md:mr-6"
                                        >
                                            {{ 'footernav.sign_out'|trans }}
                                        </button>
                                    </form>
                                </li>
                            {% endif %}

                            {% if app.user is defined
                                and app.user is not null
                                and TwigHelperService.capabilitiesService.canAdministerVideos(app.user)
                            %}
                                <li>
                                    <a
                                            href="{{ path('videobasedmarketing.recordings.presentation.admin.videos.overview') }}"
                                            class="mr-4 hover:underline md:mr-6 text-red-700 font-semibold"
                                    >
                                        Admin
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </footer>

            </div>
        </div>

    </body>
</html>
