{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

<!DOCTYPE html>
<html class="h-full" lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Fyyn — {% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('tailwind') }}

        {% block stylesheets %}{% endblock %}


        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}{% endblock %}
    </head>
    <body class="h-full bg-white">

        <div class="flex flex-row justify-start">

            {% if app.user is not null %}
                <div class="
                    min-h-full bg-gradient-to-t from-fuchsia-50 to-indigo-50 p-4
                    hidden md:block md:w-1/12 md:w-96 max-w-fit
                    border-0 border-t-0 border-l-0 border-b-0 border-indigo-900
                ">
                    {% include '@shared/navigation/nav_left.html.twig' %}
                </div>
            {% endif %}

            <div class="min-h-screen flex flex-col w-full">

                <div class="{% if app.user is not null %}md:hidden{% endif %}">
                    {% include '@shared/navigation/nav_top.html.twig' %}
                </div>

                {% if app.user and app.user.registered %}
                    <div class="
                        hidden md:flex
                        flex-row justify-end w-full p-4 pr-12 -mb-20
                    ">

                        <div>
                            <div class="flex items-end w-fit">
                                <div class="">

                                    {% if app.user.hasProfilePhoto() %}
                                        <img
                                                class="h-8 w-8 rounded-full ring-2 ring-indigo-700"
                                                src="{{ TwigHelperService.accountAssetsService.getUrlForUserProfilePhoto(app.user) }}"
                                                alt=""
                                        >
                                    {% else %}
                                        <!-- Heroicon name: outline/user-circle -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                    {% endif %}

                                </div>
                                <div class="ml-3">

                                    {% if app.user.firstName is not null or app.user.lastName is not null %}
                                        <div class="text-base font-medium leading-none text-neutral-900">
                                            {{ app.user.firstName }}
                                            {{ app.user.lastName }}
                                        </div>
                                    {% endif %}

                                    <div class="text-sm font-light leading-none text-neutral-600">{{ app.user.userIdentifier }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="flex flex-col flex-grow">
                    <main class="mb-auto">
                        {% block body %}{% endblock %}
                    </main>

                    {% if app.user is null %}
                        <footer class="
                            min-h-max w-full bottom-0 p-4 md:flex md:items-center md:justify-between md:p-6
                            font-extralight
                            text-neutral-500 text-sm
                        ">
                            <ul class="flex flex-wrap items-center mt-3 mr-6">
                                <li>
                                    © {{ "now"|date("Y") }} smart DSGVO GmbH
                                </li>
                            </ul>

                            <ul class="flex flex-wrap items-center mt-3 mr-6">
                                <li>
                                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ _locale: 'en'})) }}" class="mr-4 hover:underline md:mr-6 ">{{ 'footernav.english'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ _locale: 'de'})) }}" class="mr-4 hover:underline md:mr-6">{{ 'footernav.german'|trans }}</a>
                                </li>
                            </ul>

                            <ul class="flex flex-wrap items-center mt-3">
                                <li>
                                    <a href="#" class="mr-4 hover:underline md:mr-6 ">{{ 'footernav.imprint'|trans }}</a>
                                </li>
                                <li>
                                    <a href="#" class="mr-4 hover:underline md:mr-6">{{ 'footernav.terms'|trans }}</a>
                                </li>
                                <li>
                                    <a href="#" class="mr-4 hover:underline md:mr-6">{{ 'footernav.contact'|trans }}</a>
                                </li>
                            </ul>
                        </footer>
                    {% endif %}
                </div>

            </div>

        </div>

    </body>
</html>
