{% extends '@shared/base_default.html.twig' %}

{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

{% block title %}Tailwind Playground{% endblock %}
{% block contentTitle %}Tailwind Playground{% endblock %}

{% block body %}

    {% embed '@shared/embeds/default_content_box.html.twig' %}
        {% block contentBoxTitle %}
            Tailwind Playground
        {% endblock %}

        {% block contentBoxSubtitle %}
            Breakpoint:
            <span class="inline sm:hidden">xs</span>
            <span class="hidden sm:inline md:hidden">sm</span>
            <span class="hidden md:inline lg:hidden">md</span>
            <span class="hidden lg:inline xl:hidden">lg</span>
            <span class="hidden xl:inline 2xl:hidden">xl</span>
            <span class="hidden 2xl:inline">2xl</span>

        {% endblock %}

        {% block contentBoxContent %}

            {# ------------------------------------------------------------------------------------ #}
            <div class="mb-16">
                <h1 class="mb-8 text-lg font-bold">Entity Element for Recordings</h1>


                <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 2xl:grid-cols-5 gap-8 w-full">

                    <div class="flex flex-col rounded-md p-0 bg-white border-1 border-neutral-200 hover:bg-mercurius-blue-200">

                        <button class="flex flex-col p-8 justify-center w-full h-full text-mercurius-blue-900 text-center">
                            <!-- Hero Icon: video-camera -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 mx-auto">
                                <path d="M4.5 4.5a3 3 0 00-3 3v9a3 3 0 003 3h8.25a3 3 0 003-3v-9a3 3 0 00-3-3H4.5zM19.94 18.75l-2.69-2.69V7.94l2.69-2.69c.944-.945 2.56-.276 2.56 1.06v11.38c0 1.336-1.616 2.005-2.56 1.06z" />
                            </svg>
                            <span class="mt-2 font-bold text-sm">
                                Neue Aufnahme starten
                            </span>
                        </button>

                    </div>

                    <div class="flex flex-col rounded-md p-0 bg-white border-1 border-neutral-200">
                        <div class="relative">
                            <button
                                    style="background-image: url('{{ asset('assets/images/tailwind-playground/video-poster-still-640x480.webp') }}')"
                                    class="h-40 w-full bg-cover bg-center rounded-tl-md rounded-tr-md hover:contrast-125 bg-cover"
                            >
                            </button>
                            <div class="absolute bottom-0 left-0 p-2">
                                <button class="w-full h-full">
                                    <!-- Heroicon: Play -->
                                    <svg class="w-8 h-8 p-1 pl-2 pr-2 rounded-md bg-black bg-opacity-75 text-neutral-200 text-xs font-light"
                                         xmlns="http://www.w3.org/2000/svg"
                                         stroke="none"
                                         viewBox="0 0 24 24"
                                         fill="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"></path>
                                    </svg>
                                </button>
                            </div>
                            <div class="absolute bottom-0 right-0 p-4">
                                <div class="p-1 pl-2 pr-2 rounded-md bg-black bg-opacity-75 text-neutral-200 text-xs font-light">
                                    0:56
                                </div>
                            </div>
                        </div>

                        <div class="flex-grow pt-4 pb-4 ml-4 mr-4 overflow-y-clip">
                            <p class="text-xl font-bold mb-1 break-words">
                                Vertragsabschluss Bauteile Neu #7
                            </p>
                        </div>

                        <div class="text-mercurius-blue-900 font-bold hover:bg-mercurius-blue-200">
                            <button class="p-2 pl-4 pr-4 w-full h-full text-left text-sm">
                                <span class="flex flex-row justify-between items-center gap-2">
                                    <span>
                                        Aufnahme verschicken
                                    </span>
                                    <span>
                                        <!-- Heroicon: Document-Plus -->
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-4 w-4 text-mercurius-blue-900">
                                            <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                                            <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                                        </svg>
                                    </span>
                                </span>
                            </button>
                        </div>

                        <div class="text-mercurius-blue-900 font-bold hover:bg-mercurius-blue-200 rounded-bl rounded-br">
                            <button class="p-2 pl-4 pr-4 w-full h-full text-left text-sm">
                                <span class="flex flex-row justify-between items-center gap-2">
                                    <span>
                                        Aufnahme schneiden
                                    </span>
                                    <span>
                                        <!-- Heroicon: Scissors -->
                                        <svg
                                                class="h-4 w-4 text-mercurius-blue-900"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor"
                                                viewBox="0 0 24 24"
                                        >
                                            <path fill-rule="evenodd" d="M8.128 9.155a3.751 3.751 0 11.713-1.321l1.136.656a.75.75 0 01.222 1.104l-.006.007a.75.75 0 01-1.032.157 1.421 1.421 0 00-.113-.072l-.92-.531zm-4.827-3.53a2.25 2.25 0 013.994 2.063.756.756 0 00-.122.23 2.25 2.25 0 01-3.872-2.293zM13.348 8.272a5.073 5.073 0 00-3.428 3.57c-.101.387-.158.79-.165 1.202a1.415 1.415 0 01-.707 1.201l-.96.554a3.751 3.751 0 10.734 1.309l13.729-7.926a.75.75 0 00-.181-1.374l-.803-.215a5.25 5.25 0 00-2.894.05l-5.325 1.629zm-9.223 7.03a2.25 2.25 0 102.25 3.897 2.25 2.25 0 00-2.25-3.897zM12 12.75a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                                            <path d="M16.372 12.615a.75.75 0 01.75 0l5.43 3.135a.75.75 0 01-.182 1.374l-.802.215a5.25 5.25 0 01-2.894-.051l-5.147-1.574a.75.75 0 01-.156-1.367l3-1.732z" />
                                        </svg>
                                    </span>
                                </span>
                            </button>
                        </div>

                    </div>



                    <div class="flex flex-col rounded-md p-0 bg-white border-1 border-neutral-200">
                        <div class="relative">
                            <button
                                    style="background-image: url('{{ asset('assets/images/tailwind-playground/video-poster-still-1920x1080.webp') }}')"
                                    class="h-40 w-full bg-cover bg-center rounded-tl-md rounded-tr-md hover:contrast-125 bg-cover"
                            >
                            </button>
                            <div class="absolute top-0 right-0 p-4">
                                <button class="w-full h-full">
                                    <!-- Heroicon: Play -->
                                    <svg class="text-neutral-500 w-8 h-8 p-1 bg-neutral-200 text-neutral-600 border-1 border-neutral-700 rounded-full hover:bg-neutral-50 hover:text-neutral-900"
                                         xmlns="http://www.w3.org/2000/svg"
                                         stroke="none"
                                         viewBox="-0.5 0 22 24"
                                         fill="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="pt-4 ml-4 mr-4">
                            <p class="text-xl font-bold mb-1 break-words">
                                Schulung nach Vertrag
                            </p>
                            <p class="text-gray-400 text-sm font-medium">
                                0:56 Minuten
                            </p>
                        </div>

                        <div class="flex-grow flex p-4 text-gray-600 font-light break-words">
                            <p class="self-end">
                                Aufnahme ist auf Landingpage
                                <a href="#" class="font-semibold border-b border-dotted border-b-gray-600 hover:border-solid hover:border-b-mercurius-blue-900 hover:text-mercurius-blue-900">Kaltakquise Müller</a>
                                eingebettet.
                            </p>
                        </div>

                        <div class="text-mercurius-blue-900 font-bold hover:bg-mercurius-blue-200">
                            <button class="p-2 pl-4 pr-4 w-full h-full text-left text-sm">
                                <span class="flex flex-row justify-between items-center gap-2">
                                    <span>
                                        Aufnahme verschicken
                                    </span>
                                    <span>
                                        <!-- Heroicon: Document-Plus -->
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-4 w-4 text-mercurius-blue-900">
                                            <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                                            <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                                        </svg>
                                    </span>
                                </span>
                            </button>
                        </div>

                        <div class="text-mercurius-blue-900 font-bold hover:bg-mercurius-blue-200 rounded-bl rounded-br">
                            <button class="p-2 pl-4 pr-4 w-full h-full text-left text-sm">
                                <span class="flex flex-row justify-between items-center gap-2">
                                    <span>
                                        Aufnahme schneiden
                                    </span>
                                    <span>
                                        <!-- Heroicon: Scissors -->
                                        <svg
                                                class="h-4 w-4 text-mercurius-blue-900"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor"
                                                viewBox="0 0 24 24"
                                        >
                                            <path fill-rule="evenodd" d="M8.128 9.155a3.751 3.751 0 11.713-1.321l1.136.656a.75.75 0 01.222 1.104l-.006.007a.75.75 0 01-1.032.157 1.421 1.421 0 00-.113-.072l-.92-.531zm-4.827-3.53a2.25 2.25 0 013.994 2.063.756.756 0 00-.122.23 2.25 2.25 0 01-3.872-2.293zM13.348 8.272a5.073 5.073 0 00-3.428 3.57c-.101.387-.158.79-.165 1.202a1.415 1.415 0 01-.707 1.201l-.96.554a3.751 3.751 0 10.734 1.309l13.729-7.926a.75.75 0 00-.181-1.374l-.803-.215a5.25 5.25 0 00-2.894.05l-5.325 1.629zm-9.223 7.03a2.25 2.25 0 102.25 3.897 2.25 2.25 0 00-2.25-3.897zM12 12.75a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                                            <path d="M16.372 12.615a.75.75 0 01.75 0l5.43 3.135a.75.75 0 01-.182 1.374l-.802.215a5.25 5.25 0 01-2.894-.051l-5.147-1.574a.75.75 0 01-.156-1.367l3-1.732z" />
                                        </svg>
                                    </span>
                                </span>
                            </button>
                        </div>

                    </div>



                    <div class="flex flex-col rounded-md p-0 bg-white border-1 border-neutral-200">
                        <div class="relative">
                            <button
                                    style="background-image: url('{{ asset('assets/images/tailwind-playground/video-poster-still-1920x1080.webp') }}')"
                                    class="h-40 w-full bg-cover bg-center rounded-tl-md rounded-tr-md hover:contrast-125 bg-cover"
                            >
                            </button>
                            <div class="absolute top-0 right-0 p-4">
                                <button class="w-full h-full">
                                    <!-- Heroicon: Play -->
                                    <svg class="text-neutral-500 w-8 h-8 p-1 bg-neutral-200 text-neutral-600 border-1 border-neutral-700 rounded-full hover:bg-neutral-50 hover:text-neutral-900"
                                         xmlns="http://www.w3.org/2000/svg"
                                         stroke="none"
                                         viewBox="-0.5 0 22 24"
                                         fill="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="pt-4 pb-4 ml-4 mr-4">
                            <p class="text-xl font-bold mb-1 break-words">
                                Schulung nach Vertrag Take #2
                            </p>
                            <p class="text-gray-400 text-sm font-medium">
                                1:27 Minuten
                            </p>
                        </div>

                        <div class="flex-grow flex p-4 text-gray-600 font-light break-words">
                            <p class="self-end">
                                Aufnahme ist
                                <a href="#" class="font-semibold border-b border-dotted border-b-gray-600 hover:border-solid hover:border-b-mercurius-blue-900 hover:text-mercurius-blue-900">auf 4 Landingpages</a>
                                eingebettet.
                            </p>
                        </div>

                        <div class="text-mercurius-blue-900 font-bold hover:bg-mercurius-blue-200">
                            <button class="p-2 pl-4 pr-4 w-full h-full text-left text-sm">
                                <span class="flex flex-row justify-between items-center gap-2">
                                    <span>
                                        Aufnahme verschicken
                                    </span>
                                    <span>
                                        <!-- Heroicon: Document-Plus -->
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-4 w-4 text-mercurius-blue-900">
                                            <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                                            <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                                        </svg>
                                    </span>
                                </span>
                            </button>
                        </div>

                        <div class="text-mercurius-blue-900 font-bold hover:bg-mercurius-blue-200 rounded-bl rounded-br">
                            <button class="p-2 pl-4 pr-4 w-full h-full text-left text-sm">
                                <span class="flex flex-row justify-between items-center gap-2">
                                    <span>
                                        Aufnahme schneiden
                                    </span>
                                    <span>
                                        <!-- Heroicon: Scissors -->
                                        <svg
                                                class="h-4 w-4 text-mercurius-blue-900"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor"
                                                viewBox="0 0 24 24"
                                        >
                                            <path fill-rule="evenodd" d="M8.128 9.155a3.751 3.751 0 11.713-1.321l1.136.656a.75.75 0 01.222 1.104l-.006.007a.75.75 0 01-1.032.157 1.421 1.421 0 00-.113-.072l-.92-.531zm-4.827-3.53a2.25 2.25 0 013.994 2.063.756.756 0 00-.122.23 2.25 2.25 0 01-3.872-2.293zM13.348 8.272a5.073 5.073 0 00-3.428 3.57c-.101.387-.158.79-.165 1.202a1.415 1.415 0 01-.707 1.201l-.96.554a3.751 3.751 0 10.734 1.309l13.729-7.926a.75.75 0 00-.181-1.374l-.803-.215a5.25 5.25 0 00-2.894.05l-5.325 1.629zm-9.223 7.03a2.25 2.25 0 102.25 3.897 2.25 2.25 0 00-2.25-3.897zM12 12.75a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                                            <path d="M16.372 12.615a.75.75 0 01.75 0l5.43 3.135a.75.75 0 01-.182 1.374l-.802.215a5.25 5.25 0 01-2.894-.051l-5.147-1.574a.75.75 0 01-.156-1.367l3-1.732z" />
                                        </svg>
                                    </span>
                                </span>
                            </button>
                        </div>

                    </div>

                </div>
            </div>


            <div class="mb-16">
                <h1 class="mb-8 text-lg font-bold">Entity Element for Presentationpages</h1>


                <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 2xl:grid-cols-5 gap-8 w-full">

                    <div class="flex flex-col rounded-md p-0 bg-white border-1 border-neutral-200 hover:bg-mercurius-blue-200">

                        <button class="flex flex-col p-8 justify-center w-full h-full text-mercurius-blue-900 text-center">
                            <!-- Hero Icon: document-plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 mx-auto">
                                <path fill-rule="evenodd" d="M5.625 1.5H9a3.75 3.75 0 013.75 3.75v1.875c0 1.036.84 1.875 1.875 1.875H16.5a3.75 3.75 0 013.75 3.75v7.875c0 1.035-.84 1.875-1.875 1.875H5.625a1.875 1.875 0 01-1.875-1.875V3.375c0-1.036.84-1.875 1.875-1.875zM12.75 12a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V18a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V12z" clip-rule="evenodd" />
                                <path d="M14.25 5.25a5.23 5.23 0 00-1.279-3.434 9.768 9.768 0 016.963 6.963A5.23 5.23 0 0016.5 7.5h-1.875a.375.375 0 01-.375-.375V5.25z" />
                            </svg>
                            <span class="mt-2 font-bold text-sm">
                                Neue Landingpage anlegen
                            </span>
                        </button>

                    </div>

                    <div class="flex flex-col rounded-md p-0 bg-white border-1 border-neutral-200">
                        <div class="relative">
                            <button
                                    style="background-image: url('{{ asset('assets/images/tailwind-playground/presentationpage-screenshot-960x1536.webp') }}')"
                                    class="h-40 w-full bg-cover bg-top rounded-tl-md rounded-tr-md hover:contrast-125 bg-cover"
                            >
                            </button>
                            <div class="absolute top-0 right-0 p-4">
                                <button class="w-full h-full">
                                    <!-- Heroicon: Eye -->
                                    <svg class="text-neutral-500 w-8 h-8 p-1 bg-neutral-200 text-neutral-600 border-1 border-neutral-700 rounded-full hover:bg-neutral-50 hover:text-neutral-900"
                                         xmlns="http://www.w3.org/2000/svg"
                                         stroke="none"
                                         viewBox="0 0 24 24"
                                         fill="currentColor">
                                        <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                                        <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="flex-grow pt-4 pb-4 ml-4 mr-4 mb-4 overflow-y-clip">
                            <p class="text-xl font-bold mb-1 break-words">
                                Kaltakquise Müller
                            </p>

                            <p class="text-gray-400 text-sm font-medium">
                                102 Aufrufe
                            </p>

                            <p class="text-gray-400 text-sm font-medium">
                                7 Elemente
                            </p>
                        </div>

                        <div class="text-mercurius-blue-900 font-bold hover:bg-mercurius-blue-200">
                            <button class="p-2 pl-4 pr-4 w-full h-full text-left text-sm">
                                <span class="flex flex-row justify-between items-center gap-2">
                                    <span>
                                        Bearbeiten
                                    </span>
                                    <span>
                                        <!-- Heroicon: Edit -->
                                        <svg
                                                class="h-4 w-4 text-mercurius-blue-900"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor"
                                                viewBox="0 0 24 24"
                                        >
                                            <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                            <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                        </svg>
                                    </span>
                                </span>
                            </button>
                        </div>

                        <div class="text-mercurius-blue-900 font-bold hover:bg-mercurius-blue-200 rounded-bl rounded-br">
                            <button class="p-2 pl-4 pr-4 w-full h-full text-left text-sm">
                                <span class="flex flex-row justify-between items-center gap-2">
                                    <span>
                                        Landingpage teilen
                                    </span>
                                    <span>
                                        <!-- Heroicon: Arrow-Up-On-Square -->
                                        <svg
                                                class="h-4 w-4 text-mercurius-blue-900"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor"
                                                viewBox="0 0 24 24"
                                        >
                                            <path d="M11.47 1.72a.75.75 0 011.06 0l3 3a.75.75 0 01-1.06 1.06l-1.72-1.72V7.5h-1.5V4.06L9.53 5.78a.75.75 0 01-1.06-1.06l3-3zM11.25 7.5V15a.75.75 0 001.5 0V7.5h3.75a3 3 0 013 3v9a3 3 0 01-3 3h-9a3 3 0 01-3-3v-9a3 3 0 013-3h3.75z" />
                                        </svg>
                                    </span>
                                </span>
                            </button>
                        </div>

                    </div>

                    <div class="flex flex-col rounded-md p-0 bg-white border-1 border-neutral-200">
                        <div class="relative">
                            <button
                                    style="background-image: url('{{ asset('assets/images/tailwind-playground/presentationpage-screenshot-960x960.webp') }}')"
                                    class="h-40 w-full bg-cover bg-top rounded-tl-md rounded-tr-md hover:contrast-125 bg-cover"
                            >
                            </button>
                            <div class="absolute top-0 right-0 p-4">
                                <button class="w-full h-full">
                                    <!-- Heroicon: Eye -->
                                    <svg class="text-neutral-500 w-8 h-8 p-1 bg-neutral-200 text-neutral-600 border-1 border-neutral-700 rounded-full hover:bg-neutral-50 hover:text-neutral-900"
                                         xmlns="http://www.w3.org/2000/svg"
                                         stroke="none"
                                         viewBox="0 0 24 24"
                                         fill="currentColor">
                                        <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                                        <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="flex-grow pt-4 pb-4 ml-4 mr-4 mb-4">
                            <p class="text-xl font-bold mb-1 break-words">
                                Kaltakquise
                            </p>
                            <p class="text-gray-400 text-sm font-medium">
                                Vorlage
                            </p>
                        </div>

                        <div class="text-mercurius-blue-900 font-bold hover:bg-mercurius-blue-200">
                            <button class="p-2 pl-4 pr-4 w-full h-full text-left text-sm">
                                <span class="flex flex-row justify-between items-center gap-2">
                                    <span>
                                        Bearbeiten
                                    </span>
                                    <span>
                                        <!-- Heroicon: Edit -->
                                        <svg
                                                class="h-4 w-4 text-mercurius-blue-900"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor"
                                                viewBox="0 0 24 24"
                                        >
                                            <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                            <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                        </svg>
                                    </span>
                                </span>
                            </button>
                        </div>

                        <div class="text-mercurius-blue-900 font-bold hover:bg-mercurius-blue-200 rounded-bl rounded-br">
                            <button class="p-2 pl-4 pr-4 w-full h-full text-left text-sm">
                                <span class="flex flex-row justify-between items-center gap-2">
                                    <span>
                                        Landingpage aus Vorlage
                                    </span>
                                    <span>
                                        <!-- Heroicon: Document-Duplicate -->
                                        <svg
                                                class="h-4 w-4 text-mercurius-blue-900"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor"
                                                viewBox="0 0 24 24"
                                        >
                                            <path d="M7.5 3.375c0-1.036.84-1.875 1.875-1.875h.375a3.75 3.75 0 013.75 3.75v1.875C13.5 8.161 14.34 9 15.375 9h1.875A3.75 3.75 0 0121 12.75v3.375C21 17.16 20.16 18 19.125 18h-9.75A1.875 1.875 0 017.5 16.125V3.375z" />
                                            <path d="M15 5.25a5.23 5.23 0 00-1.279-3.434 9.768 9.768 0 016.963 6.963A5.23 5.23 0 0017.25 7.5h-1.875A.375.375 0 0115 7.125V5.25zM4.875 6H6v10.125A3.375 3.375 0 009.375 19.5H16.5v1.125c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625V7.875C3 6.839 3.84 6 4.875 6z" />
                                        </svg>
                                    </span>
                                </span>
                            </button>
                        </div>

                    </div>

                </div>
            </div>





            {#
            <div class="mb-16">

                <div class="
                        border-1
                        border-gray-300
                        rounded-md
                        divide-y
                        divide-gray-300
                        max-w-7xl
                        bg-white
                ">

                    <div class="
                            grid
                            grid-cols-4
                            p-4
                            justify-between
                            items-start
                            gap-8
                    ">
                        <h3 class="font-bold">
                            A listed thing
                        </h3>

                        <div class="col-span-2">
                            A description for the thing that is listed.
                        </div>

                        <div class="
                                text-right
                                items-end
                                flex
                                flex-col
                        ">
                            <form
                                    action="#"
                                    method="post"
                                    class="inline-block"
                            >
                                <button
                                        class="cta-link-primary-small"
                                        type="submit"
                                >
                                    Primary action
                                </button>
                            </form>

                            <form
                                    action="#"
                                    method="post"
                                    class="inline-block"
                            >
                                <button
                                        class="cta-link-success-small"
                                        type="submit"
                                >
                                    Success action
                                </button>
                            </form>

                            <form
                                    action="#"
                                    method="post"
                                    class="inline-block"
                            >
                                <button
                                        class="cta-link-danger-small"
                                        type="submit"
                                >
                                    Danger action
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="
                            grid
                            grid-cols-4
                            p-4
                            justify-between
                            items-start
                            gap-8
                    ">
                        <h3 class="font-bold">
                            Another entry in this list
                        </h3>

                        <div class="col-span-2">
                            Here is yet another description for this thing, explaining what it is here for.
                        </div>

                        <div class="
                                text-right
                                items-end
                                flex
                                flex-col
                        ">
                            <form
                                    action="#"
                                    method="post"
                                    class="inline-block"
                            >
                                <button
                                        class="cta-link-primary-small"
                                        type="submit"
                                >
                                    Primary action
                                </button>
                            </form>

                            <form
                                    action="#"
                                    method="post"
                                    class="inline-block"
                            >
                                <button
                                        class="cta-link-success-small"
                                        type="submit"
                                >
                                    Success action
                                </button>
                            </form>

                            <form
                                    action="#"
                                    method="post"
                                    class="inline-block"
                            >
                                <button
                                        class="cta-link-danger-small"
                                        type="submit"
                                >
                                    Danger action
                                </button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
            #}

        {% endblock %}
    {% endembed %}

{% endblock %}
