{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

{% trans_default_domain 'videobasedmarketing.account' %}

<form
        action="{{ path('videobasedmarketing.account.presentation.claim_unregistered_user.handle_form_submit') }}"
        method="post"
>
    <div class="
        flex flex-col gap-8 w-full
        justify-center items-center
        lg:items-end
    ">

        <div class="w-full">
            <label for="email" class="sr-only">
                {{ 'sign_in.placeholder.email'|trans }}
            </label>
            <input
                    id="email"
                    name="{{ form.email.vars.full_name }}"
                    type="email"
                    autocomplete="email"
                    required
                    class="
                        appearance-none relative block
                        h-16 w-full px-3 py-2
                        border border-gray-300
                        placeholder-gray-500 text-gray-900
                        rounded-md
                        focus:outline-none
                        ring-indigo-500
                        border-indigo-500
                        focus:z-10 sm:text-sm
                    "
                    placeholder="{{ 'sign_in.placeholder.email'|trans }}"
            />
        </div>

        <div class="w-full">
            <button
                    type="submit"
                    class="
                        w-64 flex items-center justify-center px-8 py-3
                        border border-transparent
                        text-base font-medium
                        rounded-md text-white
                        bg-indigo-600 hover:bg-indigo-700
                        md:py-4 md:text-lg md:px-10
                    "
                >
                {{ 'claim_unregistered_user.form.cta'|trans }}
            </button>
        </div>

        <div class="text-xs text-neutral-500 w-full font-extralight">
            {{ 'claim_unregistered_user.form.fineprint'|trans }}
        </div>

    </div>

    {{ form_row(form._token) }}
</form>
