{% extends '@shared/base_naked.html.twig' %}

{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

{% trans_default_domain 'videobasedmarketing.account' %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    <div class="bg-white h-full w-full p-8">
        <div class="flex flex-row justify-end">
            <a
                    href="{{ path('shared.presentation.contentpages.homepage') }}"
                    target="_blank"
                    class="
                    flex flex-row gap-2 justify-end items-end
                    p-2 pr-4 pl-4 rounded-md opacity-20
                    w-fit
                    hover:opacity-100
                    bg-neutral-500 text-neutral-300 font-light
                "
            >
                <span>powered by Fyyn.io</span>
                <img
                        class="h-6"
                        src="{{ asset('assets/images/fyyn-logo-240x241.png') }}"
                        alt="Fyyn.io"
                >
            </a>
        </div>

        <div class="mt-16 mx-auto max-w-5xl md:ml-32 md:mr-32">

            <div class="text-8xl font-extrabold">
                {{ 'claim_unregistered_user.form.greeting'|trans }}
            </div>

            <div class="mt-4 text-4xl font-bold">
                {{ 'claim_unregistered_user.form.note1'|trans }}
            </div>

            <div class="mt-8 text-2xl font-extralight text-neutral-400">
                {{ 'claim_unregistered_user.form.note2'|trans }}
            </div>

            <div class="mt-8 text-2xl font-semibold text-indigo-900">
                {{ 'claim_unregistered_user.form.note3'|trans }}
            </div>

            <div class="mt-16">

                {% import '@videobasedmarketing.recordings/macros/video_preview.html.twig' as videoPreviewMacros %}

                {# @var videos \App\VideoBasedMarketing\Recordings\Domain\Entity\Video[] #}

                {% for video in videos %}

                    {% if loop.first %}
                        <div class="
                            flex
                            flex-col lg:flex-row
                            justify-center lg:justify-start
                            items-center lg:items-start
                            gap-16
                            max-w-4xl
                        ">

                            <div class="
                                w-full shadow-xl shadow-neutral-400
                                h-fit
                            ">
                                {{ videoPreviewMacros.interactive(video) }}
                            </div>

                            <div class="
                                flex flex-col gap-8 w-full
                                justify-center items-center
                                lg:items-end
                            ">

                                <div class="w-full">
                                    <label for="username" class="sr-only">
                                        {{ 'sign_in.placeholder.email'|trans }}
                                    </label>
                                    <input
                                            id="username"
                                            name="_username"
                                            type="email"
                                            autocomplete="email"
                                            required
                                            class="
                                                appearance-none relative block
                                                h-16 w-full px-3 py-2
                                                border border-gray-300
                                                placeholder-gray-500 text-gray-900
                                                rounded-md
                                                focus:outline-none
                                                ring-indigo-500
                                                border-indigo-500
                                                focus:z-10 sm:text-sm
                                            "
                                            placeholder="{{ 'sign_in.placeholder.email'|trans }}"
                                    />
                                </div>

                                <div class="w-full">
                                    <button
                                            type="submit"
                                            class="
                                                w-64 flex items-center justify-center px-8 py-3
                                                border border-transparent
                                                text-base font-medium
                                                rounded-md text-white
                                                bg-indigo-600 hover:bg-indigo-700
                                                md:py-4 md:text-lg md:px-10
                                            "
                                    >
                                        {{ 'claim_unregistered_user.form.cta'|trans }}
                                    </button>
                                </div>

                                <div class="
                                    text-xs text-neutral-500 w-full
                                    font-extralight
                                ">
                                    {{ 'claim_unregistered_user.form.fineprint'|trans }}
                                </div>

                            </div>
                        </div>
                    {% endif %}

                {% endfor %}

                {% if videos|length > 1 %}

                    <div class="mt-32 flex flex-col justify-center items-center">
                        <div class="flex flex-row justify-evenly gap-8">
                            {% for video in videos %}
                                {% if not loop.first %}
                                    <div class="
                                        w-48 shadow-md shadow-neutral-300
                                        h-32 opacity-40 overflow-hidden
                                    ">
                                        {{ videoPreviewMacros.interactive(video) }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="text-lg text-neutral-500 mt-6">
                            {{ 'claim_unregistered_user.form.other_videos_note'|trans({ numberOfVideos: (videos|length - 1) }) }}
                        </div>
                    </div>

                {% endif %}

            </div>
        </div>

    </div>

{% endblock %}
