{% set client_timezone = 'Europe/Berlin' %}

<!DOCTYPE html>
<html class="h-full" lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Fyyn — {% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('tailwind') }}

        {% block stylesheets %}{% endblock %}


        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}{% endblock %}
    </head>
    <body class="h-full bg-gray-100">

        <div class="flex flex-row justify-start">

            {% if app.user is not null %}
                <div class="min-h-full bg-gray-800 p-4 hidden md:block md:w-1/12 md:w-96 border-0 border-r-2 border-r-gray-900 shadow-lg shadow-gray-700">
                    {% include 'nav_left.html.twig' %}
                </div>
            {% endif %}

            <div class="min-h-screen flex flex-col w-full {% if app.user is not null %}md:w-11/12{% endif %}">

                <div class="{% if app.user is not null %}md:hidden{% endif %}">
                    {% include 'nav_top.html.twig' %}
                </div>

                <div class="flex flex-col flex-grow">
                    <h1 class="padded-content-box shadow text-3xl font-bold text-gray-200 bg-gray-900">
                        {% block contentTitle %}{% endblock %}
                    </h1>

                    <main class="mb-auto">
                        {% block body %}{% endblock %}
                    </main>

                    <footer class="bg-gray-900 min-h-max w-full bottom-0 p-4 md:pt-20 shadow-inner shadow-black md:flex md:items-center md:justify-between md:p-6 md:pt-20">
                        <ul class="flex flex-wrap items-center mt-3 mr-6 text-sm text-gray-500">
                            <li>
                                © {{ "now"|date("Y") }} smart DSGVO GmbH
                            </li>
                        </ul>

                        <ul class="flex flex-wrap items-center mt-3 mr-6 text-sm text-gray-500">
                            <li>
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ _locale: 'en'})) }}" class="mr-4 hover:underline md:mr-6 ">{{ 'footernav.english'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ _locale: 'de'})) }}" class="mr-4 hover:underline md:mr-6">{{ 'footernav.german'|trans }}</a>
                            </li>
                        </ul>

                        <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500">
                            <li>
                                <a href="#" class="mr-4 hover:underline md:mr-6 ">{{ 'footernav.imprint'|trans }}</a>
                            </li>
                            <li>
                                <a href="#" class="mr-4 hover:underline md:mr-6">{{ 'footernav.terms'|trans }}</a>
                            </li>
                            <li>
                                <a href="#" class="mr-4 hover:underline md:mr-6">{{ 'footernav.contact'|trans }}</a>
                            </li>
                        </ul>
                    </footer>
                </div>

            </div>

        </div>

    </body>
</html>
