<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('tailwind') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav>
            {% if app.user %}
                {% if app.user.hasProfilePhoto() %}
                    <div class="flex m-2">
                        <img
                            class="inline-block h-6 w-6 rounded-full ring-4 ring-white"
                            src="{{ ContentDeliveryService.getUrlForUserProfilePhoto(app.user) }}"
                            alt=""
                        />
                    </div>
                {% endif %}

                <a href="{{ path('feature.account.logout') }}">Logout</a>
            {% else %}
                <a href="{{ path('feature.account.login') }}">Login</a>
                <a href="{{ path('feature.account.register') }}">Register</a>
            {% endif %}
        </nav>

        {% block body %}{% endblock %}
    </body>
</html>
