<!DOCTYPE html>
<html class="h-full">
    <head>
        <meta charset="UTF-8">
        <title>Fyyn — {% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('tailwind') }}

        {% block stylesheets %}{% endblock %}


        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}{% endblock %}
    </head>
    <body class="h-full">

        <div class="min-h-full flex flex-col h-screen justify-between">
            <nav
                {{ stimulus_controller('navMobileMenuSwitch') }}
                class="bg-gray-800"
            >
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <div class="flex items-center justify-between h-16">
                        <div class="flex items-center">
                            <div class="flex-shrink-0">
                                <a href="{{ path('feature.landingpages.homepage') }}">
                                    <img class="h-8 rounded" src="{{ asset('assets/images/fyyn-logo-640x345.png') }}" alt="Fyyn">
                                </a>
                            </div>
                            <div class="hidden md:block">
                                <div class="ml-10 flex items-baseline space-x-4">

                                    {{ component(
                                        'main_navigation',
                                        {
                                            user: app.user,
                                            request: app.request,
                                            type: 'wide'
                                        })
                                    }}

                                </div>
                            </div>
                        </div>

                        <div class="hidden md:block">
                            <div class="ml-4 flex items-center md:ml-6">

                                {{ component(
                                    'side_navigation',
                                    {
                                        user: app.user,
                                        request: app.request,
                                        type: 'wide'
                                    })
                                }}

                            </div>
                        </div>


                        <div class="-mr-2 flex md:hidden">
                            <!-- Mobile menu button -->
                            <button
                                {{ stimulus_action('navMobileMenuSwitch', 'click') }}
                                type="button"
                                class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                                aria-controls="mobile-menu"
                                aria-expanded="false"
                            >
                                <span class="sr-only">Open main menu</span>
                                <!--
                                  Heroicon name: outline/menu

                                  Menu open: "hidden", Menu closed: "block"
                                -->
                                <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                                </svg>
                                <!--
                                  Heroicon name: outline/x

                                  Menu open: "block", Menu closed: "hidden"
                                -->
                                <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Mobile menu, show/hide based on menu state. -->
                <div
                    {{ stimulus_target('navMobileMenuSwitch', 'menu') }}
                    class="hidden md:hidden"
                    id="mobile-menu"
                >
                    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">

                        {{ component(
                            'main_navigation',
                            {
                                user: app.user,
                                request: app.request,
                                type: 'stacked'
                            })
                        }}

                        {{ component(
                            'side_navigation',
                            {
                                user: app.user,
                                request: app.request,
                                type: 'stacked'
                            })
                        }}

                    </div>

                </div>
            </nav>

            <div class="mb-auto">
                <header class="bg-white shadow">
                    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                        <h1 class="text-3xl font-bold text-gray-900">
                            {% block contentTitle %}{% endblock %}
                        </h1>
                    </div>
                </header>
                <main>
                    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
                        <div>

                            {% block body %}{% endblock %}

                        </div>
                    </div>
                </main>
            </div>

            <footer class="min-h-max w-full bottom-0 p-4 md:pt-20 shadow-2xl md:flex md:items-center md:justify-between md:p-6 md:pt-20 dark:bg-white border-t-2">
                <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
                    © {{ "now"|date("Y") }} Mercurius Gruppe
                </span>
                <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
                    <li>
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ _locale: 'en'})) }}" class="mr-4 hover:underline md:mr-6 ">{{ 'footernav.english'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ _locale: 'de'})) }}" class="mr-4 hover:underline md:mr-6">{{ 'footernav.german'|trans }}</a>
                    </li>
                </ul>

                <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6 ">{{ 'footernav.imprint'|trans }}</a>
                    </li>
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6">{{ 'footernav.terms'|trans }}</a>
                    </li>
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6">{{ 'footernav.contact'|trans }}</a>
                    </li>
                </ul>
            </footer>

        </div>

    </body>
</html>
