{% extends '@shared/base.html.twig' %}

{# @var video \App\VideoBasedMarketing\Recordings\Domain\Entity\Video #}
{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

{% block title %}{{ 'mainnav.recordings'|trans }}{% endblock %}
{% block contentTitle %}{{ 'mainnav.recordings'|trans }}{% endblock %}

{% block body %}

    {% embed '@shared/embeds/default_content_box.html.twig' %}

        {% trans_default_domain 'videobasedmarketing.presentationpages' %}

        {% block contentBoxTitle %}
            {{ 'overview.title'|trans }}
        {% endblock %}

        {% block contentBoxSubtitle %}
            {{ 'overview.subtitle'|trans }}
        {% endblock %}

        {% block contentBoxContent %}

            <div class="collection-box">

                {% embed '@shared/embeds/two_column_content_box_content_row.html.twig' with { colspanLeft: 3, colspanRight: 9 } %}
                    {% block contentLeft %}

                        <video
                                class="mx-auto rounded-md w-full"
                                autoplay="autoplay"
                                controls
                                poster="{{ TwigHelperService.videoInfrastructureService.posterStillAssetUrl(video) }}"
                        >
                            <source
                                    src="{{ TwigHelperService.videoInfrastructureService.getFullAssetUrl(video) }}"
                            >
                        </video>

                    {% endblock %}
                    {% block contentRight %}

                        {% if TwigHelperService.presentationpagesService.userHasTemplates(app.user) %}
                            <h2 class="text-xl font-bold mb-4">
                                {{ 'create_page_from_video_form.templates_headline'|trans }}
                            </h2>

                            <div class="border-1 border-gray-200 rounded-md flex flex-col divide-y divide-amber-300">
                                {% for presentationpage in TwigHelperService.presentationpagesService.presentationpagesForUser(app.user, constant('\\App\\VideoBasedMarketing\\Presentationpages\\Domain\\Enum\\PresentationpageType::Template')) %}
                                    {# @var presentationpage \App\VideoBasedMarketing\Presentationpages\Domain\Entity\Presentationpage #}

                                    <div class="flex flex-row p-4 justify-between items-center gap-4">
                                        <h3 class="text-md">
                                            {{ presentationpage.title }}
                                        </h3>

                                        <div>
                                            <form
                                                    action="{{ path('videobasedmarketing.presentationpages.presentation.create_page_from_video_and_template', { videoId: video.id, templateId: presentationpage.id }) }}"
                                                    method="post"
                                                    class="inline-block"
                                            >
                                                <button
                                                        class="cta-link-primary-small"
                                                        type="submit"
                                                >
                                                    {{ 'overview.cta.create_page_from_template'|trans }}
                                                </button>
                                            </form>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                        {% endif %}

                    {% endblock %}
                {% endembed %}

            </div>


        {% endblock %}
    {% endembed %}

{% endblock %}
