{% extends 'base.html.twig' %}

{% block title %}{{ 'sidenav.signin'|trans }}{% endblock %}
{% block contentTitle %}{{ 'sidenav.signin'|trans }}{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="min-h-full flex items-center justify-center py-0 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <form action="{{ path('feature.account.login') }}" method="post">

                <div class="mt-8 space-y-6">

                    <input type="hidden" name="remember" value="true">
                    <div class="rounded-md shadow-sm -space-y-px">
                        <div>
                            <label for="username" class="sr-only">Email address</label>
                            <input
                                    id="username"
                                    name="_username"
                                    type="email"
                                    autocomplete="email"
                                    required
                                    class="appearance-none rounded-none relative block h-16 w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                                    placeholder="{{ 'feature.account.login.placeholder.email'|trans }}"
                            />
                        </div>
                        <div>
                            <label for="password" class="sr-only">Password</label>
                            <input
                                    id="password"
                                    name="_password"
                                    type="password"
                                    autocomplete="current-password"
                                    required
                                    class="appearance-none rounded-none relative block h-16 w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                                    placeholder="{{ 'feature.account.login.placeholder.password'|trans }}"
                            />
                        </div>
                    </div>

                    <div>
                        <button
                                type="submit"
                                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10"
                        >
                            {{ 'feature.account.login.cta.sign_in'|trans }}
                        </button>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            </form>

        </div>
    </div>

    <div class="mt-16 min-h-full flex items-center justify-center py-0 px-4 sm:px-6 lg:px-8 text-gray-500">
        —&nbsp;&nbsp;&nbsp;{{ 'feature.account.login.or'|trans }}&nbsp;&nbsp;&nbsp;—
    </div>

    <div class="mt-16 min-h-full flex items-center justify-center py-0 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md space-y-8 w-full">
            <div class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <div class="border border-gray-200 rounded-md divide-y divide-gray-200 bg-indigo-50">
                    <div class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                        <div class="w-0 flex-1 flex items-center">
                            <div class="ml-2 flex-1 w-0">
                                <p class="font-bold mb-2">
                                    {{ 'feature.account.login.sign_in_with_linkedin_question'|trans }}
                                </p>
                                <p>
                                    {{ 'feature.account.login.sign_in_with_linkedin_info'|trans }}
                                </p>
                            </div>
                        </div>
                        <div class="ml-4 flex-shrink-0">
                            <a
                                    href="{{ path('feature.account.3rdpartyauth.linkedin.start') }}"
                                    class="text-center flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-6 text-xs font-medium text-white shadow-sm hover:bg-indigo-700"
                            >
                                {{ 'feature.account.login.cta.sign_in_with_linkedin'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
