{% extends '@shared/base_minimal.html.twig' %}

{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

{# @var video \App\VideoBasedMarketing\Recordings\Domain\Entity\Video #}
{# @var responses \App\VideoBasedMarketing\RecordingRequests\Domain\Entity\RecordingRequestResponse[] #}
{# @var followUpRouteName string #}
{# @var followUpRouteParameters string #}

{% trans_default_domain 'videobasedmarketing.recording_requests' %}

{% import '@shared/macros/date_and_time.html.twig' as dateAndTimeMacros %}

{% block body %}

    <div class="bg-white h-full w-full p-8">

        <div class="flex flex-row justify-end">
            <a
                    href="{{ path('shared.presentation.contentpages.homepage') }}"
                    target="_blank"
                    class="
                        flex flex-row gap-2 justify-end items-end
                        p-2 pr-4 pl-4 rounded-md opacity-20
                        w-fit
                        hover:opacity-100
                        bg-neutral-500 text-neutral-300 font-light
                    "
            >
                <span>powered by Fyyn.io</span>
                <img
                        class="h-6"
                        src="{{ asset('assets/images/fyyn-logo-240x241.png') }}"
                        alt="Fyyn.io"
                >
            </a>
        </div>


        <div class="flex flex-col w-full md:max-w-2xl mx-auto mt-16">

            <h1 class="text-3xl font-tiro-gurmukhi">
                {{ 'ask_to_handle_responses.greeting'|trans }}
            </h1>

            <div>
                {% import '@videobasedmarketing.recordings/macros/video_preview.html.twig' as videoPreviewMacros %}
                <div class="
                        flex
                        flex-col lg:flex-row
                        justify-center lg:justify-start
                        items-center lg:items-start
                        gap-16
                        mt-8 mb-16
                        max-w-4xl
                     "
                >
                    <div class="
                            w-full shadow-xl shadow-neutral-400
                            h-fit
                         "
                    >
                        {{ videoPreviewMacros.interactive(video) }}
                    </div>
                </div>
            </div>

            {% if responses|length is same as 1 %}
                <p class="text-xl mt-8 font-extralight">
                    {{
                        'ask_to_handle_responses.text1.singular'|trans({
                            '{userIdentifier}': responses.0.recordingRequest.user.userIdentifier
                        })
                    }}
                </p>

                <form
                    method="post"
                    action="{{ path(
                        'videobasedmarketing.recording_requests.answer_response_with_video',
                        {
                            'recordingRequestResponseId': responses.0.id,
                            'videoId': video.id
                        }
                    ) }}"
                >
                    <input type="hidden" name="followUpRouteName" value="{{ followUpRouteName }}">
                    <input type="hidden" name="followUpRouteParameters" value="{{ followUpRouteParameters }}">
                    <button
                            class="cta-with-icon-success mt-8"
                            type="submit"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M7.502 6h7.128A3.375 3.375 0 0118 9.375v9.375a3 3 0 003-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 00-.673-.05A3 3 0 0015 1.5h-1.5a3 3 0 00-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6zM13.5 3A1.5 1.5 0 0012 4.5h4.5A1.5 1.5 0 0015 3h-1.5z" clip-rule="evenodd" />
                            <path fill-rule="evenodd" d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625V9.375zm9.586 4.594a.75.75 0 00-1.172-.938l-2.476 3.096-.908-.907a.75.75 0 00-1.06 1.06l1.5 1.5a.75.75 0 001.116-.062l3-3.75z" clip-rule="evenodd" />
                        </svg>
                        {{ 'ask_to_handle_responses.cta_attach'|trans }}
                    </button>
                </form>

            {% else %}

                {% for response in responses %}
                    {{ response.recordingRequest.user.userIdentifier }}
                    {{ dateAndTimeMacros.full(response.createdAt) }}
                {% endfor %}

            {% endif %}
        </div>

    </div>

{% endblock %}
