{% extends '@shared/base_default.html.twig' %}

{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

{% trans_default_domain 'videobasedmarketing.recording_requests' %}

{% block body %}

    {% embed '@shared/embeds/default_content_box.html.twig' %}

        {% trans_default_domain 'videobasedmarketing.recording_requests' %}

        {% block contentBoxTitle %}
            {{ 'overview.title'|trans }}
        {% endblock %}

        {% block contentBoxContent %}

            <div class="grid-outer">

                <div
                        class="
                            flex flex-col rounded-md p-0 bg-mercurius-blue-50
                            hover:bg-mercurius-blue-200 hover:font-bold
                        "
                >
                    <form
                            method="post"
                            action="{{ path('videobasedmarketing.recording_requests.create_recording_request') }}"
                    >
                        <button
                                class="flex flex-col p-8 justify-center w-full h-full text-mercurius-blue-900 text-center"
                        >
                            <div class="mx-auto flex flex-row">
                                {# Heroicon: video-camera solid #}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10">
                                    <path d="M4.5 4.5a3 3 0 00-3 3v9a3 3 0 003 3h8.25a3 3 0 003-3v-9a3 3 0 00-3-3H4.5zM19.94 18.75l-2.69-2.69V7.94l2.69-2.69c.944-.945 2.56-.276 2.56 1.06v11.38c0 1.336-1.616 2.005-2.56 1.06z" />
                                </svg>

                                {# Heroicon: question-mark-circle solid #}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10">
                                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm11.378-3.917c-.89-.777-2.366-.777-3.255 0a.75.75 0 01-.988-1.129c1.454-1.272 3.776-1.272 5.23 0 1.513 1.324 1.513 3.518 0 4.842a3.75 3.75 0 01-.837.552c-.676.328-1.028.774-1.028 1.152v.75a.75.75 0 01-1.5 0v-.75c0-1.279 1.06-2.107 1.875-2.502.182-.088.351-.199.503-.331.83-.727.83-1.857 0-2.584zM12 18a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <span class="mt-2 text-sm">
                                {{ 'overview.cta_add'|trans }}
                            </span>
                        </button>
                    </form>
                </div>


                {# @var recordingRequests \App\VideoBasedMarketing\RecordingRequests\Domain\Entity\RecordingRequest[] #}

                {% import '@shared/macros/date_and_time.html.twig' as dateAndTimeMacros %}
                {% for recordingRequest in recordingRequests %}
                    <a
                            href="{{
                            path(
                                'videobasedmarketing.recording_requests.recording_request_share',
                                { 'recordingRequestShortId': recordingRequest.shortId }
                            )
                            }}"
                    >
                        <div
                                class="
                                    p-12
                                    flex flex-col rounded-md p-0 bg-neutral-100
                                    hover:bg-mercurius-blue-200
                                "
                        >
                            {{ 'overview.request_title'|trans }}
                            <br/>
                            <strong>
                                {{ dateAndTimeMacros.full(recordingRequest.createdAt) }}
                            </strong>
                        </div>
                    </a>
                {% endfor %}

            </div>
        {% endblock %}

    {% endembed %}

{% endblock %}
