{% extends '@shared/base_default.html.twig' %}

{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

{% trans_default_domain 'videobasedmarketing.recording_requests' %}

{% block body %}

    {% embed '@shared/embeds/default_content_box.html.twig' %}

        {% trans_default_domain 'videobasedmarketing.recording_requests' %}

        {% block contentBoxTitle %}
            {{ 'overview.title'|trans }}
        {% endblock %}

        {% block contentBoxContent %}

            <div class="grid-outer">

                <div
                        class="
                            flex flex-col items-center justify-center rounded-md p-0 bg-mercurius-blue-50
                            hover:bg-mercurius-blue-200 hover:font-bold h-48
                        "
                >
                    <form
                            class="h-full w-full"
                            method="post"
                            action="{{ path('videobasedmarketing.recording_requests.create_recording_request') }}"
                    >
                        <button
                                class="flex flex-col justify-center items-center w-full h-full text-mercurius-blue-900 text-center"
                        >
                            <div class="flex flex-row justify-center items-center w-full">
                                {# Heroicon: user-circle solid #}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
                                    <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
                                </svg>

                                {# Heroicon: question-mark-circle solid #}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
                                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm11.378-3.917c-.89-.777-2.366-.777-3.255 0a.75.75 0 01-.988-1.129c1.454-1.272 3.776-1.272 5.23 0 1.513 1.324 1.513 3.518 0 4.842a3.75 3.75 0 01-.837.552c-.676.328-1.028.774-1.028 1.152v.75a.75.75 0 01-1.5 0v-.75c0-1.279 1.06-2.107 1.875-2.502.182-.088.351-.199.503-.331.83-.727.83-1.857 0-2.584zM12 18a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                                </svg>

                                {# Heroicon: video-camera solid #}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10">
                                    <path d="M4.5 4.5a3 3 0 00-3 3v9a3 3 0 003 3h8.25a3 3 0 003-3v-9a3 3 0 00-3-3H4.5zM19.94 18.75l-2.69-2.69V7.94l2.69-2.69c.944-.945 2.56-.276 2.56 1.06v11.38c0 1.336-1.616 2.005-2.56 1.06z" />
                                </svg>


                            </div>
                            <div class="mt-2 text-sm">
                                {{ 'overview.cta_add'|trans }}
                            </div>
                        </button>
                    </form>
                </div>


                {# @var recordingRequests \App\VideoBasedMarketing\RecordingRequests\Domain\Entity\RecordingRequest[] #}

                {% import '@shared/macros/date_and_time.html.twig' as dateAndTimeMacros %}
                {% for recordingRequest in recordingRequests %}
                    <a
                            class="flex flex-col justify-between items-start rounded-md p-0 bg-neutral-100 hover:bg-mercurius-blue-200 p-4"
                            href="{{ path(
                                'videobasedmarketing.recording_requests.recording_request.show',
                                { 'recordingRequestId': recordingRequest.Id }
                            ) }}"
                    >
                        <div class="h-14 font-semibold">
                            {{ recordingRequest.title }}
                        </div>
                        <div>
                            {{ 'overview.responses'|trans({
                                num: TwigHelperService.recordingRequestsDomainService.numberOfAnsweredResponses(recordingRequest)
                            }) }}
                        </div>
                        <div>
                            <div class="text-xs text-neutral-500">
                                {{ 'overview.request_title'|trans }}
                            </div>
                            <div class="text-xs text-neutral-500">
                                {{ dateAndTimeMacros.full(recordingRequest.createdAt) }}
                            </div>
                        </div>
                    </a>
                {% endfor %}

            </div>
        {% endblock %}

    {% endembed %}

{% endblock %}
