{% extends '@shared/base_minimal.html.twig' %}

{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}
{# @var recordingRequest \App\VideoBasedMarketing\RecordingRequests\Domain\Entity\RecordingRequest #}

{% trans_default_domain 'videobasedmarketing.recording_requests' %}

{% block javascripts %}
    {% if is_mobile() or is_tablet() or app.request.get('forceMobileView') is not empty %}
        {{ encore_entry_script_tags(
            'recordings/uppyVideoUpload',
            null,
            '_default',
            {
                'data-lang': app.request.locale,
                'data-max-file-size': TwigHelperService.videoDomainService.maxVideoUploadFilesize(recordingRequest.user),
                'data-show-inline': 'true',
                'data-dashboard-target': '#uppyVideoUploadDashboardTarget',
                'data-status-bar-target': '#uppyVideoUploadStatusBarTarget',
                'data-after-done-location': path(
                    'videobasedmarketing.recording_requests.handle_uploaded_response_video',
                    { recordingRequestId: recordingRequest.id }
                )
            }
        ) }}
    {% else %}
        <script
                defer="defer"
                src="{{ asset('assets/native-browser-recorder/main.9a8cb793.js') }}"
        ></script>
    {% endif %}
{% endblock %}


{% block body %}

    <div class="bg-white h-full w-full p-8">

        {% include '@videobasedmarketing.recording_requests/_logo.html.twig' %}

        <div class="flex flex-col w-full md:max-w-2xl mx-auto mt-16">

            <h1 class="text-3xl">
                {{ 'response_instructions.greeting'|trans }}
            </h1>

            <p class="text-xl mt-8 font-extralight">
                {{ 'response_instructions.text1'|trans({'userIdentifier': recordingRequest.user.userIdentifier}) }}
            </p>

            {% if needToCreateResponse %}
                <form method="post">
                    <button
                            class="cta-with-icon-success mt-8"
                            type="submit"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm14.024-.983a1.125 1.125 0 010 1.966l-5.603 3.113A1.125 1.125 0 019 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113z" clip-rule="evenodd" />
                        </svg>
                        {{ 'response_instructions.start_cta'|trans }}
                    </button>
                </form>

            {% else %}
                <p class="text-xl mt-8">
                    {{ 'response_instructions.text2'|trans }}
                </p>

                <ol class="mt-8 flex flex-col gap-16">
                    {% if recordingRequest.requestText|trim|length > 0 or recordingRequest.requestVideo is not null %}
                        <li>
                            <div class="text-xl font-semibold mb-4">
                                {{ 'response_instructions.step1'|trans }}
                            </div>

                            {% if recordingRequest.requestText|trim|length > 0 and recordingRequest.requestVideo is not null %}
                                <div class="mb-5">
                                    {{ 'response_instructions.request_text_and_video_intro'|trans }}
                                </div>
                                <div class="mb-4 italic text-neutral-700 shadow-inner p-4 rounded-md bg-neutral-100">
                                    <div class="font-semibold mb-4">{{ recordingRequest.title }}</div>
                                    {{ recordingRequest.requestText|nl2br }}
                                </div>
                                <div>
                                    {{ TwigHelperService.embeddableVideoPlayerPresentationService.videoEmbedCode(recordingRequest.requestVideo)|raw }}
                                </div>
                            {% elseif recordingRequest.requestText|trim|length > 0 and recordingRequest.requestVideo is null %}
                                <div class="mb-5">
                                    {{ 'response_instructions.request_text_intro'|trans }}
                                </div>
                                <div class="mb-4 italic text-neutral-700 shadow-inner p-4 rounded-md bg-neutral-100">
                                    <div class="font-semibold mb-4">{{ recordingRequest.title }}</div>
                                    {{ recordingRequest.requestText|nl2br }}
                                </div>
                            {% elseif recordingRequest.requestText|trim|length is same as 0 and recordingRequest.requestVideo is not null %}
                                <div class="mb-5">
                                    {{ 'response_instructions.request_video_intro'|trans }}
                                </div>
                                <div>
                                    {{ TwigHelperService.embeddableVideoPlayerPresentationService.videoEmbedCode(recordingRequest.requestVideo)|raw }}
                                </div>
                            {% endif %}
                        </li>
                    {% endif %}

                    <li class="mt-8">
                        <div class="text-xl font-semibold mb-4">
                            {% if recordingRequest.requestText|trim|length > 0 or recordingRequest.requestVideo is not null %}
                                {{ 'response_instructions.step2'|trans }}
                            {% else %}
                                {{ 'response_instructions.step1'|trans }}
                            {% endif %}
                        </div>
                        <div class="mb-4">
                            {% if is_mobile() or is_tablet() or app.request.get('forceMobileView') is not empty %}
                                {{ 'response_instructions.step2_intro_mobile'|trans }}
                            {% else %}
                                {{ 'response_instructions.step2_intro'|trans }}
                            {% endif %}
                        </div>
                        <div>

                            {% if is_mobile() or is_tablet() or app.request.get('forceMobileView') is not empty %}
                                <div
                                        class="hidden"
                                        id="uppyVideoUploadDashboardTarget"
                                >
                                </div>

                                <div class="mt-8 rounded-md w-full max-w-lg flex flex-row justify-center">
                                    <script>
                                        function triggerUppy() {
                                            const className = 'uppy-Dashboard-browse';
                                            const $el = document.getElementsByClassName(className)[0];
                                            if ($el === undefined) {
                                                throw new Error(`Could not find Uppy dashboard element with class "${className}".`);
                                            } else {
                                                $el.click();
                                            }
                                        }
                                    </script>
                                    <button
                                            onclick="triggerUppy()"
                                            class="
                                                cta-with-icon-primary
                                                mercurius-green-500
                                                text-2xl
                                            "
                                            data-test-id="mobileCreateVideoCta"
                                    >
                                        {{ 'response_instructions.mobile_start_cta'|trans }}
                                    </button>
                                </div>

                                <div
                                        id="uppyVideoUploadStatusBarTarget"
                                        class="mt-8 w-full flex flex-row justify-center"
                                >
                                </div>

                            {% else %}
                                <mercurius-web-recorder
                                        init-id="v1stGXR8Z5jdHi6B"
                                        brand-color="#009EE2"
                                        brand-dark-color="#0185BD"
                                        primary-color="#84CC16"
                                        primary-dark-color="#65A30D"
                                        accent-color="#fd5f00"
                                        container-width="100%"
                                        container-height="320px"
                                >
                                </mercurius-web-recorder>
                            {% endif %}
                        </div>
                    </li>
                </ol>

            {% endif %}

        </div>

    </div>

{% endblock %}
