{% extends '@shared/base_minimal.html.twig' %}

{# @var TwigHelperService \App\Shared\Presentation\Service\TwigHelperService #}

{% trans_default_domain 'videobasedmarketing.recording_requests' %}

{% block body %}

    <div class="bg-white h-full w-full p-8">

        <div class="flex flex-row justify-end">
            <a
                    href="{{ path('shared.presentation.contentpages.homepage') }}"
                    target="_blank"
                    class="
                        flex flex-row gap-2 justify-end items-end
                        p-2 pr-4 pl-4 rounded-md opacity-20
                        w-fit
                        hover:opacity-100
                        bg-neutral-500 text-neutral-300 font-light
                    "
            >
                <span>powered by Fyyn.io</span>
                <img
                        class="h-6"
                        src="{{ asset('assets/images/shared/logos/fyyn-logo-head-only-240x241.png') }}"
                        alt="Fyyn.io"
                >
            </a>
        </div>


        <div class="flex flex-col w-full md:max-w-2xl mx-auto mt-16">

            <h1 class="text-3xl">
                {{ 'response_instructions.greeting'|trans }}
            </h1>

            <p class="text-xl mt-8 font-extralight">
                {{ 'response_instructions.text1'|trans({'userIdentifier': recordingRequest.user.userIdentifier}) }}
            </p>

            {% if needToCreateResponse %}
                <form method="post">
                    <button
                            class="cta-with-icon-success mt-8"
                            type="submit"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm14.024-.983a1.125 1.125 0 010 1.966l-5.603 3.113A1.125 1.125 0 019 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113z" clip-rule="evenodd" />
                        </svg>
                        {{ 'response_instructions.start_cta'|trans }}
                    </button>
                </form>

            {% else %}
                <p class="text-xl mt-8">
                    {{ 'response_instructions.text2'|trans }}
                </p>

                <ol class="mt-8">
                    <li>
                        {{ 'response_instructions.step1'|trans }}
                    </li>

                    <li class="mt-8">
                        {{ 'response_instructions.step2'|trans }}
                    </li>

                    <li class="mt-8">
                        {{ 'response_instructions.step3'|trans }}
                    </li>
                </ol>

            {% endif %}

        </div>

    </div>

{% endblock %}
